<script id="ea-all-results-template" type="text/x-magento-template">
    <% if (enabled) { %>
    <a href="<%= href %>" class="wyomind-primary"><%= title.replace("{{term}}",term) %></a>
    <% } %>
</script>