<script id="ea-categories-template" type="text/x-magento-template">
    <% if (enabled && (displayEmpty || count > 0)) { %>
    <span class="section wyomind-primary-bgcolor">
        <span class="section-name"><%= title %></span>
        <span aria-hidden="true" class="section-amount"><%= count %></span>
    </span>
    <div class="ea-categories-grid wyomind-bg-secondary <% if (count == 0) { %>no-result<% } %>">
        <% _.each(categories, function(doc) { %>
        <div class="ea-category">
            <a href="<%- doc.url %>">
                <div class="info">
                    <span class="name"><%= doc.path %></span>
                </div>
            </a>
        </div>
        <% }) %>
        <% if (count == 0) { %>
        No category found
        <% } %>
    </div>
    <% } %>

</script>