<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customer_id = $customerSession->getCustomerId();  // get Customer Id
$customer = $objectManager->create('Magento\Customer\Model\Customer');
$cfname = (string) $customerSession->getCustomer()->getFirstname();
$clname = (string) $customerSession->getCustomer()->getLastname();
$cemail = (string) $customerSession->getCustomer()->getEmail();

// calling helper data for system config.
$helper = $this->helper('Bobcares\Quote2Sales\Helper\Adminhtml\Config');
$isRequestForQuoteformEnabledinConfig = $helper->getEnabled();
?>


<div class="config-data">
    
    <!-- Enabling and disabling the 'Add New Request' button using the Admin config. -->
    <?php if ($isRequestForQuoteformEnabledinConfig == 0): ?> 
        <fieldset class="fieldset">
            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('REQUEST FOR QUOTE IS DISABLED. YOU CAN ENABLE IT FROM') ?><a href="<?php echo $block->getUrl('admin/admin/system_config/index') ?>" title="<?php echo __('') ?>"><?php echo __(' ADMIN.') ?></a>
                </span></legend>
        <?php endif; ?>
</div>

<!-- Checking if the customer is already logged in. If yes, the normal 'quote request' page will be displayed. if he is not logged in,
       A message will be shown that he is not logged in, a button to go to login page and an option to request for the quote as a new user.
       In case of new user, the form will have additional fields for password and confirm password. It will first create an account for the
       user and then place a quote request with the new account.    
-->
<?php
if ($customerSession->isLoggedIn()) { //Customer logged in
    ?>

    <?php if ($isRequestForQuoteformEnabledinConfig == 1): ?>

        <form class="form" id="contactForm" action="<?php echo $this->getUrl('quote2sales/index/post'); ?>" method="post" data-mage-init='{"validation":{}}'>

            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('YOU ARE LOGGED IN. PLEASE REQUEST FOR A QUOTE.') ?>
                    </span></legend><br>

                <!--First name field-->
                <div class="field-required">
                    <label for="firstname" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Firstname*') ?></span>
                    </label>

                    <div class="control">
                        <input name="firstname" type="text" id="firstname" value="<?php echo $cfname ?> " class="input-text validate-xss-comment validate-alphanum-with-spaces required-entry">
                    </div>
                </div>

                <!--Last name field-->
                <div class="field-required">
                    <label for="lastname" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Lastname*') ?></span>
                    </label>

                    <div class="control">
                        <input name="lastname" type="text" id="lastname" value="<?php echo $clname ?>" class="input-text validate-xss-comment validate-alphanum-with-spaces required-entry">
                    </div>
                </div>

                <!--Email field-->
                <div class="field-required">
                    <label for="email" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Email*') ?></span>
                    </label>

                    <div class="control">
                        <input name="email" type="email" id="email"value="<?php echo $cemail ?>" class="input-text required-entry validate-email">
                    </div>
                </div>

                <!--telephone field -->
                <div class = "field-required">
                    <label for="telephone" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Telephone*') ?></span>
                    </label>

                    <div class="control">
                        <input name="telephone" type="text" id="telephone" class="validate-phonenumber validate-telephone validate-length minimum-length-3 maximum-length-15" maxlength="15">
                    </div>
                </div>

                <!--Comment field-->
                <div class="field-required">
                    <label for="comment" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Comment*') ?></span>
                    </label>

                    <div class="control">
                        <textarea name="comment" id="comment" class="input-text"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="actions-toolbar">
                <div class="primary">
                    <p class="required"><?php echo __('*Required Fields') ?></p>
                    <input type = "hidden" name = "hideit" id = "hideit" value = "" style="display:none !important;" />
                    <button type = "submit" title = "<?php echo __('Submit') ?>" class="action submit primary">
                        <span><?php echo __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>
    <?php endif; ?>
    <?php
}
else { // Customer is not logged in
    ?>
    <?php if ($isRequestForQuoteformEnabledinConfig == 1): ?>
        <form class="form" id="contactForm" action="<?php echo $this->getUrl('quote2sales/index/post'); ?>" method="post" data-mage-init='{"validation":{}}'>

            <fieldset class="fieldset">
                <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('YOU ARE NOT LOGGED IN. IF YOU HAVE AN ACCOUNT WITH US, PLEASE') ?><a href="<?php echo $block->getUrl('customer/account/login') ?>" title="<?php echo __('Sign In') ?>"><?php echo __('  Sign In') ?></a>
                    </span> <h2>OR </h2><?php /* @escapeNotVerified */ echo __(' REQUEST FOR QUOTE WITH A NEW ACCOUNT') ?></legend><br>

                <!--First name field-->
                <div class="field-required">
                    <label for="firstname" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Firstname*') ?></span>
                    </label>

                    <div class="control">
                        <input name="firstname" type="text" id="firstname" class="input-text validate-xss-comment validate-alphanum-with-spaces required-entry">
                    </div>
                </div>

                <!--Last name field-->
                <div class="field-required">
                    <label for="lastname" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Lastname*') ?></span>
                    </label>

                    <div class="control">
                        <input name="lastname" type="text" id="lastname" class="input-text validate-xss-comment validate-alphanum-with-spaces required-entry">
                    </div>
                </div>

                <!--Email field-->
                <div class="field-required">
                    <label for="email" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Email*') ?></span>
                    </label>

                    <div class="control">
                        <input name="email" type="email" id="email" class="input-text required-entry validate-email">
                    </div>
                </div>

                <!--Password field-->
                <div class="field-required">
                    <label for="password" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Password*') ?></span>
                    </label>

                    <div class="control">
                        <input name="password" type="password" id="password" class="input-text required-entry validate-password">
                    </div>
                </div>

                <!--Confirm password field-->
                <div class="field-required">
                    <label for="confirm_password" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Confirm Password*') ?></span>
                    </label>

                    <div class="control">
                        <input name="confirm_password" type="password" id="confirm_password" class="input-text required-entry validate-cpassword">
                    </div>
                </div>

                <!--telephone field -->
                <div class = "field-required">
                    <label for="telephone" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Telephone*') ?></span>
                    </label>

                    <div class="control">
                        <input name="telephone" type="text" id="telephone" class="validate-phonenumber validate-telephone validate-length minimum-length-3 maximum-length-15" maxlength="15">
                    </div>
                </div>

                <!--Comment field-->
                <div class="field-required">
                    <label for="comment" class="label">
                        <span><?php /* @escapeNotVerified */ echo __('Comment*') ?></span>
                    </label>

                    <div class="control">
                        <textarea name="comment" id="comment" class="input-text"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="actions-toolbar">
                <p class="required"><?php echo __('*Required Fields') ?></p>
                <div class="primary">
                    <input type = "hidden" name = "hideit" id = "hideit" value = "" style="display:none !important;" />
                    <button type = "submit" title = "<?php echo __('Submit') ?>" class="action submit primary">
                        <span><?php echo __('Submit') ?></span>
                    </button>
                </div>
            </div>
        </form>

    <?php endif; ?>
    <?php
} 
