<!--/**
 * Template for quotes display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */-->

<!-- Displaying the seller comment for the quote -->
<?php
$_quotes = $block->getQuoteDetails();
$customerSession = $block->getCustomerSession();
$quoteId = $this->getRequest()->getParam('quote_id');
$comments = $this->quoteComment->getSellerComment($quoteId);
?>

<?php
//Displaying the cooments into the tables.
foreach ($comments as $value):
    $comment = $value['seller_comment'];
    ?>
<?php endforeach; ?> 

<!-- If comments are there display the section. -->
<?php if($comments):?>

<div class="block block-dashboard-info">
<div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Seller Comment') ?></strong></div>
    <div class="block-content">
        <?php echo $comment; ?>
        <br><br>
    </div>
</div>
<?php endif?>

<div>

<div>
    <!--Adding the buttons.-->
    <button type="button" title="<?php echo "Proceed to Checkout"; ?>" class="action primary add" onclick="window.location = '<?php echo $this->getUrl('quote2sales/index/addProduct', ['quote_id' => $quoteId]) ?>';"><span><span><?php echo "Proceed to Checkout"; ?></span></span></button>
    <button type="button" title="<?php echo "Reject / Re-request Quote"; ?>" class="action primary add" onclick="window.location = '<?php echo $this->getUrl('*/index?rejectquoteid='. $quoteId) ?>';"><span><span><?php echo "Reject / Re-request Quote"; ?></span></span></button>
</div>
</div>

<!-- Adding the back button -->
<div class="actions-toolbar">
    <div class="secondary">
        <p class="back-link"><a href="<?php echo $block->getUrl('quote2sales/index/quotes/') ?>"><small>&laquo; </small><?php echo __('Back to My Quotes') ?></a></p>
    </div>
</div>
