<?php
/**
 * Template for quotes display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
$_quotes = $block->getQuotesCollection();
$_priceHelper = $block->getPriceHelper();
$customerSession = $block->getCustomerSession();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$urlInterface = $objectManager->get('\Magento\Framework\UrlInterface');
?>

<!-- Incase the customer is logged in display the details.-->
<?php if (!$customerSession->isLoggedIn()): 
    $customerSession->setAfterAuthUrl($urlInterface->getCurrentUrl());
    $customerSession->authenticate();?>
<?php else:?>

    <?php if ($_quotes && count($_quotes)): ?>

        <table class="data table table-order-items history" id="my-orders-table">
            <thead>
                <tr class="request-head">
                    <th scope="col" class="col id"><?php echo __('Quote #') ?></th>
                    <th scope="col" class="col date"><?php echo __('Date') ?></th>
                    <th scope="col" class="col id"><?php echo __("Items") ?></th>
                    <th scope="col" class="col total"><span class="nobr"><?php echo __('Subtotal') ?></span></th>
                    <th scope="col" class="col total"><span class="nobr"><?php echo __('Quote Total') ?></span></th>
                    <th scope="col" class="col actions">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php
                
                //Displaying the data into the tables.
                foreach ($_quotes as $_quote):
                    $id = $_quote['quote_id'];
                    $comment = $_quote['seller_comment'];
                    $created_at = $_quote["quote_date"];
                    $uoteItem = $_quote["quote_item"];
                    $subTotal = $_priceHelper->currency($_quote["subtotal"], true, false);
                    $quoteTotal = $_priceHelper->currency($_quote["quote_total"], true, false);
                    ?>
                    <tr>
                        <td><span class="nobr"><?php echo $id ?></span></td>
                        <td><span class="nobr"><?php echo $this->formatDate($created_at); ?></span></td>
                        <td><?php echo $uoteItem; ?><br></td>
                        <td><?php echo $subTotal; ?></td>  
                        <td><?php echo $quoteTotal; ?></td>
                        <td class="a-center">
                            <span class="nobr">
                                <a href="<?php echo $this->getUrl('quote2sales/index/view/') . 'quote_id/' . $id ?>" class="action view">
                                    <?php echo __('View Quote') ?></a></span>
                        </td>                 
                    </tr>
                <?php endforeach; ?>
            </tbody> 
        </tbody>
        </table> 

        <!-- Adding the pagination -->
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.  ?></div>
        <?php endif;
        ?>

        <!-- Adding the back button -->
        <div class="buttons-set">
            <p class="back-link"><a href="<?php echo $block->getUrl('customer/account') ?>"><small>&laquo; </small><?php echo __('Back') ?></a></p>
        </div>
    <?php else: ?>
        <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have no quotes.'); ?></span></div>
    <?php endif; ?>
<?php endif ?>
