<!--/**
 * Template for quotes detail display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */-->
<?php $quote_id = $this->getRequest()->getParam('quote_id'); ?>

<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$customerSession = $block->getCustomerSession();
$customerSession = $objectManager->get('\Magento\Customer\Model\Session');
$urlInterface = $objectManager->get('\Magento\Framework\UrlInterface');

?>

<?php if (!$customerSession->isLoggedIn()): 
    $customerSession->setAfterAuthUrl($urlInterface->getCurrentUrl());
    $customerSession->authenticate();?>
<?php else:?>

<div class="block block-dashboard-info">
    <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Quote #' . $quote_id) ?></strong></div>
    <div class="block-content">
        <div class="block block-dashboard-addresses">
            <div class="block-title">
                <strong><?php /* @escapeNotVerified */ echo __('Address Book') ?></strong>
                <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressBookUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Manage Addresses') ?></span></a>
            </div>
            <div class="block-content">
                <div class="box box-billing-address">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Default Billing Address') ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getPrimaryBillingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryBillingAddressEditUrl() ?>" data-ui-id="default-billing-edit-link"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
                    </div>
                </div>
                <div class="box box-shipping-address">
                    <strong class="box-title">
                        <span><?php /* @escapeNotVerified */ echo __('Default Shipping Address') ?></span>
                    </strong>
                    <div class="box-content">
                        <address>
                            <?php echo $block->getPrimaryShippingAddressHtml() ?>
                        </address>
                    </div>
                    <div class="box-actions">
                        <a class="action edit" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryShippingAddressEditUrl() ?>" data-ui-id="default-shipping-edit-link"><span><?php /* @escapeNotVerified */ echo __('Edit Address') ?></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>