<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
$imageProduct = $block->getProductForThumbnail();
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
if ($helperBase->isBundleProduct($product)) {
    $bundleProducts = $helperBase->getBundleSimpleProducts($this->getProductForThumbnail());
    $imageProduct = array_shift($bundleProducts);
}
$alt = $helperBase->getProductImageAlt($product);
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
$classTTC = ($currentPirceDisplay == 'INC_TAX') ? ' cart-hide-ht' : '';
?>
<div class="cart item-box">
    <div class="incart-item <?php if ($helperBase->isBundleProduct($product)): ?>incart-item-bundle<?php endif; ?>">
        <div data-th="<?php echo $block->escapeHtml(__('Item')); ?>" class="col item">
            <?php if ($block->hasProductUrl()): ?>
            <a href="<?php /* @escapeNotVerified */
            echo $block->getProductUrl() ?>"
               title="<?php echo $block->escapeHtml($alt) ?>"
               tabindex="-1"
               class="product-item-photo">
                <?php else: ?>
                <span class="product-item-photo">
            <?php endif; ?>
            <?php echo $block->getImage($imageProduct, 'cart_page_product_thumbnail', ['alt' => $alt])->toHtml(); ?>
            <?php if ($block->hasProductUrl()): ?>
            </a>
        <?php else: ?>
            </span>
        <?php endif; ?>
            <div class="product-item-details">
                <strong class="product-item-name">
                    <?php if ($block->hasProductUrl()): ?>
                        <a href="<?php /* @escapeNotVerified */
                        echo $block->getProductUrl() ?>"><?php echo $block->escapeHtml($block->getProductName()) ?></a>
                    <?php else: ?>
                        <?php echo $block->escapeHtml($block->getProductName()) ?>
                    <?php endif; ?>
                </strong>
                <span class="ref-numb">Réf. : <?php echo $product->getSku() ?></span>
                <?php if ($_options = $block->getOptionList()): ?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?php /* @escapeNotVerified */
                                    echo $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?php /* @escapeNotVerified */
                                    echo $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif; ?>
                <?php
                /** @var \Meridian\ProductAvailable\Helper\Data $helperAvailable */
                $helperAvailable = $this->helper('Meridian\ProductAvailable\Helper\Data');
                $statusAvailable = $helperAvailable->getMessageFrontCart($product);
                if($statusAvailable):
                    $class = 'product-availability-'.$statusAvailable['status'];
                    ?>
                    <div class="in-stock-available-product">
                        <div class="<?= $class ?>"><?= $statusAvailable['message'] ?></div>
                    </div>
                <?php endif; ?>
                <?php if ($messages = $block->getMessages()): ?>
                    <?php foreach ($messages as $message): ?>
                        <div class="cart item message <?php /* @escapeNotVerified */
                        echo $message['type'] ?>">
                            <div><?php echo $block->escapeHtml($message['text']) ?></div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                <?php if ($addInfoBlock): ?>
                    <?php echo $addInfoBlock->setItem($_item)->toHtml() ?>
                <?php endif; ?>
            </div>
        </div>


        <div class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
            <div class="control-qty">
                <input id="cart-<?php /* @escapeNotVerified */
                echo $_item->getId() ?>-qty"
                       name="cart[<?php /* @escapeNotVerified */
                       echo $_item->getId() ?>][qty]"
                       data-cart-item-id="<?php /* @escapeNotVerified */
                       echo $_item->getSku() ?>"
                       value="<?php /* @escapeNotVerified */
                       echo $block->getQty() ?>"
                       type="number"
                       size="4"
                       title="<?php echo $block->escapeHtml(__('Qty')); ?>"
                       class="input-text"
                       maxlength="12"
                       data-validate="{required:true,'validate-greater-than-zero':true}"
                       data-role="cart-item-qty"/>
                <a class="alo_qty alo_qty_inc" href="javascript:void(0)"><i class="plus">+</i></a>
                <a class="alo_qty alo_qty_dec" href="javascript:void(0)"><i class="minus">-</i></a>

            </div>
        </div>

        <div class="col last-col<?= $classTTC ?>">
            <div class="price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                <?php echo $block->getUnitPriceHtml($_item); ?>
            </div>
        </div>
    </div>
    <div class="item-actions">
        <div class="actions-toolbar">
            <?php /* @escapeNotVerified */
            echo $block->getActions($_item) ?>
        </div>
    </div>
</div>
