<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Weee\Block\Item\Price\Renderer */

$item = $block->getItem();
?>
<?php if (($block->displayPriceInclTax() || $block->displayBothPrices()) && !$item->getNoSubtotal()): ?>
    <span class="price-including-tax" data-label="<?php echo $block->escapeHtml(__('Incl. Tax')); ?>">
        <?php if ($block->displayPriceWithWeeeDetails()): ?>
            <span class="cart-tax-total"
                data-mage-init='{"taxToggle": {"itemTaxId" : "#subtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>"}}'>
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>
            <?php /* @escapeNotVerified */ echo $block->formatPrice($block->getRowDisplayPriceInclTax()); ?>
            </span>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
            <div class="cart-tax-info" id="subtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>" style="display: none;">
                <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                    <span class="weee" data-label="<?php /* @escapeNotVerified */ echo $tax['title']; ?>">
                        <?php /* @escapeNotVerified */ echo $block->formatPrice($tax['row_amount_incl_tax'], true, true); ?>
                    </span>
                <?php endforeach; ?>
            </div>

            <?php if ($block->displayFinalPrice()): ?>
                <span class="cart-tax-total"
                    data-mage-init='{"taxToggle": {"itemTaxId" : "#subtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>"}}'>
                    <span class="weee" data-label="<?php echo $block->escapeHtml(__('Total Incl. Tax')); ?>">
                        <?php /* @escapeNotVerified */ echo $block->formatPrice($block->getFinalRowDisplayPriceInclTax()); ?>
                    </span>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </span>
<?php endif; ?>

<?php if ($block->displayPriceExclTax() || $block->displayBothPrices()): ?>
    <span class="price-excluding-tax" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
        <span class="label-holder"><?php /* @escapeNotVerified */ echo __('Subtotal') ?></span>
        <?php if ($block->displayPriceWithWeeeDetails()): ?>
            <span class="cart-tax-total"
                data-mage-init='{"taxToggle": {"itemTaxId" : "#esubtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>"}}'>
        <?php else: ?>
            <span class="cart-price">
        <?php endif; ?>
                <?php /* @escapeNotVerified */ echo $block->formatPrice($block->getRowDisplayPriceExclTax()); ?>
            </span>

        <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
            <span class="cart-tax-info" id="esubtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>"
                style="display: none;">
                <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                    <span class="weee" data-label="<?php /* @escapeNotVerified */ echo $tax['title']; ?>">
                        <?php /* @escapeNotVerified */ echo $block->formatPrice($tax['row_amount'], true, true); ?>
                    </span>
                <?php endforeach; ?>
            </span>

            <?php if ($block->displayFinalPrice()): ?>
                <span class="cart-tax-total"
                      data-mage-init='{"taxToggle": {"itemTaxId" : "#esubtotal-item-tax-details<?php /* @escapeNotVerified */ echo $item->getId(); ?>"}}'>
                    <span class="weee" data-label="<?php echo $block->escapeHtml(__('Total')); ?>">
                        <?php /* @escapeNotVerified */ echo $block->formatPrice($block->getFinalRowDisplayPriceExclTax()); ?>
                    </span>
                </span>
            <?php endif; ?>
        <?php endif; ?>
    </span>
<?php endif; ?>
