<?php

/**
 * @var Meridian\ProductAvailable\Block\Product\View\Type\Simple $block ;
 *
 */


if ($block->getMessageFrontCart()) :
    $data = $block->getMessageFrontCart();
    $class = 'product-availability-'.$data['status'];
   ?>
<div class="in-stock-available-product">
   <div class="<?= $class ?>"><?= $data['message'] ?></div>
</div>
<?php endif; ?>