<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
$currentPirceDisplayText = __('Excl. Tax');
if ($currentPirceDisplay == 'INC_TAX'){
    $currentPirceDisplayText = __('Incl. Tax');
}
$currentProduct = $block->getProduct();
switch ($type = $block->getType()) {

    case 'customtype':
        /** @var \Meridian\ProductRelation\Block\Product\ProductList\Customtype $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'customtype';
            $class = $type;

            $image = 'upsell_products_list';
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('customtype');
            $shuffle = 0;

            $showAddTo = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
        break;

    case 'bundletype':
        /** @var \Meridian\ProductRelation\Block\Product\ProductList\Bundletype $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'bundletype';
            $class = $type;

            $image = 'upsell_products_list';
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('bundletype');
            $shuffle = 0;

            $showAddTo = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
        break;

    case 'other':
        break;
}
?>

<?php if ($exist): ?>
    <div class="block <?= /* @escapeNotVerified */ $class ?>">
        <div class="block-content content" aria-labelledby="block-<?= /* @escapeNotVerified */ $class ?>-heading">
            <?php
            if (count($items)):
                foreach ($items as $firstItem):
                $bundleProducts = $helperBase->getBundleProducts($firstItem);
                foreach ($bundleProducts as $bundleProduct):
                if (isset($bundleProduct['is_salable']) && $bundleProduct['is_salable']):

                    $actualPrice = 0;
                    $discountPrice = 0;
                    $cntItems = count($bundleProduct['attributeSetData']);

                    if (!empty($bundleProduct['attributeSetData']) && $cntItems) :
                        foreach ($bundleProduct['attributeSetData'] as $selection) {
                            if($currentPirceDisplay == 'INC_TAX') {
                                $product = $helperBase->getProductDetail($selection['entity_id']);
                                $actualPrice += (isset($selection['special_price']) && !is_null($selection['special_price']) ? $helperBase->getPriceInclTax($product, $selection['special_price']) : $helperBase->getPriceInclTax($product, $selection['price']));
                                $discountPrice += $helperBase->getPriceInclTax($product, $selection['selection_price_value']);
                            } else {
                                $actualPrice += (isset($selection['special_price']) && !is_null($selection['special_price']) ? $selection['special_price'] : $selection['price']);
                                $discountPrice += $selection['selection_price_value'];
                            }
                        }
                        //$discount = round($actualPrice - $discountPrice, 2);
                        //$discountPrecent = round(($actualPrice - $discountPrice) * 100 / $actualPrice, 0);
                        $discount = $actualPrice - $discountPrice;
                        $discountPrecent = round($discount * 100 / $actualPrice, 2);

                        $optionsItems = $helperBase->getOptionsItem($bundleProduct['id']);
                        $options = $optionsItems['options'];
                        $_selections = $optionsItems['selections'];
                        $_item = $optionsItems['product_item'];
                        ?>
                        <div class="bundle-product">
                            <div class="col-sm-12">
                                <div class="related-products">
                                    <div class="related-products-holder related-item-<?php echo $cntItems; ?>">
                                        <?php
                                        $iterate = 0;
                                        foreach ($bundleProduct['attributeSetData'] as $selection) {
                                            //echo sprintf('<div class="var-dump" style="display: none">%s</div>',
                                            //    print_r($selection,1));
                                            if (!($selection['is_salable'])) {
                                                //continue;
                                            }
                                            $product = $helperBase->getProductDetail($selection['entity_id']);
                                            $qty = $helperBase->getProductQty($product);
                                            if ($qty <= 0) {
                                                //continue;
                                            }
                                            ?>
                                            <?php
                                            if ($iterate) {
                                                echo '<span class="plus-sign">+</span>';
                                            }
                                            $iterate++;
                                            $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
                                                ->init($product, 'product_small_image')
                                                ->setImageFile($product->getFile())
                                                ->getUrl();
                                            $alt = $helperBase->getProductImageAlt($product);

                                            $anchor = true;
                                            $productUrl = $product->getProductUrl();
                                            ?>
                                            <div class="related-item">
                                                <div class="item-img">
                                                    <?php if($anchor): ?>
                                                    <a href="<?php echo $productUrl; ?>">
                                                    <?php endif; ?>
                                                        <img src="<?php echo $imageUrl; ?>" alt="<?php echo $block->escapeHtml($alt); ?>" title="<?php echo $block->escapeHtml($alt); ?>"/>
                                                    <?php if($anchor): ?>
                                                    </a>
                                                    <?php endif; ?>
                                                </div>
                                                <div class="item-name">
                                                    <?php
                                                    $maxLength = 36;
                                                    $productName = $product->getName();
                                                    //$productName = substr($productName, 0, $maxLength).'...';
                                                    $priceIncTax = false;
                                                    $priceIncTax = $helperBase->getBundlePriceInclAndExclTax($product, $selection['selection_price_value']);
                                                    if (isset($priceIncTax['incl'])) {
                                                        $priceIncTax = $helperBase->currencyFormate($priceIncTax['incl']);
                                                    }
                                                    $oldPrice = ($currentPirceDisplay == 'INC_TAX') ? $helperBase->getPriceInclTax($product,$product->getPrice()) : $product->getPrice();
                                                    if($product->getSpecialPrice()){
                                                        $oldPrice = ($currentPirceDisplay == 'INC_TAX') ? $helperBase->getPriceInclTax($product,$product->getFinalPrice()) : $product->getFinalPrice();
                                                    }
                                                    ?>
                                                    <div class="item-price-container">
                                                    <span class="item-price">
                                                    <?php if ($priceIncTax && $currentPirceDisplay == 'INC_TAX'): ?>
                                                        <?php echo $priceIncTax . ' ' . $currentPirceDisplayText; ?>
                                                    <?php else: ?>
                                                        <?php echo $helperBase->currencyFormate($selection['selection_price_value']); ?>
                                                        <?php echo $currentPirceDisplayText; ?>
                                                    <?php endif; ?>
                                                    </span>
                                                    <?php if($priceIncTax && ($currentPirceDisplay !== 'INC_TAX')): ?>
                                                    <span class="price-including-tax price-after-tax" data-label="<?php echo __('Incl. Tax'); ?>"><span
                                                                class="price"><?php echo $priceIncTax; ?></span></span>
                                                    <?php endif; ?>
                                                    <span class="item-price old-price"><?php echo sprintf('%s %s',$helperBase->currencyFormate($oldPrice),$currentPirceDisplayText); ?></span>
                                                    </div>
                                                    <?php if($anchor): ?>
                                                        <a class="three-lines" href="<?php echo $productUrl; ?>"><?php echo $productName; ?></a>
                                                    <?php else: ?>
                                                        <span class="three-lines"><?php echo $productName; ?></span>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    </div>
                                    <div class="offerbuy">
                                        <span class="offer-discount"><?php echo __('%1 or %2 saving', sprintf('<span class="offer-strong">%s&#37;</span>',$discountPrecent), sprintf('<span class="offer-strong">%s %s</span>',$helperBase->currencyFormate($discount),$currentPirceDisplayText)); ?></span>
                                        <?php $bundleTax = $helperBase->getBundlePriceInclAndExclTax($firstItem,$discountPrice); ?>
                                        <strong class="price"><?php echo sprintf('%s %s',$helperBase->currencyFormate($discountPrice),$currentPirceDisplayText); ?></strong>
                                        <?php if(isset($bundleTax['incl']) && ($currentPirceDisplay !== 'INC_TAX')): ?>
                                            <span class="price-including-tax price-after-tax" data-label="<?php echo __('Incl. Tax'); ?>"><span
                                                        class="price"><?php echo $helperBase->currencyFormate($bundleTax['incl']); ?></span></span>
                                        <?php endif; ?>

                                        <form data-role="tocart-form" action="<?php echo $helperBase->getAddToCartUrlHelper($_item); ?>" method="post">
                                            <?php echo $block->getBlockHtml('formkey'); ?>
                                            <input class="hidden-option" type="hidden" name="qty" value="1" />
                                            <?php foreach ($options as $_option) { ?>
                                                <?php foreach ($_selections as $_selection): ?>
                                                    <?php if ($_selection->isSaleable()): ?>
                                                        <?php
                                                        $qty = $helperBase->getProductQty($_selection);
                                                        /*if ($qty <= 0) {
                                                            continue;
                                                        }*/
                                                        ?>
                                                        <input class="hidden-option" type="checkbox"
                                                            <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':\'input[name^=&quot;bundle_option[' . $_option->getId() . ']&quot;]:checked\'}"' ?>
                                                               name="bundle_option[<?php /* @escapeNotVerified */
                                                               echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                                               echo $_selection->getId() ?>]"
                                                               data-selector="bundle_option[<?php /* @escapeNotVerified */
                                                               echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                                               echo $_selection->getId() ?>]"
                                                            <?php echo 'checked="checked"'; ?>
                                                            <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                                               value="<?php /* @escapeNotVerified */
                                                               echo $_selection->getSelectionId() ?>"/>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                                <?php
                                            }
                                            ?>
                                            <button type="submit" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="btn-offer">
                                                <?php /* @escapeNotVerified */
                                                echo __('Add to Cart'); ?>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
                <?php endforeach; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
