<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
/** @var \Meridian\Base\Helper\Data $helperCustom */
$helperCustom = $this->helper('Meridian\Base\Helper\Data');
$currentPirceDisplay = $helperCustom->currentPriceDisplayType();
switch ($type = $block->getType()) {

    case 'customtype':
        /** @var \Meridian\ProductRelation\Block\Product\ProductList\Customtype $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'customtype';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('customtype');
            $shuffle = 0;

            $showAddTo = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
        break;

    case 'bundletype':
        /** @var \Meridian\ProductRelation\Block\Product\ProductList\Bundletype $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'bundletype';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('bundletype');
            $shuffle = 0;

            $showAddTo = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
        break;

    case 'other':
        break;
}
?>

<?php if ($exist): ?>
    <div class="block <?= /* @escapeNotVerified */ $class ?>">
        <div class="block-content content" aria-labelledby="block-<?= /* @escapeNotVerified */ $class ?>-heading">
            <?php
            $getUpSellProducts = $helperCustom->getUpSellProducts($block->getProduct());
            $firstItem = array_shift($items);
            $bundleProducts = $helperCustom->getBundleProducts($firstItem);
            ?>
            <?php
            if (count($bundleProducts)):
                foreach ($bundleProducts as $bundleProduct):
                if (isset($bundleProduct['is_salable']) && $bundleProduct['is_salable']):

                    $actualPrice = 0;
                    $discountPrice = 0;

                    if (!empty($bundleProduct['attributeSetData']) && count($bundleProduct['attributeSetData'])) :
                        foreach ($bundleProduct['attributeSetData'] as $selection) {

                            if (isset($selection['is_salable']) && !($selection['is_salable'])) {
                                continue;
                            }

                            $actualPrice += $selection['price'];
                            $discountPrice += $selection['selection_price_value'];
                        }
                        $discount = round($actualPrice - $discountPrice, 2);

                        $optionsItems = $helperCustom->getOptionsItem($bundleProduct['id']);
                        $options = $optionsItems['options'];
                        $_selections = $optionsItems['selections'];
                        $_item = $optionsItems['product_item'];
                        ?>
                        <div class="bundle-product">
                            <div class="col-sm-12">
                                <div class="offer-package">
                                    <div class="offer-price">
                                        <h2>
                                            <?php echo __('Achetez ensemble'); ?><span>& <?php echo __('économisez'); ?></span>
                                            <span class="price"><?php echo $helperCustom->currencyFormate($discount); ?></span>
                                        </h2>
                                    </div>
                                    <div class="offer-items">
                                        <div class="two-item">
                                            <?php
                                            $iterate = 0;
                                            foreach ($bundleProduct['attributeSetData'] as $selection) {
                                                if (!($selection['is_salable'])) {
                                                    continue;
                                                }

                                                $product = $helperCustom->getProductDetail($selection['entity_id']);
                                                $qty = $helperCustom->getProductQty($product);
                                                if ($qty <= 0) {
                                                    //continue;
                                                }

                                                if ($iterate) {
                                                    echo '<span class="plus-sign">+</span>';
                                                }
                                                $iterate++;
                                                $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
                                                    ->init($product, 'product_small_image')
                                                    ->setImageFile($product->getFile())
                                                    ->getUrl();

                                                if ($product->isVisibleInSiteVisibility()) {
                                                    $anchor = true;
                                                } else {
                                                    $anchor = false;
                                                }
                                                ?>
                                                <div class="item">
                                                    <div class="item-img">
                                                        <?php if ($anchor): ?>
                                                        <a href="<?php echo $product->getProductUrl(); ?>">
                                                            <?php endif; ?>
                                                            <img src="<?php echo $imageUrl; ?>"
                                                                 alt="<?php echo $product->getName(); ?>"
                                                                 title="<?php echo $product->getName(); ?>"/>
                                                            <?php if ($anchor): ?>
                                                        </a>
                                                    <?php endif; ?>
                                                    </div>
                                                    <div class="item-name">
                                                        <span class="item-price">
                                                            <?php echo $helperCustom->currencyFormate($selection['selection_price_value']); ?>
                                                            <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                                                <?php echo __('Incl. Tax'); ?>
                                                            <?php endif; ?>
                                                            <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                                                <?php echo __('Excl. Tax'); ?>
                                                            <?php endif; ?>
                                                        </span>
                                                        <?php if ($anchor): ?>
                                                            <a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a>
                                                        <?php else: ?>
                                                            <?php echo $product->getName(); ?>
                                                        <?php endif; ?>
                                                    </div>
                                                </div>
                                            <?php } ?>
                                        </div>
                                    </div>
                                    <div class="offer-buy">
                                        <strong class="price"><?php echo $helperCustom->currencyFormate($discountPrice); ?>
                                            <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                                <?php echo __('Incl. Tax'); ?>
                                            <?php endif; ?>
                                            <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                                <?php echo __('Excl. Tax'); ?>
                                            <?php endif; ?>
                                        </strong>
                                        <span><?php echo __('Vous eçonomisez:'); ?><?php echo $helperCustom->currencyFormate($discount); ?>
                </span>
                                        <form data-role="tocart-form"
                                              action="<?php echo $helperCustom->getAddToCartUrlHelper($_item); ?>" method="post">
                                            <?php echo $block->getBlockHtml('formkey'); ?>
                                            <?php
                                            foreach ($options as $_option) {
                                                ?>
                                                <?php foreach ($_selections as $_selection): ?>
                                                    <?php if ($_selection->isSaleable()): ?>
                                                        <?php
                                                        $qty = $helperCustom->getProductQty($_selection);
                                                        if ($qty <= 0) {
                                                            continue;
                                                        }
                                                        ?>
                                                        <input class="hidden-option"
                                                               id="bundle-option-<?php /* @escapeNotVerified */
                                                               echo $_option->getId() ?>-<?php /* @escapeNotVerified */
                                                               echo $_selection->getSelectionId() ?>"
                                                               type="checkbox"
                                                            <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':\'input[name^=&quot;bundle_option[' . $_option->getId() . ']&quot;]:checked\'}"' ?>
                                                               name="bundle_option[<?php /* @escapeNotVerified */
                                                               echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                                               echo $_selection->getId() ?>]"
                                                               data-selector="bundle_option[<?php /* @escapeNotVerified */
                                                               echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                                               echo $_selection->getId() ?>]"
                                                            <?php echo ' checked="checked"'; //if ($_selection->getIsDefault()) ?>
                                                            <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                                               value="<?php /* @escapeNotVerified */
                                                               echo $_selection->getSelectionId() ?>"/>
                                                    <?php endif; ?>
                                                <?php endforeach; ?>
                                                <?php
                                            }
                                            ?>
                                            <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="btn-offer">
                                                <?php /* @escapeNotVerified */
                                                echo __('Add to Cart'); ?>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
