<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Meridian\Customer\Block\Form\Edit $block */
$customerType = $block->getCustomer()->getCustomAttribute('customer_type');
$customerTypeValue = null;
if($customerType) {
    $customerTypeValue = $customerType->getValue();
}
?>
<form class="form form-edit-account" action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/account/editPost') ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php /* @escapeNotVerified */ $block->escapeHtml( __('* Required Fields')) ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?php echo $block->getBlockHtml('formkey')?>
        <div class="fields customer-type">
            <div class="field">
                <div class="control">
                    <input id="type_pro" type="radio" name="customer_type" value="pro"<?php if ($customerTypeValue == 'pro'): ?> checked="checked"<?php endif; ?> />
                    <label for="type_pro"><?= $block->escapeHtml(__('Professionnel')) ?></label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input id="type_no_pro" type="radio" name="customer_type" value="no_pro"<?php if ($customerTypeValue == 'no_pro'): ?> checked="checked"<?php endif; ?> />
                    <label for="type_no_pro"><?= $block->escapeHtml(__('Particulier')) ?></label>
                </div>
            </div>
        </div>
        <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
        <?php if ($_company->isEnabled()): ?>
            <?php if ($block->getCustomer()->getCustomAttribute('company')):?>
            <?= $_company->setCompany($block->getCustomer()->getCustomAttribute('company')->getValue())->setTemplate('Meridian_Customer::widget/company.phtml')->toHtml() ?>
            <?php endif ?>
        <?= $_company->toHtml()?>
            <?php endif ?>
        <?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?php /* @escapeNotVerified */ echo __('Change Password') ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label class="label" for="change-password"><span><?php /* @escapeNotVerified */ echo __('Change Password') ?></span></label>
        </div>
        </fieldset>
    <script>
        require([
            'jquery',
            'mage/mage'
        ], function($){
            var dataForm = $('#form-validate');
            var ignore = <?= /* @noEscape */ 'null' ?>;
            dataForm.mage('validation', {
                ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
            }).find('input:text').attr('autocomplete', 'off');
            var customerType = $('.customer-type input:radio:checked').val();
            if(customerType == 'no_pro') {
                $('.field.company #company').attr("data-validate","");
                $('.field.company').hide().removeClass('required');
                $('.field.taxvat').hide();
                $('.fieldset-no-pro').show();
                $('.fieldset-pro').hide();
                $('.customer-type').addClass("customer-centered");
                $('.page-title-wrapper').addClass("customer-centered");
                $('.fieldset-pro input').prop('disabled',true);
                $('.fieldset-no-pro input').prop('disabled',false);
            } else {
                $('.field.company #company').attr("data-validate","{required:true}");
                $('.field.company').show().addClass('required');
                $('.field.taxvat').show();
                $('.fieldset-no-pro').hide();
                $('.fieldset-pro').show();
                $('.customer-type').removeClass("customer-centered");
                $('.page-title-wrapper').removeClass("customer-centered");
                $('.fieldset-pro input').prop('disabled',false);
                $('.fieldset-no-pro input').prop('disabled',true);
            }

            $('.fieldset-no-pro input').prop('disabled',true);
            <?php if ($block->getCustomer()->getCustomAttribute('customer_type') == 'no_pro'): ?>
            $('#type_no_pro').click();
            <?php endif; ?>
        });
    </script>

    <fieldset class="fieldset password" data-container="change-email-password">
        <div class="field email required" data-container="change-email">
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?php echo $block->escapeHtml($block->getCustomer()->getEmail()) ?>" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
            </div>
        </div>
        <div class="field password current required">
            <label class="label" for="current-password"><span><?php /* @escapeNotVerified */ echo __('Current Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
            </div>
        </div>
        <div class="field new password required" data-container="new-password" data-mage-init='{"passwordStrengthIndicator": {}}'>
            <label class="label" for="password"><span><?php /* @escapeNotVerified */ echo __('New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password" id="password"
                       data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
                       data-input="new-password"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off" />
                <div id="password-strength-meter-container" data-role="password-strength-meter" >
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?php /* @escapeNotVerified */ echo __('Password Strength'); ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label" >
                            <?php /* @escapeNotVerified */ echo __('No Password'); ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirm password required" data-container="confirm-password">
            <label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('Confirm New Password') ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                       data-input="confirm-password"
                       autocomplete="off" />
            </div>
        </div>
        <?php echo $block->getChildHtml('form_additional_info2');?>
        <?php echo $block->getChildHtml('form_additional_info'); ?>
    </fieldset>

        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="<?php /* @escapeNotVerified */ echo __('Save') ?>"><span><?php /* @escapeNotVerified */ echo __('Save') ?></span></button>
            </div>
        </div>
</form>

<?php if ($block->getShowAddressFields()): ?>
    <script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
<script>
    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ 'null' ?>;

        dataForm.mage('validation', {
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        }).find('input:text').attr('autocomplete', 'off');

        $('.customer-type input:radio').on('click',function () {
            var customerType = $(this).val();
            if(customerType == 'no_pro') {
                $('.field.company #company').attr("data-validate","");
                $('.field.company').hide().removeClass('required');
                $('.field.taxvat').hide();
                $('.fieldset-no-pro').show();
                $('.fieldset-pro').hide();
                $('.customer-type').addClass("customer-centered");
                $('.page-title-wrapper').addClass("customer-centered");
                $('.fieldset-pro input').prop('disabled',true);
                $('.fieldset-no-pro input').prop('disabled',false);
            } else {
                $('.field.company #company').attr("data-validate","{required:true}");
                $('.field.company').show().addClass('required');
                $('.field.taxvat').show();
                $('.fieldset-no-pro').hide();
                $('.fieldset-pro').show();
                $('.customer-type').removeClass("customer-centered");
                $('.page-title-wrapper').removeClass("customer-centered");
                $('.fieldset-pro input').prop('disabled',false);
                $('.fieldset-no-pro input').prop('disabled',true);
            }
        });
        $('.fieldset-no-pro input').prop('disabled',true);
        <?php if ($block->getCustomer()->getCustomAttribute('customer_type') == 'no_pro'): ?>
        $('#type_no_pro').click();
        <?php endif; ?>
    });
</script>

<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?php /* @escapeNotVerified */ echo __('Change Email') ?>",
                "titleChangePassword": "<?php /* @escapeNotVerified */ echo __('Change Password') ?>",
                "titleChangeEmailAndPassword": "<?php /* @escapeNotVerified */ echo __('Change Email and Password') ?>"
            }
        }
    }
</script>

