<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<div class="block">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2">
            <?= $block->escapeHtml(__('Checkout as Guest')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getUrl('meridiancustomer/account/guest')) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Continue')) ?></span></a>
            </div>
        </div>
    </div>
</div>

<style>
    .login-container .block{
        max-width:33.3%;
    }
    .login-container .block:nth-child(odd), .login-container .block:nth-child(even) {
        clear: none;
        float:left;
    }
</style>