<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
    <div class="block">
        <div class="block-title">
            <strong id="block-new-customer-heading" role="heading" aria-level="2">
                <?= $block->escapeHtml(__('New Customer')) ?></strong>
            <span class="sub-title"><?php echo $block->escapeHtml(__('I create my account in 2 minutes')) ?></span>
        </div>
        <div class="block-content" aria-labelledby="block-new-customer-heading">
            <div class="block-content block-new-customer-heading">
                <p class="no-margin-bottom"><strong><?php echo $block->escapeHtml(__('Why create an account?')) ?></strong></p>
                <p class="text-allow"><?php echo $block->escapeHtml(__('At COMPTOIR DES PROS, your account allows you to:')) ?></p>
                <ul>
                    <li><?= $block->escapeHtml(__('Accumulate loyalty points')) ?>,</li>
                    <li><?= $block->escapeHtml(__('Place your orders faster')) ?></li>
                    <li><?= $block->escapeHtml(__('Consulter et suivre vos commandes')) ?></li>
                    <li><?= $block->escapeHtml(__('Be informed of the tracking and shipping of your orders')) ?></li>
                    <li><?= $block->escapeHtml(__('Get Privilege* access to benefit from even better prices...')) ?></li>

                </ul>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>"
                       class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
