<?php
/** @var \Magento\Customer\Block\Form\Register $block */
$formData = $block->getFormData();
$isGuest = $this->getRequest()->getParam('guest',0);
?>
<div class="before-create-container dashboard-holder">
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
    <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
    <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
    <input type="hidden" name="create_address" value="0" />
    <input type="hidden" name="default_billing" value="0">
    <input type="hidden" name="default_shipping" value="0">
    <input type="hidden" name="country_id" value="FR">
    <input type="hidden" name="guest" value="<?php echo $isGuest; ?>">
    <div class="fields customer-type">
        <div class="field">
            <div class="control">
                <input id="type_pro" type="radio" name="customer_type" value="pro"<?php if ($block->getFormData()->getCustomerType() != 'no_pro'): ?> checked="checked"<?php endif; ?> />
                <label for="type_pro"><?= $block->escapeHtml(__('Professionnel')) ?></label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input id="type_no_pro" type="radio" name="customer_type" value="no_pro"<?php if ($block->getFormData()->getCustomerType() == 'no_pro'): ?> checked="checked"<?php endif; ?> />
                <label for="type_no_pro"><?= $block->escapeHtml(__('Particulier')) ?></label>
            </div>
        </div>
    </div>

    <div class="fieldset fieldset-pro<?= ($isGuest) ? ' fieldset-guest' : ''?>">
        <fieldset class="fieldset create info">
            <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
            <?php if ($_company->isEnabled()): ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->setTemplate('Meridian_Customer::widget/company.phtml')->setType('pro')->toHtml() ?>
            <?php endif ?>
            <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->setTemplate('Meridian_Customer::widget/name.phtml')->setType('pro')->toHtml() ?>
            <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->setTemplate('Meridian_Customer::widget/taxvat.phtml')->setType('pro')->toHtml() ?>
            <?php endif ?>

            <?= $block->getChildHtml('form_additional_info2') ?>
            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <?php if ($block->getShowAddressFields()): ?>
            <fieldset class="fieldset address">
                <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
                <input type="hidden" name="create_address" value="1" />

                <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
                <?php if ($_company->isEnabled()): ?>
                    <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
                <?php endif ?>

                <?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
                <?php if ($_telephone->isEnabled()): ?>
                    <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
                <?php endif ?>

                <?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
                <?php if ($_fax->isEnabled()): ?>
                    <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
                <?php endif ?>

                <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

                <div class="field street required">
                    <label for="street_1" class="label"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
                    <div class="control">
                        <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                        <div class="nested">
                            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                            <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                                <div class="field additional">
                                    <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                        <span><?= $block->escapeHtml(__('Address')) ?></span>
                                    </label>
                                    <div class="control">
                                        <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                    </div>
                                </div>
                            <?php endfor; ?>
                        </div>
                    </div>
                </div>

                <div class="field required">
                    <label for="city" class="label"><span><?= $block->escapeHtml(__('City')) ?></span></label>
                    <div class="control">
                        <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= $block->escapeHtmlAttr(__('City')) ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="city">
                    </div>
                </div>

                <div class="field region required">
                    <label for="region_id" class="label"><span><?= $block->escapeHtml(__('State/Province')) ?></span></label>
                    <div class="control">
                        <select id="region_id" name="region_id" title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>" class="validate-select" style="display:none;">
                            <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                        </select>
                        <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= $block->escapeHtmlAttr(__('State/Province')) ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" style="display:none;">
                    </div>
                </div>

                <div class="field zip required">
                    <label for="zip" class="label"><span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
                    <div class="control">
                        <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= $block->escapeHtmlAttr(__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                    </div>
                </div>

                <div class="field country required">
                    <label for="country" class="label"><span><?= $block->escapeHtml(__('Country')) ?></span></label>
                    <div class="control">
                        <?= $block->getCountryHtmlSelect() ?>
                    </div>
                </div>
                <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
                <?php if ($addressAttributes): ?>
                    <?php $addressAttributes->setEntityType('customer_address'); ?>
                    <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                    <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                    <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
                <?php endif;?>
                <input type="hidden" name="default_billing" value="1">
                <input type="hidden" name="default_shipping" value="1">
            </fieldset>

        <?php endif; ?>
        <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field required">
                <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email address')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <?php if(!$isGuest): ?>
            <div class="field password required">
                <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password" id="password"
                           title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                           class="input-text"
                           data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?= $block->escapeHtml(__('Password Strength')) ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="field confirmation required">
                <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                </div>
            </div>
            <?php endif; ?>
            <?php if ($block->isNewsletterEnabled() && !$isGuest): ?>
                <div class="field choices newsletter">
                    <div class="control">
                        <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Je m’abonne à la newsletter')) ?>" value="1" id="is_subscribed_pro"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="is_subscribed_pro"><span><?= $block->escapeHtml(__('Je m’abonne à la newsletter')) ?></span></label>
                    </div>
                    <div class="control">
                        <input type="checkbox" name="subscribe_partners" title="<?= $block->escapeHtmlAttr(__('Je m’abonne à la newsletter partenaires')) ?>" value="1" id="is_subscribe_partners_pro"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="is_subscribe_partners_pro"><span><?= $block->escapeHtml(__('Je m’abonne à la newsletter partenaires')) ?></span></label>
                    </div>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php elseif ($isGuest): ?>
                <div class="field choices newsletter newsletter-guest">
                    <div class="control">
                        <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Je ne m’abonne pas à la newsletter')) ?>" value="0" id="is_subscribed_pro" checked="checked" class="checkbox" readonly="readonly">
                        <label for="is_subscribed_pro"><span><?= $block->escapeHtml(__('Je ne m’abonne pas à la newsletter')) ?></span></label>
                    </div>
                    <div class="control">
                        <input type="checkbox" name="subscribe_partners" title="<?= $block->escapeHtmlAttr(__('Je ne m’abonne pas à la newsletter partenaires')) ?>" value="0" id="is_subscribe_partners_pro" checked="checked" class="checkbox" readonly="readonly">
                        <label for="is_subscribe_partners_pro"><span><?= $block->escapeHtml(__('Je ne m’abonne pas à la newsletter partenaires')) ?></span></label>
                    </div>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php endif ?>
        </fieldset>
    </div>
    <div class="fieldset fieldset-no-pro<?= ($isGuest) ? ' fieldset-guest' : ''?>" style="display: none;">
        <fieldset class="fieldset create info">
            <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
            <?php if ($_company->isEnabled()): ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->setTemplate('Meridian_Customer::widget/company.phtml')->toHtml() ?>
            <?php endif ?>
            <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
            <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
            <?php if ($_taxvat->isEnabled()): ?>
                <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
            <?php endif ?>
        </fieldset>

        <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <div class="field required">
                <label for="email_address_no_pro" class="label"><span><?= $block->escapeHtml(__('Email address')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" autocomplete="email" id="email_address_no_pro" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <?php if(!$isGuest): ?>
            <div class="field password required">
                <label for="password_no_pro" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password" id="password_no_pro"
                           title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                           class="input-text"
                           data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                           data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                           data-validate="{required:true, 'validate-customer-password':true}"
                           autocomplete="off">
                    <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?= $block->escapeHtml(__('Password Strength')) ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="field confirmation required">
                <label for="password-confirmation_no_pro" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation_no_pro" class="input-text" data-validate="{required:true, equalTo:'#password_no_pro'}" autocomplete="off">
                </div>
            </div>
            <?php endif; ?>
            <?php if ($block->isNewsletterEnabled() && !$isGuest): ?>
                <div class="field choices newsletter">
                    <div class="control">
                        <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Je m’abonne à la newsletter')) ?>" value="1" id="is_subscribed_no_pro"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="is_subscribed_no_pro"><span><?= $block->escapeHtml(__('Je m’abonne à la newsletter')) ?></span></label>
                    </div>
                    <div class="control">
                        <input type="checkbox" name="subscribe_partners" title="<?= $block->escapeHtmlAttr(__('Je m’abonne à la newsletter partenaires')) ?>" value="1" id="is_subscribe_partners_no_pro"<?php if ($block->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox">
                        <label for="is_subscribe_partners_no_pro"><span><?= $block->escapeHtml(__('Je m’abonne à la newsletter partenaires')) ?></span></label>
                    </div>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php elseif ($isGuest): ?>
                <div class="field choices newsletter newsletter-guest">
                    <div class="control">
                        <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Je ne m’abonne pas à la newsletter')) ?>" value="0" id="is_subscribed" checked="checked" class="checkbox" readonly="readonly">
                        <label for="is_subscribed"><span><?= $block->escapeHtml(__('Je ne m’abonne pas à la newsletter')) ?></span></label>
                    </div>
                    <div class="control">
                        <input type="checkbox" name="subscribe_partners" title="<?= $block->escapeHtmlAttr(__('Je ne m’abonne pas à la newsletter partenaires')) ?>" value="0" id="is_subscribe_partners" checked="checked" class="checkbox" readonly="readonly">
                        <label for="is_subscribe_partners"><span><?= $block->escapeHtml(__('Je ne m’abonne pas à la newsletter partenaires')) ?></span></label>
                    </div>
                </div>
                <?php /* Extensions placeholder */ ?>
                <?= $block->getChildHtml('customer.form.register.newsletter') ?>
            <?php endif ?>
        </fieldset>
        <fieldset class="fieldset captcha">
            <?= $block->getChildHtml('form_additional_info2') ?>
            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
    </div>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Continue')) ?>"><span><?= $block->escapeHtml(__('Continue')) ?></span></button>
        </div>
    </div>
</form>
<script>
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ 'null' ?>;

    dataForm.mage('validation', {
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    }).find('input:text').attr('autocomplete', 'off');

    $('.customer-type input:radio').on('click',function () {
        var customerType = $(this).val();
        if(customerType == 'no_pro') {
            $('.field.company #company').attr("data-validate","");
            $('.field.company').hide().removeClass('required');
            $('.field.taxvat').hide();
            $('.fieldset-no-pro').show();
            $('.fieldset-pro').hide();
            $('.customer-type').addClass("customer-centered");
            $('.page-title-wrapper').addClass("customer-centered");
            $('.fieldset-pro input').prop('disabled',true);
            $('.fieldset-no-pro input').prop('disabled',false);
        } else {
            $('.field.company #company').attr("data-validate","{required:true}");
            $('.field.company').show().addClass('required');
            $('.field.taxvat').show();
            $('.fieldset-no-pro').hide();
            $('.fieldset-pro').show();
            $('.customer-type').removeClass("customer-centered");
            $('.page-title-wrapper').removeClass("customer-centered");
            $('.fieldset-pro input').prop('disabled',false);
            $('.fieldset-no-pro input').prop('disabled',true);
        }
    });
    $('.fieldset-no-pro input').prop('disabled',true);
    <?php if ($block->getFormData()->getCustomerType() == 'no_pro'): ?>
    $('#type_no_pro').click();
    <?php endif; ?>
});
</script>
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
</div>