<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>
<div class="details-rating-holder">
	<div class="details-rating">
	<?php echo $block->getReviewsSummaryHtml($block->getProduct(), false, true)?>
	</div>
</div>
