<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="amount price-container">
    <!-- ko if: displaySubtotal() -->
        <!-- ko if: window.checkout.tax_display == 2 -->
            <span class="price-wrapper" data-bind="html: window.checkout.subtotal_incl_tax_value"></span>
        <!-- /ko -->

        <!-- ko if: window.checkout.tax_display == 1 -->
            <span class="price-wrapper" data-bind="html: window.checkout.subtotal_excl_tax_value"></span>
        <!-- /ko -->

        <!-- ko if: !display_cart_subtotal_excl_tax && !display_cart_subtotal_incl_tax -->
            <span class="price-wrapper price-including-tax"
                  data-bind="attr: { 'data-label': $t('Incl. Tax') }, html: cart().subtotal_incl_tax">
            </span>

            <span class="price-wrapper price-excluding-tax"
                  data-bind="attr: { 'data-label': $t('Excl. Tax') }, html: cart().subtotal_excl_tax">
            </span>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: displaySubtotal() -->
        <!-- ko foreach: getRegion('minicart-subtotal-hidden') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</div>
