<?php
/** @var Meridian\Base\Block\StoreInformation $block */
$tel = $block->getStoreTelephone();
$hours = $block->getStoreHours();
?>
<div class="tel-info">
    <span class="icon-phone"></span>
    <div class="info-text">
        <span><?php echo __('Une question ?'); ?></span>
        <strong class="phne"><?php echo $tel; ?></strong>
        <time datetime="2011-01-12"><?php echo $hours; ?></time>
    </div>
</div>
<div class="tel-info-mobile">
    <a href="tel:<?php echo $tel; ?>" aria-label="tel-info" class="visible-mobile-only">
        <span class="icon-phone"></span>
    </a>
    <span class="icon-phone visible-tablet-only"></span>
    <div class="info-text">
        <span><?php echo __('Une question ?'); ?></span>
        <strong class="phne"><?php echo $tel; ?></strong>
        <time datetime="2011-01-12"><?php echo $hours; ?></time>
    </div>
</div>