<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="wrap-inner">
<img class="maintenance-img" src="https://new.comptoirdespros.com/errors/comptoirdespros/images/maintenance.png" alt="maintenance mode">
</div>
