<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magento\Framework\View\Element\Html\Links */
?>
<?php /** @var $block \Magento\Customer\Block\Account\Navigation */ ?>
<div class="block dashboard-nav dashboard-desktop-nav">
    <div class="title hidden"><strong><?php /* @escapeNotVerified */ echo __('My Account'); ?></strong></div>
    <div class="content">
        <nav class="account-nav">
            <ul class="nav items">
                <?php echo $block->getChildHtml();?>
            </ul>
        </nav>
    </div>
</div>


<div class="block dashboard-nav dashboard-moblie-nav" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
    <div class="title" data-role="title">
        <strong id="opener" role="heading" aria-level="2"><?php /* @escapeNotVerified */ echo __('My Account'); ?></strong>
    </div>
    <div class="content" data-role="content" aria-labelledby="opener">
        <nav class="account-nav">
            <ul class="nav items">
                <?php echo $block->getChildHtml();?>
            </ul>
        </nav>
    </div>
</div>
