/************************************************************************************
Document : Cutom.css
Created on : 2md Nov 2016
Author : BDT
Description: Custom css for admin pages.
*************************************************************************************/

/*Request*/
.box-left {
    border: 1px solid black;
    height: 200px;
    width: 400px;
}

/*Account Information*/
.box-right {
    border: 1px solid black;
    float: right;
    height: 205px;
    width: 400px;
    position: relative;
    bottom: 200px;
}

/*Headings*/
.entry-edit-head {
    background: black none repeat scroll 0 0;
    color: white;
    text-align: left;
    height: 25px;
}

/*Table fields*/
.fieldset {
    margin-left: 10px;
}

/*Details*/
.grid-no {
    border: 1px solid black;
    height: 100px;
    width: 875px;
    position: relative;
    top: 75px;
}

/*Details*/
.grid {
    border: 1px solid black;
    height: 85px;
}

/*Quote Comments*/
.even {
    top: 75px;
}

/*Convert Quote Table*/
.data order-tables {
    background: black none repeat scroll 0 0;
    color: white;
}

/*Totals*/
.order-totals-bottom {
    /*border: 1px solid black; */
    color: white;
    position: relative;
    top: 25px;
    height: 125px;
}

.entry-edit.form-inline {
    float: left;
    width: 50%;
}
#order-shipping_method.q2s-order-shipping-method {
    float: left !important;
}