<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Weee\Block\Item\Price\Renderer */

$item = $block->getItem();

// ensure we use the zone for the shopping cart / minicart
$originalZone = $block->getZone();
$block->setZone(\Magento\Framework\Pricing\Render::ZONE_CART);
?>

<?php if ($block->displayPriceInclTax() || $block->displayBothPrices()): ?>
<span class="price-including-tax price-after-tax" data-label="<?= $block->escapeHtml(__('Incl. Tax')) ?>">
    <?php if ($block->displayPriceWithWeeeDetails()): ?>
    <span class="minicart-tax-total">
    <?php else: ?>
        <span class="minicart-price">
    <?php endif; ?>
    <?= /* @escapeNotVerified */ $block->formatPrice($block->getUnitDisplayPriceInclTax()) ?>
        </span>

        <?php if ($block->displayPriceWithWeeeDetails()): ?>
            <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
                <span class="minicart-tax-info">
            <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                <span class="weee" data-label="<?= /* @escapeNotVerified */ $tax['title'] ?>">
                    <?= /* @escapeNotVerified */ $block->formatPrice($tax['amount_incl_tax'], true, true) ?>
                </span>
            <?php endforeach; ?>
            </span>

            <?php if ($block->displayFinalPrice()): ?>
                    <span class="minicart-tax-total">
                    <span class="weee" data-label="<?= $block->escapeHtml(__('Total Incl. Tax')) ?>">
                        <?= /* @escapeNotVerified */ $block->formatPrice($block->getFinalUnitDisplayPriceInclTax()) ?>
                    </span>
                </span>
                <?php endif; ?>
            <?php endif; ?>
        <?php endif; ?>
    </span>
    <?php endif; ?>

    <?php if ($block->displayPriceExclTax() || $block->displayBothPrices()): ?>
    <span class="price-excluding-tax" data-label="<?= $block->escapeHtml(__('Excl. Tax')) ?>">
    <?php if ($block->displayPriceWithWeeeDetails()): ?>
        <span class="minicart-tax-total">
    <?php else: ?>
            <span class="minicart-price">
    <?php endif; ?>
    <?= /* @escapeNotVerified */ $block->formatPrice($block->getUnitDisplayPriceExclTax()) ?>
        </span>

            <?php if ($block->displayPriceWithWeeeDetails()): ?>
                <?php if ($this->helper('Magento\Weee\Helper\Data')->getApplied($item)): ?>
                    <span class="minicart-tax-info">
            <?php foreach ($this->helper('Magento\Weee\Helper\Data')->getApplied($item) as $tax): ?>
                <span class="weee" data-label="<?= /* @escapeNotVerified */ $tax['title'] ?>">
                    <?= /* @escapeNotVerified */ $block->formatPrice($tax['amount'], true, true) ?>
                </span>
            <?php endforeach; ?>
            </span>

            <?php if ($block->displayFinalPrice()): ?>
                        <span class="minicart-tax-total">
                    <span class="weee" data-label="<?= $block->escapeHtml(__('Total')) ?>">
                        <?= /* @escapeNotVerified */ $block->formatPrice($block->getFinalUnitDisplayPriceExclTax()) ?>
                    </span>
                </span>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endif; ?>
    </span>
        <?php endif; ?>
        <?php $block->setZone($originalZone); ?>
