<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
$isCategoryId = $helperBase->getCategoryId();
$isCategoryMarques = $helperBase->checkIsCategoryMarques($isCategoryId);
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?= /* @escapeNotVerified */
            __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @escapeNotVerified */
    $viewMode ?> products-<?= /* @escapeNotVerified */
    $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?= /* @escapeNotVerified */
                ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                <?php
                $productUrl = $_product->getProductUrl();
//                if($isCategoryMarques) {
//                    $productUrl = $helperBase->getFullProductUrl($_product);
//                }
                ?>
                <div class="product-item-info" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <?php
                    if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_product)) {
                        ?>
                        <div class="dicount-percent">
                            <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_product); ?>
                        </div>
                        <?php
                    }
                    ?>
                    <a href="<?= /* @escapeNotVerified */
                    $productUrl ?>" class="product photo product-item-photo" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    <div class="product details product-item-details product-<?php echo $_product->getTypeId() ?>">

                        <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <?php if ($_product->getTypeId() === 'configurable'): ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */
                               $productUrl ?>">
                                <?= /* @escapeNotVerified */
                                $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                        </strong>
                        <div class="price-container-configurable">
                            <span class="pre-price-label"><?php echo __('À partir de') ?></span>
                            <?php
                            $priceAmount = $helperBase->getMinPriceConfigurable($_product);
                            $priceIncl = $helperBase->getPriceInclTax($_product, $priceAmount);
                            $priceIncTax = $helperBase->currencyFormate($priceIncl);
                            $priceExclTax = $helperBase->currencyFormate($priceAmount);
                            $count = $helperBase->getCountCompareProducts($_product);
                            $text = ($count == 1) ? __('%1 référence pour ce produit', $count) : __('%1 références pour ce produit', $count);
                            ?>
                            <div class="price-box price-final_price" data-role="priceBox" data-product-id="<?php echo $_product->getId() ?>">
                                <span class="price-container price-final_price tax weee">
                                    <span data-price-amount="<?php echo ($currentPirceDisplay == 'EXC_TAX') ? $priceAmount : $priceIncl ?>" data-price-type="finalPrice" class="price-wrapper ">
                                        <span>
                                            <span class="price"><?php echo ($currentPirceDisplay == 'EXC_TAX') ? $priceExclTax : $priceIncTax ?></span>
                                        </span>
                                    </span>
                                    <span class="tax-type"><?= ($currentPirceDisplay == 'EXC_TAX') ? __('Excl. Tax') : __('Incl. Tax') ?></span>
                                </span>
                            </div>
                            <?php echo sprintf('<span class="price-including-tax price-after-tax" data-label="%s"><span class="price">%s</span></span>', __("Incl. Tax"), $priceIncTax); ?>
                            <span class="ref-count">(<?php echo $text ?>)</span>
                        </div><!-- end price-container-configurable -->
                        <?php else: ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="<?= /* @escapeNotVerified */
                                   $productUrl ?>">
                                    <?= /* @escapeNotVerified */
                                    $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        <?php endif; ?>

                        <?= $block->getProductDetailsHtml($_product) ?>

                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" data-product-sku="<?= /* @NoEscape */
                                        $_product->getSku() ?>" action="<?= /* @NoEscape */
                                        $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */
                                            $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */
                                            Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */
                                            $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */
                                                    __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */
                                                    __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                    __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links"
                                     class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription): ?>
                                <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */
                                    $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= /* @escapeNotVerified */
                                    $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */
                                    $_productNameStripped ?>"
                                       class="action more"><?= /* @escapeNotVerified */
                                        __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?= ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */
            $_product->getSku() ?>"
                }
            }
        }

        </script>
    <?php endif; ?>
<?php endif; ?>
