<?php
$moduleId = "product_popup_prix";
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$enable = $helperBase->getStoreConfig('comptoir_config/product_page/use_prix');
$text = $helperBase->getStoreConfig('comptoir_config/product_page/prix');
?>
<?php if($enable): ?>
<a href="javascript:void(0)" class="product_popup_prix hidden" data-toggle="modal" data-target="#tabModal<?php echo
$moduleId ?>"><?php echo __('Show Prix Popup'); ?></a>
<div id="tabModal<?php echo $moduleId ?>" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><button class="close" type="button" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                <div class="tabcontent">
                    <?php echo $text; ?>
                </div>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>