<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>

<?php /* <h4 class="icon-head fieldset-legend <?php echo $block->getHeaderCssClass() ?>"><?php echo $block->getHeaderText() ?></h4> */ ?>
<div class="admin__field field-comment">
    <label for="quote-comment" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo __('Quote Comments') ?></span></label>
    <div class="admin__field-control">
        <textarea
            id="order-comment"
            name="order[comment][customer_note]"
            class="admin__control-textarea"><?php /* @escapeNotVerified */ echo $block->getCommentNote() ?></textarea>
    </div>
</div>
<script>
    require(["Magento_Sales/order/create/form"], function () {
        order.commentFieldsBind('order-comment')
    });
</script>
