<?php
/**
 * Items Template 
 *
 * @category    Quotes grid
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 *
 */

?>

<div class="admin__page-section-title">
    <strong class="title"><?php /* @escapeNotVerified */ echo 'Items Quoted'; ?></strong>
    <div class="actions">
        <?php echo $block->getButtonsHtml() ?>
    </div>
</div>
<?php echo $block->getChildHtml() ?>