<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()): ?>
    <div class="category-description">
        <div class="container cate-desc">
        	<?php /* @escapeNotVerified */ //echo $this->helper('Magento\Catalog\Helper\Output')->categoryAttribute($block->getCurrentCategory(), $_description, 'description') ?>
            <?php  /* @escapeNotVerified */ echo $this->helper('Comptoirdespros\CustomerStatus\Helper\Custom')->categoryDescription($block,$_description); ?>
        </div>
    </div>
<?php endif; ?>
