<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php

/* Custom Code */
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Brand');
$resultSet = $helperBrand->brandCategories();
/* Custom Code */
?>

<?php
/**/
if (!empty($resultSet)) { ?>

    <div class="container">
        <div class="depertment-brand row">
            <?php
            $i = 0;
            foreach ($resultSet as $result) {
                if ($i > 5) break;
                ?>
                <div class="box-holder">
                    <div class="brand-box"><a href="<?php echo $block->getUrl() . $result['url'] . ".html"; ?>"><img
                                    src="<?php echo $block->getBaseUrl() . "pub/media/catalog/category/" . $result['image']; // To avaoid new query ?>"
                                    alt="<?php echo $result['name']; ?>" title="<?php echo $result['name']; ?>"/></a>
                    </div>
                    <a class="brand-link"
                       href="<?php echo $block->getUrl() . $result['url'] . ".html"; ?>"><?php echo $result['name']; ?></a>
                </div>

                <?php $i++;
            } ?>
        </div>
    </div>

<?php } ?>
