<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
 
<?php
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Brand');
$categoriesSessionvalue = $helperBrand->getCatalogSession()->getBrandsCategoryValue();
if($categoriesSessionvalue) {
$categories = $categoriesSessionvalue;
} else {
$categories =  $helperBrand->getBrandsCategory(122, ''); //MARQUES
$helperBrand->getCatalogSession()->setBrandsCategoryValue($categories);
}
$helper = $this->helper('Magento\Catalog\Helper\Output');
$counterHideLimit = 12;
?>
<div class="inner-container">
    <div class="row">
        <?php
        $counter = 0;
        foreach ($categories as $category) {
            $cat = $helperBrand->getCategory($category);
            $catUrl = $cat->getUrl();
            $imgUrl = $cat->getImageUrl();
            if (!$imgUrl) {
				$mediaUrl = $helperBrand->getMediaUrl();
				//$mediaUrl = $block->getBaseUrl();
                $imgUrl = $mediaUrl . 'wysiwyg/site-images/brand-default.png'; //pub/media/
            }

            if ($counter == $counterHideLimit) {
                echo '<div id="moreLogo" class="collapse">';
            }
            ?>
            <div class="logo-col">
                <div class="logo-holder">
                    <a href="<?php echo $cat->getUrl(); ?>" title="<?php $cat->getName(); ?>">
                        <img src="<?php echo $imgUrl ?>" alt="<?php echo $block->escapeHtml($cat->getName()); ?>"
                             title="<?php echo $block->escapeHtml($cat->getName()); ?>" class="image" />
                    </a>
                </div>
            </div>

            <?php $counter++;
        } ?>

        <?php if ($counter > $counterHideLimit) {
            echo "</div>";
            echo "<div class='clearfix'></div>";
            echo '<div class="text-center">
            <button class="partner-opener collapsed" data-toggle="collapse" data-target="#moreLogo"> <span class="showme">Moins margues <i class="fa fa-angle-up"></i></span> <span class="hideme">Toutes nos margues <i class="fa fa-angle-down"></i></span> </button>
            </div>';
        } ?>
    </div>
</div>
