<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php

/* Custom Code */
$helperBrand = $this->helper('Comptoirdespros\CustomerStatus\Helper\Custom');
$_categories = $helperBrand->subDepartmentCategories();
/* Custom Code */
?>

<?php
/**/
if (!empty($_categories)) { ?>

    <nav class="sub-department-nav">
        <ul class="nav">
            <?php
            $i = 0;
            foreach ($_categories as $_category) { ?>
                <?php if ($_category->getIsActive()): ?>
                    <li><a href="<?php echo $_category->getUrl() ?>"><?php echo $block->escapeHtml($_category->getName()) ?></a></li>
                <?php endif; ?>
                <?php
            } ?>
        </ul>
    </nav>
<?php } ?>
