<?php
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/

/* @var $block \Aheadworks\Helpdesk\Block\Customer\Ticket\Info */

// @codingStandardsIgnoreFile

$ticket = $block->getTicket();
$ticketIsSolved = $ticket->getStatus() == \Aheadworks\Helpdesk\Model\Source\Ticket\Status::SOLVED_VALUE;
$ticketStatusLabel = $block->getTicketStatusLabel();
?>
<div class="block-title">
    <strong><?php /* @escapeNotVerified */ echo __('Historique de conversations') ?></strong>
</div>
<?php if(!$ticketIsSolved): ?>
<a class="ticket-close-link" href="<?php echo $block->escapeUrl($block->getTicketCloseUrl($ticket->getId())) ?>">
    <button id="aw-helpdesk-close-button" title="<?php echo $block->escapeHtml(__('Close Ticket')) ?>" class="action close-ticket">
        <span><?php echo $block->escapeHtml(__('Close Ticket')) ?></span>
    </button>
</a>
<?php endif; ?>
<div class="box-content fieldset info-fieldset">
    <div class="field aw-helpdesk-ticket-view__field">
        <label class="label"><?php echo $block->escapeHtml(__('Status')) ?></label>
        <div class="control"><span><?php echo $block->escapeHtml($ticketStatusLabel) ?></span></div>
    </div>
    <div class="field aw-helpdesk-ticket-view__field">
        <label class="label"><?php echo $block->escapeHtml(__('Order')) ?></label>
        <div class="control">
            <?php if($ticket->getOrderId()): ?>
                <a href="<?php echo $block->escapeUrl($block->getOrderViewUrl($ticket->getOrderId())) ?>">
                    #<?php echo $block->escapeHtml($block->getOrderIncrementId($ticket->getOrderId())); ?>
                </a>
            <?php else: ?>
                <span><?php echo $block->escapeHtml(__("Unassigned")) ?></span>
            <?php endif; ?>
        </div>
    </div>
</div>