<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */
$helperBase = $this->helper('\Meridian\Base\Helper\Data');
$_item = $block->getItem();
?>
<tr id="order-item-row-<?= /* @escapeNotVerified */ $_item->getId() ?>" class="order-view-item">
    <td class="col name" data-th="<?= $block->escapeHtml(__('Product Name')) ?>">
        <div class="wrap-item-info-short">
            <div class="order-image-place"><img class="item-image-photo" src="<?=$helperBase->getProductImageByProductId($_item->getProductId())?>" alt=""></div>
            <div class="order-name-place"><strong><?= $block->escapeHtml($_item->getName()) ?></strong></div>
            <div class="order-sku-place"><span><?=__("Réf :")?> <?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></span></div>
        </div>
        <?php if ($_options = $block->getItemOptions()): ?>
            <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                    <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                    <?php if (!$block->getPrintStatus()): ?>
                        <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                        <dd>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                            <?php else: ?>
                                <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                            <?php endif; ?>
                        </dd>
                    <?php else: ?>
                        <dd>
                            <?= nl2br($block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value']))) ?>
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addtInfoBlock) :?>
            <?= $addtInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="col qty" data-th="<?= $block->escapeHtml(__('Qty')) ?>">
        <ul class="items-qty">
            <?php if ($block->getItem()->getQtyOrdered() > 0): ?>
                    <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered()*1 ?></span>
            <?php endif; ?>
        </ul>
    </td>
    <td class="col price" data-th="<?= $block->escapeHtml(__('Price')) ?>">
        <?= $block->getItemPriceHtml() ?>
    </td>
</tr>
<tr class="only-mob-v">
    <div class="inner-wrap-info-order">
        <div class="image-col-or"><img class="item-image-photo" src="<?=$helperBase->getProductImageByProductId($_item->getProductId())?>" alt=""></div>
        <div class="name-col-or">
            <div class="la-name"><strong><?= $block->escapeHtml($_item->getName()) ?></strong></div>
            <div class="la-ref"><span><?=__("Réf :")?> <?= /* @escapeNotVerified */ $block->prepareSku($block->getSku()) ?></span></div>
            <div class="la-qte"><?=__('Qty')?> : <span class="content"><?= /* @escapeNotVerified */ $block->getItem()->getQtyOrdered()*1 ?></span></div>
            <div class="la-price"><?= $block->getItemPriceHtml() ?></div>
        </div>
    </div>
</tr>
