<?php
/**
 * Template for totals for items quotes 
 * in view quotes display.
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
?>

<table class="totals-table">
    <tbody>
        <?php foreach ($block->getTotals() as $_code => $_total): ?>
            <?php if ($_total->getBlockName()): ?>
                <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
            <?php else: ?>
                <tr class="<?php /* @escapeNotVerified */ echo $_code ?>">
                    <th <?php /* @escapeNotVerified */ echo $block->getLabelProperties() ?> scope="row">
                        <?php if ($_total->getStrong()): ?>
                            <strong><?php echo $block->escapeHtml($_total->getLabel()); ?></strong>
                        <?php else: ?>
                            <?php echo $block->escapeHtml($_total->getLabel()); ?>
                        <?php endif ?>
                    </th>
                    <td <?php /* @escapeNotVerified */ echo $block->getValueProperties() ?> data-th="<?php echo $block->escapeHtml($_total->getLabel()); ?>">
                        <?php if ($_total->getStrong()): ?>
                            <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                        <?php else: ?>
                            <?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endif ?>
        <?php endforeach ?>
    </tbody>
</table>
