<tr class="totals delivery-message">
    <td class="amount">
        <!-- ko if: window.checkoutConfig.delivery_message -->
        <div class="product-availability-yellow-checkout" data-bind="html: window.checkoutConfig.delivery_message"></div>
        <!--/ko-->
    </td>
</tr>