<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isDisplayed() -->
<tr class="totals">
    <th colspan="1" style="" class="mark" scope="row">
        <span class="title" data-bind="text: title"></span>
        <!-- ko if: isTTC()  -->
        <span> (TTC)</span>
        <!-- /ko -->
        <!-- ko if: isHT()  -->
        <span> (HT)</span>
        <!-- /ko -->
    </th>
    <td class="amount" data-bind="attr: {'data-th': title}">
            <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
<!-- /ko -->

