<?php
/**
 * Account Information template
 * @category    Bobcares
 * @package     Bobcares_Quote2Sales
 * @author      BDT
 */
?>
<div class="admin__page-section-title <?php /* @escapeNotVerified */ echo $block->getHeaderCssClass() ?>">
    <span class="title"><?php /* @escapeNotVerified */ echo $block->getHeaderText() ?></span>
    <div class="actions"></div>
</div>
<div id="customer_account_fieds" class="admin__page-section-content">
    <?php echo $block->getForm()->getHtml() ?>
</div>

<script>
    require(["prototype", "Magento_Sales/order/create/form"], function(){
        quote.accountFieldsBind($('customer_account_fieds'));
    });
</script>
