<?php
/**
 * Copyright 2016 aheadWorks. All rights reserved.
 * See LICENSE.txt for license details.
 */

/** @var \Aheadworks\Helpdesk\Block\Customer\TicketList $block */

// @codingStandardsIgnoreFile
?>
<?php if ($block->getTickets() && count($block->getTickets())): ?>
    <div class="table-wrapper tickets dashboard-as-table ">
        <div class="block-title">
            <strong><?= /* @escapeNotVerified */ __('Historique de vos demandes') ?></strong>
        </div>
        <table class="data table table-tickets" id="my-tickets-table">
            <caption class="table-caption"><?php echo $block->escapeHtml(__('Tickets')) ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col id"><?php echo $block->escapeHtml(__('ID')) ?></th>
                <th scope="col" class="col subject"><?php echo $block->escapeHtml(__('Subject')) ?></th>
                <th scope="col" class="col order"><?php echo $block->escapeHtml(__('N°commande')) ?></th>
                <th scope="col" class="col status"><?php echo $block->escapeHtml(__('Status')) ?></th>
                <th scope="col" class="col last_reply"><?php echo $block->escapeHtml(__('Last Reply')) ?></th>
            </tr>
            </thead>
            <tbody>
            <?php
            /** @var \Aheadworks\Helpdesk\Model\Ticket $ticket */
            foreach ($block->getTickets() as $ticket): ?>
                <tr>
                    <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id">
                        <?php echo $block->escapeHtml($ticket->getUid()); ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Subject')) ?>" class="col subject">
                        <a href="<?php echo $block->escapeUrl($block->getTicketViewUrl($ticket->getTicketId()) )?>"><?php echo $block->escapeHtml($ticket->getSubject()) ?></a>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Order')) ?>" class="col order">
                        <?php if ($ticket->getOrderId()) : ?>
                            <a href="<?php echo $block->escapeUrl($block->getOrderViewUrl($ticket->getOrderId())) ?>"><?php echo $block->escapeHtml('#' . $ticket->getOrderIncrementId()) ?></a>
                        <?php endif; ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status">
                        <?php echo $block->escapeHtml($block->getTicketStatusLabel($ticket->getStatus())) ?>
                    </td>
                    <td data-th="<?php echo $block->escapeHtml(__('Last Reply')) ?>" class="col last_reply"><?php /* @noEscape */ echo $block->dateFormat($ticket->getLastReplyDate()); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getToolbarHtml()): ?>
        <div class="toolbar tickets-toolbar bottom">
            <?php echo $block->getToolbarHtml() ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo $block->escapeHtml(__('You have submitted no tickets.')) ?></span></div>
<?php endif; ?>

<div id="create_ticket_form">
    <?php echo $block->getChildHtml('aw_helpdesk_ticket_create') ?>
</div>
