<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$type = $block->getData('type') ? $block->getData('type') : rand() . time();
$fieldId = 'taxvat'.$type;
?>
<div class="field taxvat<?php if ($block->isRequired()) echo ' required'; ?>">
    <label class="label" for="<?php /* @escapeNotVerified */ echo $block->getFieldId($fieldId)?>"><span><?php /* @escapeNotVerified */ echo __('Tax/VAT number') ?></span></label>
    <div class="control">
        <input type="text" id="<?php /* @escapeNotVerified */ echo $block->getFieldId($fieldId)?>" name="<?php /* @escapeNotVerified */ echo $block->getFieldName('taxvat')?>" value="<?php echo $block->escapeHtml($block->getTaxvat()) ?>" title="<?php /* @escapeNotVerified */ echo __('Tax/VAT number') ?>" class="input-text <?php /* @escapeNotVerified */ echo $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('taxvat') ?>" <?php /* @escapeNotVerified */ echo $block->getFieldParams() ?> <?php if ($block->isRequired()) echo ' data-validate="{required:true}"' ?>>
    </div>
</div>
