<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Confirmation de commande #%order_id" order_id=$order.increment_id}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var order.getEmailCustomerNote()":"Email Order Note",
"var order.increment_id":"Order Id",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-summary">
        <td>
            <h1 style="font-size: 22px;" class="email-summary-header">{{trans 'CONFIRMATION DE VOTRE COMMANDE <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p>{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Bonjour, %customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Nous vous remercions pour votre commande sur %store_name et vous informons que celle-ci a bien été prise en" store_name=$store.getFrontendName()}}
                {{trans "compte. Nous vous contacterons dès que votre colis sera expédié."}}
            </p>
            <p>
                {{trans 'En attendant, Vous pouvez retrouver tous les détails de votre commande en vous connectant à votre compte client, rubrique <a href="%account_url">Mes commandes</a>' account_url=$this.getUrl($store,'sales/order/history/',[_nosid:1]) |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
            <table class="order-details" style="border-collapse: separate; margin-bottom: 50px;">
                <tr>
                    <td class="address-details" style="width: 30%; padding: 5px;">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details" style="width: 30%; padding: 5px;">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                    <td class="email-address-details-info" style="width: 40%; padding: 5px;">
                        <div style="padding: 5px;">
                            <h3>{{trans "Shipping Method"}}</h3>
                            <p>{{var order.getShippingDescription()}}</p>
                            {{if shipping_msg}}
                            <p>{{var shipping_msg}}</p>
                            {{/if}}
                        </div>
                        <div style="margin-top: 10px;padding: 5px;">
                            <h3>{{trans "Payment Method"}}</h3>
                            {{var payment_html|raw}}
                        </div>
                    </td>
                </tr>
            </table>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
