<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your %store_name order has shipped" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-summary">
        <td>
            <h1 class="email-summary-header">{{trans 'CONFIRMATION D’EXPÉDITION DE VOTRE COMMANDE <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p style="margin-bottom: 30px; font-size: 10px;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Bonjour, %customer_name," customer_name=$order.getCustomerName()}}</p>
            <p>
                {{trans "Nous vous remercions pour votre commande sur %store_name et vous informons que celle-ci vient d’être expédiée." store_name=$store.getFrontendName()}}
                {{trans "compte. Nous vous contacterons dès que votre colis sera expédié."}}
            </p>
            <p>
                {{trans 'Vous pouvez suivre l’acheminement de votre colis en vous connectant à votre <a href="%account_url">compte client</a>' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
            {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Magento_Sales::email/shipment/track-info.phtml' shipment=$shipment order=$order}}
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1 style="margin-bottom: 20px;">{{trans "DETAIL OF YOUR ORDER:"}}</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend comment}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var comment|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
            <table class="order-details" style="border-collapse: separate; margin-bottom: 50px;border-spacing: 5px;">
                <tr>
                    <td class="address-details" style="width: 30%; padding: 10px;">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details" style="width: 30%; padding: 10px;">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                    <td class="email-address-details-info" style="width: 35%; padding: 5px;">
                        <div style="padding: 5px;">
                            <h3>{{trans "Shipping Method"}}</h3>
                            <p>{{var order.getShippingDescription()}}</p>
                            {{if shipping_msg}}
                            <p>{{var shipping_msg}}</p>
                            {{/if}}
                        </div>
                        <div style="margin-top: 10px;padding: 5px;">
                            <h3>{{trans "Payment Method"}}</h3>
                            {{var payment_html|raw}}
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
