.data-grid {
  .data-grid-th {
    select {
      color: #000;
    }  }
}

.accordion {
  .config {
    .rdv_config {
      select {
        width: auto;
        max-width: 100%;
      }

      a.add_creneau {
        &:after {
          font-family: @icons-admin__font-name;
          content: @icon-plus__content; /* image + */
          font-size: 2rem;
          margin-left: 10px;
          vertical-align: middle;
        }
        &:hover {
          text-decoration: none;
        }
      }

      td.del_creneau_cell {
        vertical-align: middle;
        a.del_creneau {
          &:before {
            font-family: @icons-admin__font-name;
            content: @icon-delete__content; /* image corbeille */
            font-size: 2rem;
            color: #514943;
          }
          &:hover {
            text-decoration: none;
          }
          span {
            display: none;
          }
        }
      }

    }
  }
}