<?php
$helperUser = $this->helper('Meridian\CustomerStatus\Helper\Data');
?>

<div class="wrap-welcom-text">
    <div class="welcom-name"><strong><?=__('Bonjour ') . $helperUser->getCurrentUser()->getFirstname();?></strong></div>
    <div class="welcom-additional-text"><?=__("Depuis votre tableau de bord client, vous pouvez consulter d'un seul coup d'oeil vos activités récentes ainsi que mettre à jour vos informations personnelles.")?></div>
</div>