<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="subtotal">
    <!-- ko if: isTTC()  -->
    <!-- ko if: isPriceInclTaxDisplayed() && !getRegion('row_incl_tax') -->
    <span class="price-including-tax"
          data-bind ="text: getValueInclTax($parents[1]), attr:{'data-label': $t('Incl. Tax')}">
    </span>
    <!-- /ko -->

    <!-- ko if: isPriceInclTaxDisplayed() && getRegion('row_incl_tax') -->
    <span class="price-including-tax remove-ttc" data-bind ="attr:{'data-label': $t('Incl. Tax')}">
            <!-- ko foreach: getRegion('row_incl_tax') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </span>
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: isHT()  -->
    <!-- ko if: isPriceExclTaxDisplayed() && !getRegion('row_excl_tax') -->
    <span class="price-excluding-tax remove-ttc"  data-bind ="text: getValueExclTax($parents[1]), attr:{'data-label': $t('Excl. Tax')}">
    </span>
    <!-- /ko -->
    <!-- ko if: isPriceExclTaxDisplayed() && getRegion('row_excl_tax') -->
    <span class="price-excluding-tax remove-ttc">
            <!-- ko foreach: getRegion('row_excl_tax') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </span>
    <!-- /ko -->
    <!-- /ko -->
</div>
