<?php
/** @var \Meridian\ProductRelation\Block\Product\ProductList\CompareList $block */
$block_price = $this->getLayout()->createBlock("\Magento\Tax\Block\Item\Price\Renderer");
/** @var \Meridian\Base\Helper\Data $helperCustom */
$helperCustom = $this->helper('Meridian\Base\Helper\Data');

$currentPirceDisplay = $helperCustom->currentPriceDisplayType();

$_product = $block->getProduct();
//echo $product->getData('demo');
$productType = $_product->getTypeId();
if ($productType) {
    $products = $block->getItemCollection()->getItems();
    //$attributes = $block->getAttributes();
    $productsCompare = $block->getCompareCollections();
//Load all used configurable attributes
    //$configurableAttributeCollection = $block->getComparableAttributes();
    echo sprintf('Items count %s, compare items count %s',count($products),$productsCompare->count()).'<br>';
    $configurableAttributeCollection = $block->getAttributes();
    $productsItems = $attrNoValues = array();
    foreach ($products as $product) {
        $data = array(
            'id' => $product->getId(),
            'sku' => $product->getName(),
            'name' => $product->getSku(),
            'thumbnail' => $product->getThumbnail(),
            'url_key' => $product->getUrlKey(),
            'price' => $product->getPrice(),
            'status' => $product->getStatus(),
            'salable' => $product->isSaleable(),
            'product_obj' => $product,
            'priceIncludeTax' => $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue()

        );
        $productsItems[$product->getId()]['product'] = $data;
        foreach ($configurableAttributeCollection as $attribute) {
            $attributeValue = $product->getResource()->getAttribute($attribute->getAttributeCode())->getFrontend();
            $attrCode = $attribute->getAttributeCode();
            $attrLabel = $attribute->getFrontendLabel();
            $attrValue = $attributeValue->getValue($product);
            $productsItems[$product->getId()]['attribute'][$attrCode]['label'] = $attrLabel;
            $productsItems[$product->getId()]['attribute'][$attrCode]['code'] = $attrCode;
            $productsItems[$product->getId()]['attribute'][$attrCode]['value'] = $attrValue;
            $checkValue = $block->getProductAttributeValue($product, $attribute);
            if(empty($attrValue) || $attrValue == '' || ($attrValue instanceof Magento\Framework\Phrase &&
                    ($attrValue->getText() == 'No' || $attrValue == 'N/A'))) {
                $attrNoValues[$attrCode][] = $product->getId();
            }
        }
    }
    ?>
    <div class="modeles-tab-content" id="fullDesc">
        <div class="table-wrapper comparison">
            <table class="data table table-comparison" id="product-comparison"
                   data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Compare Products') ?></caption>
                <tbody>
                <tr>
                    <?php $_i = 0; ?>
                    <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($productsCompare as $_item): ?>
                        <?php if ($_i++ == 0): ?>
                            <th scope="row" class="cell label product"><strong><?= /* @escapeNotVerified */ __('Product') ?></strong></th>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Product')) ?>" class="cell product info-top">
                            <a class="product-item-photo" href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($_item->getName(), null, true) ?>">
                                <?= $block->getImage($_item, 'product_comparison_list')->toHtml() ?>
                            </a>
                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_item->isSaleable()): ?>
                                        <form data-role="tocart-form" action="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($_item) ?>" method="post">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit" class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_item->getIsSalable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <span class="view"><a href="<?php echo $block->getProductUrl($_item); ?>"><?php echo __('Voir ce modéle') ?></a></span>
                            <strong class="product-item-name">
                                <a href="<?= /* @escapeNotVerified */ $block->getProductUrl($_item) ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($_item->getName(), null, true) ?>">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $_item->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?= $block->getReviewsSummaryHtml($_item, 'short') ?>
                            <?= /* @escapeNotVerified */ $block->getProductPrice($_item, '-compare-list-top') ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
                <tbody>
                <?php foreach ($block->getAttributes() as $_attribute): ?>
                    <?php
                    $attributeCode = $_attribute->getAttributeCode();
                    if(isset($attrNoValues[$attributeCode]) && count($attrNoValues[$attributeCode]) ===
                        $productsCompare->count()) continue; ?>
                    <tr>
                        <?php $_i = 0 ?>
                        <?php foreach ($productsCompare as $_item): ?>
                            <?php if ($_i++ == 0): ?>
                                <th scope="row" class="cell label">
                                    <strong class="attribute label">
                                        <?= $block->escapeHtml($_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : __($_attribute->getFrontendLabel())) ?>
                                    </strong>
                                </th>
                            <?php endif; ?>
                            <td class="cell product attribute">
                                <div class="attribute value">
                                    <?php switch ($_attribute->getAttributeCode()) {
                                        case "price": ?>
                                            <?php
                                            /* @escapeNotVerified */ echo $block->getProductPrice(
                                                $_item,
                                                '-compare-list-' . $_attribute->getCode()
                                            )
                                            ?>
                                            <?php break;
                                        case "small_image": ?>
                                            <?php $block->getImage($_item, 'product_small_image')->toHtml(); ?>
                                            <?php break;
                                        default: ?>
                                            <?= /* @escapeNotVerified */ $_helper->productAttribute($_item, $block->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                                            <?php break;
                                    } ?>
                                </div>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
                </tbody>
                <tfoot>
                <tr>
                    <?php $_i = 0; ?>
                    <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <?php foreach ($productsCompare as $_item): ?>
                        <?php if ($_i++ == 0): ?>
                            <th scope="row" class="cell label product">&nbsp;</th>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Product')) ?>" class="cell product info-bottom">
                            <?= /* @escapeNotVerified */ $block->getProductPrice($_item, '-compare-list-top') ?>
                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_item->isSaleable()): ?>
                                        <form data-role="tocart-form" action="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($_item) ?>" method="post">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit" class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_item->getIsSalable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <span class="view"><a href="<?php echo $block->getProductUrl($_item); ?>"><?php echo __('Voir ce modéle') ?></a></span>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="config-products clearfix">
            <div class="config-info">
                <div class="fake-height sameheight"></div>
                <ul>
                    <?php
                    if (!empty($productsItems)) {
                        foreach ($productsItems as $productsItem) {
                            if (!empty($productsItem['attribute'])) {
                                foreach ($productsItem['attribute'] as $item) {
                                    $attributeCode = $item['code'];
                                    if(isset($attrNoValues[$attributeCode]) && count($attrNoValues[$attributeCode]) === count($productsItems))
                                        continue;
                                    echo "<li>" . $item['label'] . "</li>";
                                }
                                break;
                            }
                        }
                    }
                    ?>
                </ul>
            </div>
            <div class="config-slider">
                <?php
                if (!empty($productsItems)) {
                    foreach ($productsItems as $productsItem) {
                        if (!empty($productsItem['product'])) {
                            $productItem = $productsItem['product'];
                            $productsItemsAttributes = $productsItem['attribute'];
                            // $_productOption = $helperCustom->getProductDetail($productItem['id']);
                            ?>
                            <div class="config-item">
                                <form data-role="tocart-form"
                                      action="<?php echo $block->getAddToCartUrl($productItem['product_obj']); ?>" method="post">
                                    <?php echo $block->getBlockHtml('formkey')?>
                                    <div class="config-top sameheight">
                                        <div class="config-img">

                                            <div class="img-frame">
                                                <a href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>">

                                                    <img src="<?php echo $block->getBaseUrl() . "pub/media/catalog/product/" . $productItem['thumbnail']; // To avaoid new query
                                                    ?>"
                                                         alt="<?php echo $productItem['name']; ?>"
                                                         title="<?php echo $productItem['name']; ?>"/>

                                                </a>

                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <?php if ($productItem['salable']): ?>
                                                <button type="submit" name="<?php echo __('Add to Cart Top') ?>" title="<?php echo __('Add to Cart') ?>"
                                                        class="action tocart btn-cart">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                            <span class="view"><a
                                                        href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>"><?php echo __('Voir ce modéle') ?></a></span>
                                            <div class="config-item-info">
                                                <span class="ivc-text"><?php echo $productItem['sku']; ?></span>
                                                <span class="config-price">
								    <span class="ht-price"><?php echo $helperCustom->currencyFormate($productItem['price']); ?>
                                        <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                            <?php echo __('Incl. Tax'); ?>
                                        <?php endif; ?>
                                        <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                            <?php echo __('Excl. Tax'); ?>
                                        <?php endif; ?>
                                    </span>
                                                    <!--								<span class="rr-price">--><?php //echo $helperCustom->currencyFormate($productItem['priceIncludeTax']); ?><!-- RRC </span>-->
							</span>
                                                <span class="ref-no">Réf. <span>:<?php echo $productItem['sku']; ?></span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="config-detail">
                                        <ul>
                                            <?php foreach ($productsItemsAttributes as $productsItemsAttribute) {
                                                $attributeCode = $productsItemsAttribute['code'];
                                                if(isset($attrNoValues[$attributeCode]) && count($attrNoValues[$attributeCode]) === count($productsItems))
                                                    continue;
                                                echo "<li>" . $productsItemsAttribute['value'] . "</li>";
                                            } ?>
                                        </ul>
                                    </div>

                                    <div class="config-top bottom">
                                        <div class="config-item-info">
                                            <span class="config-price">
                                                <span class="ht-price">
                                                    <?php echo $helperCustom->currencyFormate($productItem['price']); ?>
                                                    <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                                        <?php echo __('Incl. Tax'); ?>
                                                    <?php endif; ?>
                                                    <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                                        <?php echo __('Excl. Tax'); ?>
                                                    <?php endif; ?>
                                                </span>
                                                <!--                                                <span class="rr-price">--><?php //echo $helperCustom->currencyFormate($productItem['priceIncludeTax']); ?><!-- RRC</span>-->
                                            </span>
                                        </div>


                                        <?php echo $block->getBlockHtml('formkey') ?>
                                        <div class="btn">
                                            <?php if ($productItem['salable']): ?>
                                                <button type="submit" name="<?php echo __('Add to Cart Bottom') ?>" title="<?php echo __('Add to Cart') ?>"
                                                        class="action tocart btn-cart">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                        </div>

                                        <span class="view">
                                        <a href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>">Voir ce modéle</a>
                                    </span>
                                    </div>
                                </form>
                            </div>
                            <?php
                        }
                    }
                }
                ?>

            </div>
        </div>
        <!-- End config-products -->
    </div>
<?php } ?>