<?php
/** @var \Meridian\ProductRelation\Block\Product\ProductList\CompareList $block */
//die('__module__');
$block_price = $this->getLayout()->createBlock("\Magento\Tax\Block\Item\Price\Renderer");
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');

$currentPirceDisplay = $helperBase->currentPriceDisplayType();

$_product = $block->getProduct();
//echo $product->getData('demo');
$productsCompare = $block->getCompareCollections();
if($_product->getTypeId() === \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE && false) {
    $productsCompare = $_product->getTypeInstance(true)->getUsedProducts($_product);
    //Load all used configurable attributes
    $configurableAttributeCollection = $_product->getTypeInstance()->getConfigurableAttributes($_product);
    $attributes = [];
    foreach ($configurableAttributeCollection as $attribute) {
        $attrValue = $_product->getResource()->getAttribute($attribute->getProductAttribute()->getAttributeCode())->getFrontend();
        $attrCode = $attribute->getProductAttribute()->getAttributeCode();
        $attrLabel = $attribute->getProductAttribute()->getFrontendLabel();
        $value = $attrValue->getValue($_product);
        $attributes[$attrCode]['label'] = $attrLabel;
        $attributes[$attrCode]['code'] = $attrCode;
        //$attributes[$attrCode]['value'] = $value;
        //$attributes[$attrCode]['attribute'] = $attribute;
    }
?>
    <div class="modeles-tab-content module-compare-models" id="fullDesc">
        <div class="table-wrapper comparison">
            <table class="data table table-comparison" id="product-comparison"
                   data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
                <caption class="table-caption"><?= /* @escapeNotVerified */
                    __('Compare Products') ?></caption>
                <div class="wrap-all">
                    <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <div class="col-labels ">
                        <div class="elem-label cell_compare_f"></div>
                        <?php foreach ($attributes as $_attribute): ?>
                            <div class="elem-label cell_compare"><?= $block->escapeHtml(__($_attribute['label'])); ?></div>
                        <?php endforeach; ?>
                        <div class="elem-label cell_compare_e"></div>
                    </div>
                    <div class="col-product-items">
                        <?php
                        foreach ($productsCompare as $item):
                            $product = $helperBase->getProductDetail($item->getId());
                            $productUrl = $product->getProductUrl();
                            $alt = $helperBase->getProductImageAlt($product);
                        ?>
                            <div class="column_product">
                                <div class="first_row cell_compare_f">
                                    <div class="wrap_item_link"><span><a
                                                    href="<?php echo $productUrl; ?>"><?php echo __('Voir ce Modèle') ?></a></span>
                                    </div>
                                    <div class="wrap_item_image">
                                        <a class="product-item-photo" href="<?= /* @escapeNotVerified */
                                        $productUrl ?>" title="<?= /* @escapeNotVerified */
                                        $block->stripTags($alt, null, true) ?>">
                                            <?php
                                            if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($product)) {
                                                ?>
                                                <div class="dicount-percent">
                                                    <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($product); ?>
                                                </div>
                                                <?php
                                            }
                                            ?>
                                            <?= $block->getImage($product, 'product_comparison_list', ['alt' => $alt])->toHtml() ?>
                                        </a>
                                    </div>
                                    <div class="wrap_item_add_to_cart">
                                        <div class="actions-primary">
                                            <?php if ($product->isSaleable()): ?>
                                                <form data-role="tocart-form" action="<?= /* @escapeNotVerified */
                                                $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($product) ?>"
                                                      method="post">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <button type="submit" class="action tocart primary">
                                                        <span><?= /* @escapeNotVerified */
                                                            __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?= /* @escapeNotVerified */
                                                            __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                            __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="wrap_item_name">
                                        <strong class="product-item-name">
                                            <a class="three-lines" href="<?= /* @escapeNotVerified */ $productUrl ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($product->getName(), null, true) ?>">
                                                <?= /* @escapeNotVerified */ $_helper->productAttribute($product, $product->getName(), 'name') ?>
                                            </a>
                                        </strong>
                                    </div>
                                    <div class="wrap_item_price">
                                        <?= /* @escapeNotVerified */ $block->getProductPrice($product, '-compare-list-top') ?>
                                    </div>
                                </div>
                                <?php
                                $productAttributes = $product->getAttributes();
                                foreach ($attributes as $code => $_attribute):
                                    $value = $product->getData($code);
                                    if(in_array($code,array_keys($productAttributes))){
                                        $attribute = $productAttributes[$code];
                                        $value = $attribute->getFrontend()->getValue($product);
                                    }
                                    ?>
                                    <div class="element-row-info cell_compare">
                                        <div class="label-attribute hidden-md hidden-lg"><?= $block->escapeHtml($_attribute['label']); ?></div>
                                        <div><?= /* @escapeNotVerified */ $value; ?></div></div>
                                <?php endforeach; ?>
                                <div class="last_row cell_compare_e">
                                    <div class="wrap_item_price">
                                        <?= /* @escapeNotVerified */ $block->getProductPrice($product, '-compare-list-top') ?>
                                    </div>
                                    <div class="wrap_item_link"><span><a
                                                    href="<?php echo $productUrl; ?>"><?php echo __('Voir ce modèle') ?></a></span>
                                    </div>
                                    <div class="wrap_item_add_to_cart">
                                        <div class="actions-primary">
                                            <?php if ($product->isSaleable()): ?>
                                                <form data-role="tocart-form" action="<?= /* @escapeNotVerified */
                                                $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($product) ?>"
                                                      method="post">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <button type="submit" class="action tocart primary">
                                                        <span><?= /* @escapeNotVerified */
                                                            __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?= /* @escapeNotVerified */
                                                            __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                            __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <div id="slick-arrow-place"></div>
                </div>
            </table>
        </div>
        <script type="text/javascript">
            require(['jquery', 'slick'], function ($) {
                $(document).ready(function ($) {
                    var arrow = $('#slick-arrow-place');
                    $('.col-product-items').slick({
                        autoplay: false,
                        speed: 500,
                        slidesToShow: 3,
                        appendArrows: arrow,
                        prevArrow: '<div class="slick-prev"><div>',
                        nextArrow: '<div class="slick-next"><div>',
                        infinite: false,
                        responsive: [
                            {
                                breakpoint: 1199,
                                settings: {
                                    slidesToShow: 2
                                }
                            },
                            {
                                breakpoint: 991,
                                settings: {
                                    slidesToShow: 1
                                }
                            }
                        ]
                    });
                });
            });
        </script>
    </div>
<?php } elseif ($productsCompare->count()) {
    ?>
    <div class="modeles-tab-content module-compare-models" id="fullDesc">
        <div class="table-wrapper comparison">
            <table class="data table table-comparison" id="product-comparison"
                   data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
                <caption class="table-caption"><?= /* @escapeNotVerified */
                    __('Compare Products') ?></caption>
                <div class="wrap-all">
                    <?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
                    <?php /** @var $_item \Magento\Catalog\Model\Product */ ?>
                    <div class="col-labels ">
                        <div class="elem-label cell_compare_f"></div>
                        <?php foreach ($block->getAttributes() as $_attribute): ?>
                            <div class="elem-label cell_compare"><?= $block->escapeHtml($_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : __($_attribute->getFrontendLabel())); ?></div>
                        <?php endforeach; ?>
                        <div class="elem-label cell_compare_e"></div>
                    </div>
                    <div class="col-product-items">
                        <?php foreach ($productsCompare as $product):
                            $productUrl = $product->getProductUrl();
                            $alt = $helperBase->getProductImageAlt($product);
                            ?>
                            <div class="column_product">
                                <div class="first_row cell_compare_f">
                                    <div class="wrap_item_link"><span><a
                                                    href="<?php echo $productUrl; ?>"><?php echo __('voir ce Modèle') ?></a></span>
                                    </div>
                                    <div class="wrap_item_image">
                                        <a class="product-item-photo" href="<?= /* @escapeNotVerified */
                                        $productUrl ?>" title="<?= /* @escapeNotVerified */
                                        $block->stripTags($alt, null, true) ?>">
                                            <?php
                                            if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($product)) {
                                                ?>
                                                <div class="dicount-percent">
                                                    <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($product); ?>
                                                </div>
                                                <?php
                                            }
                                            ?>
                                            <?= $block->getImage($product, 'product_comparison_list', ['alt' => $alt])->toHtml() ?>
                                        </a>
                                    </div>
                                    <div class="wrap_item_add_to_cart">
                                        <div class="actions-primary">
                                            <?php if ($product->isSaleable()): ?>
                                                <form data-role="tocart-form" action="<?= /* @escapeNotVerified */
                                                $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($product) ?>"
                                                      method="post">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <button type="submit" class="action tocart primary">
                                                        <span><?= /* @escapeNotVerified */
                                                            __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?= /* @escapeNotVerified */
                                                            __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                            __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                    <div class="wrap_item_name">
                                        <strong class="product-item-name">
                                            <a class="three-lines" href="<?= /* @escapeNotVerified */ $productUrl ?>" title="<?= /* @escapeNotVerified */ $block->stripTags($product->getName(), null, true) ?>">
                                                <?= /* @escapeNotVerified */ $_helper->productAttribute($product, $product->getName(), 'name') ?>
                                            </a>
                                        </strong>
                                    </div>
                                    <div class="wrap_item_price">
                                        <?= /* @escapeNotVerified */ $block->getProductPrice($product, '-compare-list-top') ?>
                                    </div>
                                </div>
                                <?php foreach ($block->getAttributes() as $_attribute): ?>
                                    <div class="element-row-info cell_compare">                                <div class="label-attribute hidden-md hidden-lg"><?= $block->escapeHtml($_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : __($_attribute->getFrontendLabel())); ?></div>
                                        <div><?= $_helper->productAttribute($product, $block->getProductAttributeValue($product, $_attribute), $_attribute->getAttributeCode()); ?></div></div>
                                <?php endforeach; ?>
                                <div class="last_row cell_compare_e">
                                    <div class="wrap_item_price">
                                        <?= /* @escapeNotVerified */ $block->getProductPrice($product, '-compare-list-top') ?>
                                    </div>
                                    <div class="wrap_item_link"><span><a
                                                    href="<?php echo $productUrl; ?>"><?php echo __('Voir ce modèle') ?></a></span>
                                    </div>
                                    <div class="wrap_item_add_to_cart">
                                        <div class="actions-primary">
                                            <?php if ($product->isSaleable()): ?>
                                                <form data-role="tocart-form" action="<?= /* @escapeNotVerified */
                                                $this->helper('Magento\Catalog\Helper\Product\Compare')->getAddToCartUrl($product) ?>"
                                                      method="post">
                                                    <?= $block->getBlockHtml('formkey') ?>
                                                    <button type="submit" class="action tocart primary">
                                                        <span><?= /* @escapeNotVerified */
                                                            __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?= /* @escapeNotVerified */
                                                            __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */
                                                            __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach; ?>

                    </div>
                    <div id="slick-arrow-place"></div>
                </div>
            </table>
        </div>
    </div>

<script type="text/javascript">
    require(['jquery', 'slick'], function ($) {
        $(document).ready(function ($) {
            var arrow = $('#slick-arrow-place');
            $('.col-product-items').slick({
                autoplay: false,
                speed: 500,
                slidesToShow: 3,
                appendArrows: arrow,
                prevArrow: '<div class="slick-prev"><div>',
                nextArrow: '<div class="slick-next"><div>',
                infinite: false,
                responsive: [
                    {
                        breakpoint: 1199,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 991,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        });
    });
</script>
<?php } ?>