<!--@subject {{trans "Request For Quote "}}  @-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;" >
    <div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding:20px 0 20px 0">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <!-- [ header starts here] -->
                        <tr>
                            <td valign="top">
                                <a href='{{store url=""}}' ><img src='{{var logo_url}}' alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0" /></a>
                            </td>
                        </tr>
                        <!-- [ middle starts here] -->
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;" >Hello {{trans "%store_name" store_name=$store.getFrontendName()}} ,</h1><br>
                                <p style=" font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; margin:0;">
                                    A request for the custom quote has been created by <strong style="text-transform: capitalize;">{{trans "%name" name=$data.name customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])|raw}}</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;&nbsp;&nbsp;{{trans "%comment" comment=$data.comment}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table class="data-table" id="my-quotes-table" summary="Customer Info" style=" font-family:Verdana, Arial, Helvetica, sans-serif;">
                                    <tr>
                                        <td align="teft" style="font-size: 12px;">Email</td>
                                        <td align="center" style="font-size: 12px;">:</td>
                                        <td align="left" style="font-size: 12px;">{{trans "%email" email=$data.email}}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-size: 12px;">Contact Number</td>
                                        <td align="center" style="font-size: 12px;">:</td>
                                        <td align="left" style="font-size: 12px;">{{trans "%telephone" telephone=$data.telephone}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
            <tr  style="background:#FFFFFF;">
                <td width="100%" align="center">
                    <table border="0" cellpadding="0" cellspacing="5" style="background-color:#29a529; border:0px solid #001E3D; border-radius:5px;">
                        <tr>
                            <td align="center" valign="middle" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:14px; font-weight:bold; letter-spacing:.5px; line-height:150%; padding-top:5px; padding-right:5px; padding-bottom:5px; padding-left:5px;">

                                {{trans '<a href="%customer_url">Create Quote</a>'

        customer_url=$this.getUrl($store,'admin/dashboard/',[_nosid:1])
    |raw}}
                            </td>
                        </tr>
                    </table>
                </td>
              </tr>
                </table>
                </td>
            </tr>
        </table>
    </div>  
</body>