<?php
/** @var $block Magento\Framework\View\Element\Template */
?>

<div class="order-top-bar">
    <div class="left-part">
        <div class="data"><strong><?=__('Date de commande:');?></strong> <?=$block->getChildHtml('order.date')?></div>
        <div class="status"><strong><?=__('Status:');?></strong> <?=$block->getChildHtml('order.status')?></div></div>
    <div class="right-part"><?=$block->getChildHtml('sales.order.info.buttons.top')?></div>
</div>
