<!--@subject {{trans "New ticket #%ticketid" ticketid=$ticket.uid}} @-->
<!--@styles .aw-hdu-note {color: gray; font-size: 85%;}@-->

{{template config_path="design/email/header_template"}}

<p>{{trans 'Hello,'}} {{var ticket.customer_name}}.</p><br/><br/>

<p>{{trans 'Thank you for contacting us.'}}</p>
<p>{{trans 'We have received your request and will reply as soon as possible.'}}</p>
    <br/><br/>
<p>{{trans 'Here is the information about your request:'}}</p>
<p>
    <span style="font-weight: bold;">{{trans 'Your ticket ID is:'}}</span> {{var ticket.uid}}
</p>
<p>
    <span style="font-weight: bold;">{{trans 'Subject:'}}</span>{{var ticket.subject}}
</p>
<p style="margin-bottom: 50px;">
    <span style="font-weight: bold;">{{trans 'Your Message:'}}</span><span>{{var ticket.first_message|escape|nl2br}}</span>
</p>

{{template config_path="design/email/footer_template"}}