<!--@subject {{trans "New ticket #%ticketid" ticketid=$ticket.uid}} @-->

{{template config_path="design/email/header_template"}}

<h3>{{trans 'New customer ticket'}}</h3>

<p>
    {{trans 'A new ticket has just been created.'}}
</p><br/><br/>


<strong>Department:</strong> {{var department_name}}<br/>
<strong>
    {{trans 'Customer name:'}}
</strong> {{var ticket.customer_name}}<br/>
<strong>
    {{trans 'Subject:'}}
</strong> {{var ticket.subject}}<br/>
<strong>
    {{trans 'Message:'}}
</strong><br/>
<p>{{var ticket.first_message|escape|nl2br}}</p><br/><br/>

<p>
    {{trans 'Click <a href="%backurl">here</a> to view the ticket' backurl=$ticket.backend_url |raw}}
</p>

