<!--@subject Ticket #{{var ticket.uid}}@-->

{{template config_path="design/email/header_template"}}

<h3 style="font-weight: 600; margin-bottom: 30px;">
    {{trans 'New message: Ticket '}}{{var ticket.uid}}
</h3>
<p style="margin-bottom: 30px;">
    {{trans '%customer replied:' customer=$ticket.customer_name |raw}}
</p>

<p style="margin-bottom: 30px;">
    {{var message.content|escape|nl2br}}
</p>

<p>
    {{trans 'Click <a href="%backurl">here</a> to view the ticket' backurl=$ticket.backend_url |raw}}
</p>
Click <a href="{{var ticket.backend_url}}">here</a> to view the ticket.
