<?php
/** @var \Meridian\Widgets\Block\Widget\Brandlists $block */
$moduleId = "widgetbandlist" . rand() . time();
$helper = $this->helper('Magento\Catalog\Helper\Output');
$counterHideLimit = 12;
$categories = $block->getSubCategories($block->getCatId());
$menuList = $block->getMenuList() ? true : false;
if (count($categories)):
    $currentCategory = $block->getCategory($block->getCatId());
    ?>
    <div class="partner-holder" id="<?php echo $moduleId ?>">
        <?php if ($block->getData('title')): ?>
            <h2 class='title'><?php echo $block->getData('title'); ?></h2>
        <?php endif; ?>
        <div class="inner-container">
            <div class="row">

                <?php
                $counter = 0;
                foreach ($categories as $category) {
                    $cat = $block->getCategory('category/' . $category->getId());
                    $catUrl = $cat->getUrl();
                    $imgUrl = $cat->getImageUrl();
                    if (!$imgUrl) {
                        $imgUrl = $block->getMediaUrl('wysiwyg/site-images/brand-default.png'); //pub/media/
                    }
                ?>
                 <?php if (!$menuList && $counter == $counterHideLimit): ?>
                    <div id="<?= $moduleId ?>_more" class="collapse">
                 <?php endif; ?>
                    <div class="logo-col">
                        <div class="logo-holder">
                            <a href="<?php echo $cat->getUrl(); ?>" title="<?php echo $cat->getName(); ?>">
                                <img src="<?php echo $imgUrl ?>"
                                     alt="<?php echo $block->escapeHtml($cat->getName()); ?>"
                                     title="<?php echo $block->escapeHtml($cat->getName()); ?>" width= "165px" height="70px" class="image"/>
                            </a>
                        </div>
                    </div>

                <?php
                    $counter++;
                } ?>

                <?php if (!$menuList && $counter > $counterHideLimit): ?>
                </div><!-- #<?= $moduleId ?>_more -->
                <div class='clearfix'></div>
                <div class="text-center">
                    <button class="partner-opener collapsed" data-toggle="collapse"
                            data-target="#<?php echo $moduleId ?>_more">
                        <span class="showme">
                            <i class="fa fa-angle-up"></i>
                        </span>
                        <span class="hideme">
                            <?= __('Toutes nos marques')?> <i class="fa fa-angle-down"></i>
                        </span>
                    </button>
                </div>
                <script type="text/javascript">require(['jquery'], function ($){$(document).ready(function ($){if ($(window).width() < 992 && $(window).width() > 600){var appendDiv="#<?=$moduleId; ?>_more"; $('.partner-holder>.inner-container>.row>.logo-col').slice(-4).detach().prependTo(appendDiv);}else if($(window).width() <=600 && $(window).width() > 425){var appendDiv="#<?=$moduleId; ?>_more"; $('.partner-holder>.inner-container>.row>.logo-col').slice(-6).detach().prependTo(appendDiv);}else if($(window).width() <=425){var appendDiv="#<?=$moduleId; ?>_more"; $('.partner-holder>.inner-container>.row>.logo-col').slice(-8).detach().prependTo(appendDiv);}});}); </script>
            <?php endif; ?>

            </div><!-- .row -->
        </div><!-- .inner-container -->
    </div><!-- .partner-holder -->
<?php endif; ?>