<?php
/** @var \Meridian\Widgets\Block\Widget\MenuCategories $block */
$blockId = rand().time();
$moduleId = 'meridian-category-lists-'.$blockId;

// General Settings
$widget_title = $block->getConfig('widget_title');
$categoryIds = $block->getConfig('category_ids');

$categoryIds = explode(',',$categoryIds);
if(count($categoryIds)):
?>
<div class="maga-menu-logo hidden-xs">
    <?php foreach ($categoryIds as $categoryId):
        $category = $block->getCategory('category/' . $categoryId);
        $catUrl = $category->getUrl();
        $imgUrl = $category->getImageUrl();
        if(!$imgUrl) continue;
        ?>
        <div class="logo-col">
            <div class="logo-holder"><a href="<?php echo $catUrl; ?>"><img src="<?php echo $imgUrl ?>" alt="<?php echo $category->getName(); ?>"  width="165px"
    height="70px"></a></div>
        </div>
    <?php endforeach; ?>
</div>
<?php endif; ?>