<?php
/** @var \Meridian\Widgets\Block\Widget\Sitemap $block */
$title = $block->getTitle() ? __($block->getTitle()) : '';
$basePath = $block->getBaseUrl();
$cmsPages = $block->getAllCmsPages();
$sitemapHelper = $this->helper('Meridian\Widgets\Helper\Data');
?>
<div class="block widget block-sitemap">
    <?php if ($title):?>
        <div class="block-title">
            <strong><?php /* @escapeNotVerified */ echo $title; ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content">
        <?php if(false): ?>
        <div class="cmspages-container-inner">
            <h3 class="section-title">CMS Page</h3>
            <ul class="cms-page-list">
                <?php if(count($cmsPages)): ?>
                <?php foreach($cmsPages as $page): ?>
                    <li class="cms-item">
                        <a href="<?php echo $basePath . $page['link_url']; ?>" title="<?php echo $page['title']; ?>"><?php echo $page['title']; ?></a>
                    </li>
                <?php endforeach; ?>
                <?php endif; ?>
                    <li class="cms-item">
                        <a href="<?php echo $basePath; ?>contact" title="<?php echo __('Contact Us'); ?>"><?php echo __('Contact Us'); ?></a>
                    </li>
            </ul>

        </div>
        <?php endif; ?>
        <div class="categories-container-inner">
            <?php
            $categories = $block->getCatCollection();
            foreach ($categories as $category){
                echo $block->catagorylistrecursiveHtml($category->getChildrenCategories());
            }
            ?>
        </div>

    </div>
</div>