<?php
$rewardsData   = $this->helper('Lof\RewardPoints\Helper\Data');
$purchase      = $block->getPurchase();
$spendPoints   = $purchase->getSpendPoints();
$totalpoints   = $rewardsData->formatPoints($block->getBalancePoints());
$usePoints     = $purchase->getSpendMaxPoints();
$maximumPoints = $block->getMaximumPoints();
$rules         = $block->getRules();
$currentRuleId = $block->getCurrentRule();
$sliderRules   = $block->getRuleBySlider();

if ($currentRuleId && isset($sliderRules[$currentRuleId])) {
	$maximumPoints = $sliderRules[$currentRuleId]['max'];
}
?>
<?php if (!empty($sliderRules)) { ?>
<div id="block-lrwuserpoints" class="block lrwuserpoints" data-mage-init='{"collapsible":{"openedState": "active", "saveState": true}}'>
	<div class="title" data-role="title">
		<strong id="block-lrwuserpoints-heading" role="heading" aria-level="2">
			<?php echo __('Use Reward Points'); ?>
		</strong>
	</div>
	<div id="block-lrwuserpoints-summary" class="content" data-role="content" aria-labelledby="block-lrwuserpoints-heading">
		<div class="lrw-usepoints">
			<?php echo __('You have <strong>%1</strong> available.', $totalpoints); ?>
			<div class="fieldset lrw-points">
				<div class="field">
					<?php if($rules && $rules->count()) { ?>
					<label class="label">
						<span><?php echo __('Choose how many points to spend: '); ?></span>
					</label>
					<div class="control">
						<select class="select" id="lrw-spending-rules">
							<?php foreach ($rules as $rule) { ?>
							<?php $classes = '';
							if ($rule->getId() == $currentRuleId){
								$classes = 'selected="selected"';
							}
							?>
							<option <?php echo $classes; ?> value="<?php echo $rule->getId() ?>"><?php echo $rule->getName();  ?></option>	
							<?php } ?>
						</select>
						<div class="lrw-message"></div>
					</div>
					<div class="control">
						<div class="lrw-slider">
							<div id="lrw-slider"></div>
							<script type="text/javascript">
								require([
									'jquery',
									'Lof_RewardPoints/js/rewardsslider'
									], function($, ko, rewardsslider, totals){
										jQuery(function ($) {
											var spendingRules = <?php echo json_encode($sliderRules); ?>;
											var slider;
											var ruleId;
											$('#lrw-spending-rules').on('change', function(){
												var self = $(this);
												var rule = spendingRules[$(this).val()];
												if(rule) {
													if (rule['message']!='') {
														$('#lrw-slider').parents('.control').hide();
														$('.lrw-message').addClass(rule['status']);
														$('.lrw-message').html(rule['message']);
													} else {
														$('.lrw-message').html('');
														$('.lrw-message').removeClass(rule['status']);
														$('#lrw-slider').parents('.control').show();
													}
													$('.lrw-slider').show();
													if($('#lrw-slider').data('lof-rewardsslider')){
														$('#lrw-slider').rewardsslider('destroy');
													}
													slider = $('#lrw-slider').rewardsslider({
														sliderSettings : rule,
														ajaxUrl: '<?php echo $block->getApplyPointsUrl(); ?>',
														onChangeSlider: function(event, slider) {
															ruleId                         = self.val();
															var value                      = slider.getValue();
															spendingRules[ruleId]['value'] = value;
															$('.slider-num').val(value);
															if (value == spendingRules[ruleId]['max']) {
																$('#lrw-useallpoitns').prop('checked', true);
															} else {
																$('#lrw-useallpoitns').prop('checked', false);
															}
															$('.useallpoints span').html(spendingRules[ruleId]['max']);
															$('#lrw-useallpoitns').val(spendingRules[ruleId]['max']);
														}
													});
													slider.data('lof-rewardsslider').onChange();

												}
											}).change();
											$(document).on('change', '.slider-num', function() {
												if (slider.data('lof-rewardsslider')) {
													slider.data('lof-rewardsslider').updateValue($(this).val());
												}
											});
											$('#lrw-useallpoitns').on('click', function(e){
												var totalPoints = $(this).val();
												if ($(this).is(':checked')) {
													$('.slider-num').val(totalPoints);
												} else {
													$('.slider-num').val(spendingRules[ruleId]['min']);
												}
												$('.slider-num').trigger('change');
											});
										});
									});
								</script>
							</div>
							<div class="lrw-slider-input">
								<span><?php echo __('You will spend '); ?></span>
								<input name="slider-num" class="slider-num" type="text" />
								<span><?php echo $block->getPointsLabel(); ?></span>
							</div>

							<div class="input-box">
								<input type="checkbox" id="lrw-useallpoitns" <?php if($maximumPoints ==  $spendPoints){ ?>checked="checked" <?php } ?> value="<?php echo $maximumPoints ?>" name="useallpoitns" />
								<label for="useallpoints" class="useallpoints">
									<?php echo __('Use maximum <span>%1</span> %2', $maximumPoints, $rewardsData->getUnit(2)); ?>
								</label>
							</div>
						</div>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>