<!Doctype html>
<!--@subject Nouveau devis disponible  @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        {{var template_styles|raw}}

        {{css file="css/email.css"}}
    </style>
</head>
<body>
{{inlinecss file="css/email-inline.css"}}

<!-- Begin wrapper table -->
<table class="wrapper" style="width: 600px;margin: 0 auto;">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center" style="width: auto;">
                <tr>
                    <td class="header" style="text-align: center;">
                        <a class="logo" href="{{store url=""}}">
                        <img
                                {{if logoTemplate_width}}
                                width="{{var data.logoTemplate_width}}"
                                {{else}}
                                width="180"
                                {{/if}}

                        {{if logoTemplate_height}}
                        height="{{var data.logoTemplate_height}}"
                        {{else}}
                        height="52"
                        {{/if}}

                        src="{{var data.logoTemplate_img}}"
                        alt="{{var data.logoTemplate_alt}}"
                        border="0"
                        />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content">
                        <div>
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:30px 0 11px 0;" >{{trans 'Bonjour,'}} {{var data.customer}}</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;margin-bottom: 30px;">
                                {{trans 'Veuillez trouver ci dessous le devis n° %quoteid que vous avez demandé.' quoteid=$data.quoteid |raw}}
                                {{trans 'Nous vous rappelons que vous pouvez aussi le consulter sur votre espace client <a href="%quotes">ici</a>' quotes="$this.getUrl($store,'quote2sales/index/quotes/')|raw"}}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border: 3px solid #6c6c6c; background-color: #808080;color: white;">
                        <p style="margin: 0;">{{trans 'Devis n° %quoteid' quoteid=$data.quoteid}}</p>
                        <p style="margin: 0;">{{trans 'Date de devis %createdAt' createdAt=$data.createdAt}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="data-table" id="my-address-table" summary='Quote Address' bgcolor="#f6f6f6" border="0" style="margin-top: 30px;">
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <thead>
                                <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;text-transform: uppercase;">Adresse de facturation</th>
                                <th class="a-right" align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;text-transform: uppercase;float: left;">Adresse de livraison</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="padding-left: 10px;">
                                        {{trans "%shipping" shipping=$data.shippingAddress |raw}}
                                    </td>
                                    <td style="padding-left: 10px;">
                                        {{trans "%billing" billing=$data.billingAddress |raw}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <!-- Quote Details Data -->
                <tr>
                    <td>
                        <table class="data-table" id="my-quotes-table" summary='Items Quoted' bgcolor="#f6f6f6" border="0" style="margin-top: 30px;">
                            <!--<col />-->
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <col width="1" />
                            <thead>
                                <tr>
                                    <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">{{trans 'Products'}}</th>
                                    <th class="a-right" align="right" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">{{trans 'Sku'}}</th>
                                    <th class="a-right" align="right" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">{{trans 'Price'}}</th>
                                    <th class="a-center" align="right" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">{{trans 'Qty'}}</th>
                                    <th class="a-right" align="right" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">{{trans 'Subtotal'}}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>{{trans "%quoteDetails" quoteDetails=$data.quoteDetails|raw}}</tr>
                            </tbody>
                        </table>

                        <!-- Quote Footer Data -->
                        {{trans "%quote_footer" quote_footer=$data.quote_footer|raw}}

                    </td>
                </tr>
                <tr>
                    <p style="float: right;text-decoration: underline;font-weight: bold;">{{trans 'Cachet + signature'}}</p>
                </tr>
                <tr  style="background:#FFFFFF;">

                    <!-- Creating the buttons using the table tags -->
                    <td width="100%" >
                        <table width="100%">
                            <tr>
                                <td align="left">

                                </td>
                                <td align="right">
                                    <table border="0" cellpadding="0" cellspacing="5" style="background-color:#0097BA; border:0px solid #0097BA; border-radius:5px; margin-bottom: 50px;">
                                        <tr>
                                            <td align="center" valign="middle" style="background:#0097BA; color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:14px; font-weight:bold; letter-spacing:.5px; line-height:150%; padding-top:5px; padding-right:5px; padding-bottom:5px; padding-left:5px;">
                                                <a href='{{store_url=""}}quote2sales/index/view/quote_id/{{trans "%quoteid" quoteid=$data.quoteid}}' target="_blank" style="color:#FFFFFF; text-decoration:none;">Ajouter au panier</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td class="footer">
                        <p style="margin-top: 10px;">{{trans "Nous vous remercions de votre confiance et restons à votre disposition pour tout complément d’information."}}</p>
                        <p class="closing">{{trans "Merci,"}} <br> {{var store.getFrontendName() |raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="footer-info" style="font-size: 10px;background-color: #eeeeee;">
                        <div style="display: inline-block; width: 28%; margin-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var data.footer_images_first}}"
                                    alt="Free Shipping"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Livraison gratuite"}}</p>
                                <p>{{trans "Livraison offerte en France métropolitaine à partir de 120€ HT"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var data.footer_images_second}}"
                                    alt="payment cards"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Paiement sécurisé"}}</p>
                                <p>{{trans "Achetez en toute confiance grâce au paiement sécurisé Paybox"}}</p>
                            </div>
                        </div>
                        <div  style="display: inline-block; width: 28%; padding-left: 10px;">
                            <img
                                    style="width: 50px;padding-top: 15px;"
                                    src="{{var data.footer_images_third}}"
                                    alt="contacts"
                            />
                            <div class="footer-info-text" style="width: 60%;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 10px;">
                                <p style="margin-bottom: 0px;color: #56b7d0;" class="footer-info-text-header">{{trans "Contact"}}</p>
                                <p style="margin-bottom: 0px;">{{depend store_phone}} {{trans 'Tel: <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}</p>
                                <p>{{trans '<a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>