<?php $order = $this->getPurchaseOrder();?>
<p style="margin-top: 10px;">
    <?php echo __('Grand Total Excl. Tax');?>
    <span style="float: right;"><?php echo round($order->getpo_subtotal(),2);?></span>
</p>
<p>
    <?php echo __('TVA');?>
    <span style="float: right;"><?php echo round($order->getpo_tax(),2);?></span>
</p>
<p>
    <?php echo __('Grand Total Incl. Tax');?>
    <span style="float: right;"><?php echo round($order->getpo_grandtotal(),2);?></span>
</p>