.mobile-captcha {
    display: none;
}

.meridiancustomer-account-guest span.heading-item {
    text-decoration: underline;
}

.customer-account-forgotpassword a.action.back {
    display: none;
}

.customer-account-logoutsuccess .page-title span {
    font-weight: 600;
    color: #000;
}

.checkout-onepage-success .page.messages,
.customer-account-logoutsuccess .page.messages {
    display: none;
}

.customer-account-logoutsuccess #maincontent {
    text-align: center;
}

.customer-account-logoutsuccess .page-title-wrapper {
    padding-top: 5%;
}

.customer-account-forgotpassword .form.password.forget {
    width: 60%;
}

.customer-account-logoutsuccess .container p {
    font-size: 14px;
}

.customer-account-forgotpassword input#captcha_user_forgotpassword,
.customer-account-forgotpassword .actions-toolbar,
.customer-account-forgotpassword input#email_address {
    max-width: 470px;
}

.customer-account-forgotpassword button.btn-reset span {
    text-transform: initial;
}

.customer-account-forgotpassword button.btn-reset span {
    text-transform: initial;
}

.meridiancustomer-account-guest .checkout-step-item.active {
    text-decoration: none;
}

.customer-account-forgotpassword .actions-toolbar {
    text-align: center;
}

.customer-account-forgotpassword .actions-toolbar .primary {
    float: none;
}

.fields.customer-type.customer-centered {
    text-align: center;
    width: auto;
    max-width: 300px;
    margin: 0 auto;
}

.fields.customer-type.customer-centered .field {
    display: inline-block;
    float: none;
    width: 49%;
    text-align: left;
}

.form.form-login .fieldset .field .control input {
    height: 35px;
}

.before-create-container .form.create.account .fieldset.fieldset-no-pro .control {
    width: 100%;
}

.fields.customer-type.customer-centered .field:nth-child(2) {
    text-align: right;
}

.number-item {
    font-style: normal;
    border-radius: 50%;
    color: #bbb9b9;
    background: #e4e4e4;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.customer-account-login .field.password.required {
    margin-bottom: 15px;
}

.active .number-item {
    background: #0097BA;
    color: #fff;
}

.meridiancustomer-account-guest li.checkout-step-item.active:after {
    content: "🗸";
    font-size: 20px;
    line-height: 0;
    vertical-align: middle;
}

.meridiancustomer-account-guest .page-title-wrapper,
.meridiancustomer-account-guest .field.note,
.meridiancustomer-account-guest .field.password label,
.meridiancustomer-account-guest .field.email label {
    display: none;
}

.meridiancustomer-account-guest .checkout-additional-fields {
    padding-bottom: 20px;
}

.guestpage-items-wrap ul {
    padding-left: 0;
}

.guestpage-items-wrap ul li {
    list-style: none;
    padding-left: 5px;
    position: relative;
    margin: 0 10px;
    line-height: 1.4;
}

.newcustomer-guestpage p.text-allow {
    margin-bottom: 10px;
}

.before-login-container .block .block-content.newcustomer-guestpage {
    padding-right: 10px;
}

.before-login-container > .block.newcustomer {
    width: 37%;
}

.before-login-container > .block.block-customer-login {
    width: 30%;
}

.before-login-container > .block.block-customer-invite {
    width: 29%;
}

.meridiancustomer-account-guest .field.email.required {
    margin-bottom: 20px;
}

.guestpage-items-wrap ul li:before {
    content: '✔';
    position: absolute;
    top: 0;
    left: -9px;
    color: #000;
}

.customer-account-login a span,
.customer-account-login button span,
.meridiancustomer-account-guest a span,
.meridiancustomer-account-guest button span {
    font-weight: normal;
}

.meridiancustomer-account-guest button,
.meridiancustomer-account-guest a.action.primary,
.meridiancustomer-account-guest .cart.table-wrapper .actions-toolbar > .action,
.meridiancustomer-account-guest .action-gift {
    border-radius: 0;
}

.meridiancustomer-account-guest .fieldset > .field:not(.choice) > .control {
    width: 100%;
}

.customer-account-create .before-create-container.dashboard-holder {
    float: none;
    clear: both;
    text-align: center;
}

.before-create-container .form.create.account fieldset.fieldset.create.account {
    float: right;
    max-width: 300px;
}

.meridiancustomer-account-create .page-title-wrapper,
.meridiancustomer-account-create .before-create-container .form.create.account,
.customer-account-create .page-title-wrapper,
.customer-account-create .before-create-container .form.create.account {
    width: 75%;
    display: inline-block;
    margin: 0 auto;
    float: none;
    clear: both;
    text-align: left;
}

.more-margin-bottom {
    margin-bottom: 18px;
}

.meridiancustomer-account-guest .actions-toolbar .secondary a.action {
    margin-bottom: 39px;
}

a.action.remind span,
.meridiancustomer-account-guest .actions-toolbar .secondary a.action span {
    color: #95989a;
    text-decoration: underline;
}

.customer-account-login button#send2 {
    float: left;
}

.customer-account-login .login-container .block.block-customer-login .block-content .actions-toolbar .secondary {
    margin-bottom: 20px;
}

.customer-account-login .login-container .block .block-content {
    margin-top: 20px;
}

.meridiancustomer-account-create button.action.submit.primary,
.customer-account-create button.action.submit.primary,
.customer-account-login a.action.create.primary,
.customer-account-login .login-container .block.block-customer-login .block-content .actions-toolbar a.action.create.primary,
.customer-account-login .before-login-container a.action.create.primary,
.customer-account-login .action.login.primary,
.meridiancustomer-account-guest .a.action.create.primary,
.meridiancustomer-account-guest a.action.primary,
.meridiancustomer-account-guest .actions-toolbar > .primary .action {
    min-width: 230px;
    margin: 0 auto;
    float: none;
    text-align: center;
    display: inline-block;
    position: relative;
    clear: both;
    border-radius: 0;
    max-width: 230px;
    font-size: 16px;
    font-weight: normal;
}

.customer-account-login .login-container .block .block-title {
    margin-bottom: 5px;
}

.meridiancustomer-account-guest .abs-margin-for-forms-desktop,
.meridiancustomer-account-guest .fieldset .legend,
.meridiancustomer-account-guest .column:not(.sidebar-main) form .actions-toolbar,
.meridiancustomer-account-guest .column:not(.sidebar-additional) form .actions-toolbar,
.meridiancustomer-account-guest .login-container .fieldset:after {
    margin: 0 auto;
    text-align: center;
}

.meridiancustomer-account-guest p {
    line-height: 1.4;
}

.meridiancustomer-account-guest .fieldset > .field.password {
    margin-bottom: 10px;
}

.meridiancustomer-account-guest .dashboard-holder .column.main .block:not(.widget) .block-title {
    border-bottom: 1px solid #929191;
}

.login-container .block .block-title {
    border-bottom: 1px solid #929191;
}

.before-login-container .block .block-content.guestpage-items {
    padding-right: 10px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

@media all and (min-width: 1200px) {
    #maincontent {
        min-height: 54.7vh;
    }
}

@media all and (max-width: 991px) {
    .before-login-container .block .block-content {
        padding: 0 10px 0 0;
    }

    .meridiancustomer-account-create .page-title-wrapper,
    .before-create-container .form.create.account fieldset.fieldset.create.account,
    .customer-account-create .page-title-wrapper {
        width: 100%;
    }

    .meridiancustomer-account-guest .before-login-container > .block {
        width: 33%;
    }

    .meridiancustomer-account-create button.action.submit.primary,
    .customer-account-login .login-container .block.block-customer-login .block-content .actions-toolbar a.action.create.primary, .customer-account-login a.action.create.primary, .customer-account-login .action.login.primary, .meridiancustomer-account-guest a.action.create.primary, .meridiancustomer-account-guest a.action.primary, .meridiancustomer-account-guest .actions-toolbar > .primary .action {
        width: 215px;
    }
}

@media all and (max-width: 768px) {
    .meridiancustomer-account-create button.action.submit.primary,
    .customer-account-login .login-container .block.block-customer-login .block-content .actions-toolbar a.action.create.primary, .customer-account-login a.action.create.primary,
    .customer-account-login .action.login.primary, .meridiancustomer-account-guest a.action.create.primary,
    .meridiancustomer-account-guest a.action.primary,
    .meridiancustomer-account-guest .actions-toolbar > .primary .action {
        min-width: 200px;
    }

    .before-create-container .form.create.account .fieldset {
        margin-bottom: 0;
    }
}

@media all and (max-width: 767px) {

    .customer-account-create .fieldset.create.info .field.taxvat {
        margin-bottom: 20px;
    }

    .before-login-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    body.checkout-index-index,
    body.customer-account-forgotpassword,
    body.customer-account-create {
        background: #fff;
    }

    .meridiancustomer-account-create .page-title-wrapper,
    .meridiancustomer-account-create .before-create-container .form.create.account,
    .customer-account-create .page-title-wrapper,
    .customer-account-create .before-create-container .form.create.account {
        width: 100%;
    }

    .fields.customer-type .field:nth-child(2) {
        text-align: right;
    }

    .customer-account-login button#send2 {
        float: none;
        max-width: 200px;
    }

    .login-container .fieldset:after {
        margin-top: 0;
    }

    .login-container .dashboard-holder {
        margin-bottom: 0;
    }

    .meridiancustomer-account-guest .checkout-additional-fields {
        width: 100%;
    }

    .customer-account-login .login-container {
        padding-top: 20px;
    }

    .meridiancustomer-account-guest a.action.create.primary, .meridiancustomer-account-guest a.action.primary.create {
        margin-bottom: 15px;
    }

    .customer-account-login .login-container .block {
        text-align: center;
        margin: 0 auto;
    }

    .customer-account-login .login-container .block.block-customer-login .block-content form {
        max-width: 100%;
    }

    .customer-account-login .login-container .block .block-title {
        border-bottom: 0;
        margin-bottom: 0;
    }

    .customer-account-login .login-container .block,
    .meridiancustomer-account-guest .before-login-container > .block {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    .customer-account-login .login-container .block .block-title span,
    .meridiancustomer-account-guest .before-login-container .block .block-title strong,
    .meridiancustomer-account-guest .before-login-container .block .block-title span {
        display: inline-block;
        font-size: 12px;
    }

    strong#newcustomer,
    #block-customer-login-heading {
        display: inline-block;
    }

    #guest {
        display: block;
    }

    .meridiancustomer-account-guest .before-login-container .block .block-content {
        max-width: 400px;
        margin: 0 auto;
    }

    .customer-account-login .login-container .block .block-title strong,
    #guest, #newcustomer, strong#block-customer-login-heading {
        font-weight: 600;
        font-size: 15px;
    }

    #guest, #newcustomer {
        padding-top: 15px;
        margin-right: 0;
    }

    .meridiancustomer-account-guest .before-login-container .block:last-child .block-content {
        padding: 0 0 15px;
        border-bottom: 0;
    }

    .customer-account-login fieldset.fieldset.login,
    .meridiancustomer-account-guest .before-login-container .block .block-content,
    .meridiancustomer-account-guest .newcustomer {
        border-bottom: 1px solid #929191;
        padding: 0 0 15px;
    }

    .meridiancustomer-account-create button.action.submit.primary,
    .customer-account-login .login-container .block.block-customer-login .block-content .actions-toolbar a.action.create.primary, .customer-account-login a.action.create.primary, .customer-account-login .action.login.primary, .meridiancustomer-account-guest a.action.create.primary, .meridiancustomer-account-guest a.action.primary, .meridiancustomer-account-guest .actions-toolbar > .primary .action {
        min-width: unset;
        position: relative;
        width: 200px;
        display: block;
    }

    .meridiancustomer-account-guest .actions-toolbar > .secondary {
        text-align: right;
    }

    .customer-account-login .block-new-customer-heading,
    .meridiancustomer-account-guest .hide_onmobile {
        display: none;
    }

    .meridiancustomer-account-guest .dashboard-holder .column.main .block:not(.widget) .block-title {
        border-bottom: 0;
        margin-bottom: 0;
    }

    strong#block-new-customer-heading {
        padding-top: 15px;
    }
}

@media all and (max-width: 599px) {
    .customer-account-forgotpassword .form.password.forget {
        width: 100%;
        padding-right: 15px;
    }

    .customer-account-forgotpassword input#captcha_user_forgotpassword,
    .customer-account-forgotpassword .actions-toolbar,
    .customer-account-forgotpassword input#email_address {
        max-width: 100%;
    }

    .customer-account-forgotpassword .actions-toolbar .primary {
        display: inline-block;
    }
}

@media all and (max-width: 425px) {
    .customer-account-login .login-container .block .block-content {
        margin-top: 0;
    }

    .meridiancustomer-account-guest .checkout-additional-fields,
    .meridiancustomer-account-guest .before-login-container > .block,
    .meridiancustomer-account-guest .before-login-container .block .block-content,
    fieldset.fieldset.login {
        max-width: 320px;
        margin: 0 auto;
    }

    .customer-account-login button#send2 {
        float: none;
    }

    .meridiancustomer-account-guest .before-login-container > .block.newcustomer {
        padding: 0;
    }

    .meridiancustomer-account-guest .dashboard-holder {
        padding-bottom: 0;
    }

    .meridiancustomer-account-guest .left {
        text-align: left;
    }

    .meridiancustomer-account-guest .checkout-step-item {
        width: 49%;
        padding-right: 0;
        text-align: left;
    }

    .customer-account-forgotpassword .fieldset > .field:not(.choice) > .control,
    .meridiancustomer-account-create .page-title-wrapper,
    .meridiancustomer-account-create .before-create-container .form.create.account,
    .customer-account-create .page-title-wrapper,
    .customer-account-create .before-create-container .form.create.account {
        width: 100%;
    }
}

@media all and (max-width: 375px) {
    .meridiancustomer-account-guest .checkout-step-item {
        width: auto;
        min-width: 100px;
    }
}

@media all and (max-width: 320px) {
    .meridiancustomer-account-guest .checkout-additional-fields {
        padding-left: 0;
    }
}