<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_helper = $this->helper('WebMeridian\ChangeEmailTemplates\Helper\Data');?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order    = $block->getOrder() ?>
<?php if ($_shipment && $_order): ?>
    <table class="email-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Items') ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Qty') ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_shipment->getAllItems() as $_item): ?>
            <?php
                if ($_item->getOrderItem()->getParentItem()) {
                    continue;
                }
            ?>
            <tbody>
                <tr>
                    <td>
                        <?php $itemImage = $_helper->getProductImg($_item->getProductId());?>
                        <img class="email-product-image" src="<?= $itemImage?>" title="<?= $_item->getName()?>" alt="<?= $_item->getName()?>" />
                        <div class="email-product-name">
                            <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
                            <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $_item->getSku() ?></p>
                        </div>
                    </td>
                    <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQty() ?></td>
                </tr>
                <tr style="height: 40px;background: #f2f2f2;border-top: 1px solid #d1d1d1;"><td></td><td></td></tr>
            </tbody>
        <?php endforeach; ?>
    </table>
<?php endif; ?>
