<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
<br />
    <?php foreach ($_shipment->getAllTracks() as $_item): ?>
        <p style="margin-bottom: 50px;">
            <a href="<?= $block->getBaseUrl() . 'sales/order/view/order_id/' . $_order->getId() ?>" >
                <?= __('Your tracking number is: ') ?><?= $block->escapeHtml($_item->getNumber()) ?></a>
        </p>
    <?php endforeach ?>

<?php endif; ?>
