<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<form id="discount-coupon-form"
      action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/couponPost') ?>"
      method="post"
      class="coupon-form"
      data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                       "removeCouponSelector": "#remove-coupon",
                                       "applyButton": "button.action.apply",
                                       "cancelButton": "button.action.cancel"}}'>
    <?php echo $block->getBlockHtml('formkey')?>
    <div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
        <input type="hidden" name="remove" id="remove-coupon" value="0" />

        <div class="coupon-holder">
            <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Code réduction'));?>" />
            <div class="actions-toolbar">
                <?php if (!strlen($block->getCouponCode())): ?>
                    <button class="action apply primary" type="button" value="<?php /* @escapeNotVerified */ echo __('Appliquer') ?>">
                        <span><?php /* @escapeNotVerified */ echo __('Appliquer') ?></span>
                    </button>
                <?php else: ?>
                    <button  type="button" class="action cancel primary" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
                <?php endif; ?>
            </div>
        </div>
    </div>
</form>










