<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/** @var $block \Magento\Checkout\Block\Cart */
?>
<?php if (!$block->hasError()): ?>
<?php $methods = $block->getMethods('methods') ?: $block->getMethods('top_methods') ?>
<ul class="checkout methods items checkout-methods-items">
<?php foreach ($methods as $method): ?>
    <?php if ($methodHtml = $block->getMethodHtml($method)): ?>
    <li class="item">
    	<?php /* @escapeNotVerified */ echo $methodHtml; ?></li>
    <?php endif; ?>
<?php endforeach; ?>
</ul>
<?php endif; ?>

<?php if ($block->getContinueShoppingUrl() && false): ?>
    <a class="action continue"
       href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
       title="<?php echo $block->escapeHtml(__('Continue Shopping')); ?>">
        <span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span>
    </a>
<?php endif; ?>