<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>
<?php
$helperBase = $this->helper('\Meridian\Base\Helper\Data');
$helper = $this->helper('\Magento\Checkout\Helper\Cart');
$currentPirceDisplay = $helperBase->currentPriceDisplayType();
$totalItemsExclTax = $helperBase->getTotalCartItems();
if ($currentPirceDisplay == 'INC_TAX'){
    $totalItemsExclTax = $helper->getQuote()->getGrandTotal();
}
$total = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(0,true,false);
?>
<div data-block="minicart" class="minicart-wrapper minicart-head<?php echo ($currentPirceDisplay == 'INC_TAX') ? ' minicart-hide-ht' : '' ?>">
    <a class="action showcart" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>" aria-label="action showcart"
       data-bind="scope: 'minicart_content'">
        <span class="counter qty empty"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
    </a>
    <div class="cart_balance">
        <span class="cart-price">
            <?php echo $total; ?></span> <span class="ht">
                 <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                     <?php echo __('Incl. Tax'); ?>
                 <?php endif; ?>
                 <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                     <?php echo __('Excl. Tax'); ?>
                 <?php endif; ?>
        </span>
    </div>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>window.checkout=<?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>; </script> <script type="text/x-magento-init">{"[data-block='minicart']":{"Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>}, "*":{"Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"}}</script>
</div>


