<?php
/** @var Meridian\Widgets\Block\Widget\Product\ProductsList $block */
$items = $block->homeBestSellingProducts();
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('\Meridian\Base\Helper\Data');
//Default fall back
if (null === $items) {
    if ($block->getProductCollection() && $block->getProductCollection()->getSize()) {
        $items = $block->getProductCollection()->getItems();
    }
}

$type = 'widget-product-grid';

$mode = 'grid';

$image = 'new_products_content_widget_grid';
$title = $block->getTitle() ? __($block->getTitle()) : '';
// $items = $block->getProductCollection()->getItems();

$showWishlist = false;
$showCompare = false;
$showCart = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
$description = false;
?>
<?php if (null !== $items): ?>
    <div class="title_for_carousel_home h2"><?=__('nos meilleures ventes') ?></div>
    <div class="product-container <?php /* @escapeNotVerified */
    echo $mode; ?>">
        <?php if ($title): ?>
            <div class="product-title">
                <h2><?php /* @escapeNotVerified */
                    echo $title; ?></h2>
            </div>
        <?php endif ?>
        <div class="inner-container">
            <?php /* @escapeNotVerified */
            echo '<!-- ' . $image . '-->' ?>
            <div class="product-row best-selling-slick-row <?php /* @escapeNotVerified */
            echo $type; ?>">
                <?php $iterator = 1; ?>
                <?php foreach ($items as $_item): ?>
                    <?php /* @escapeNotVerified */
                    echo ($iterator++ == 1) ? '<div class="item-col">' : '</div><div class="item-col">' ?>
                    <?php $productUrl = $_item->getProductUrl(); ?>
                    <div class="item-info" onclick="setLocation('<?php /* @escapeNotVerified */ echo $productUrl ?>')">
                        <?php
                        if ($this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_item)) {
                            ?>
                            <div class="dicount-percent">
                                <?= $this->helper('Meridian\Widgets\Helper\Data')->getDiscountPercent($_item); ?>
                            </div>
                            <?php
                        }
                        ?>
                        <div class="item-photo">
                            <?php
                            $alt = $helperBase->getProductImageAlt($_item);
                            echo $block->getImage($_item, $image, ['width' => 260, 'height' => 240, 'alt' => $alt])->toHtml();
                            ?>
                        </div>
                        <div class="item-details">
                            <p class="item-name">
                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                   href="<?php /* @escapeNotVerified */
                                   echo $productUrl ?>"
                                   class="item-name-link">
                                    <?php echo $block->escapeHtml($_item->getName()) ?>
                                </a>
                            </p>

                            <?php if ($templateType): ?>
                                <div class="stars-rating">
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType, true) ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_item->getTypeId() === 'configurable'): ?>
                            <div class="price-container-configurable">
                                <span class="pre-price-label"><?php echo __('À partir de') ?></span>
                                <?php endif; ?>
                            <?php echo $block->getProductPriceHtml($_item, $type); ?>
                                    <?php if($_item->getTypeId() === 'configurable'):
                                    $_children = $helperBase->getCountCompareProducts($_item);
                                    ?>
                                    <span class="ref-count">(<?php echo __('%1 références', $_children) ?>)</span>
                                </div><!-- end price-container-configurable -->
                            <?php endif; ?>

                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="product-item-actions hidden">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                    <button class="action tocart primary"
                                                            data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */
                                                            echo $block->getAddToCartUrl($_item) ?>"}}'
                                                            type="button" title="<?php /* @escapeNotVerified */
                                                    echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php else: ?>
                                                    <?php
                                                    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                    ?>
                                                    <button class="action tocart primary"
                                                            data-post='<?php /* @escapeNotVerified */
                                                            echo $postData; ?>'
                                                            type="button" title="<?php /* @escapeNotVerified */
                                                    echo __('Add to Cart') ?>">
                                                        <span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */
                                                            echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php /* @escapeNotVerified */
                                                            echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($showWishlist || $showCompare): ?>
                                        <div class="actions-secondary" data-role="add-to-links">
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist): ?>
                                                <a href="#"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $block->getAddToWishlistParams($_item); ?>'
                                                   class="action towishlist" data-action="add-to-wishlist"
                                                   title="<?php /* @escapeNotVerified */
                                                   echo __('Add to Wish List') ?>">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                            <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                                <a href="#" class="action tocompare"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $compareHelper->getPostDataParams($_item); ?>'
                                                   title="<?php /* @escapeNotVerified */
                                                   echo __('Add to Compare') ?>">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('Add to Compare') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php echo ($iterator == count($items) + 1) ? '</div>' : '' ?>
                <?php endforeach ?>
            </div>
            <div id="best-sellers-slick-arrow-place"></div>
            <?php echo $block->getPagerHtml() ?>
            <script type="text/javascript">require(['jquery', 'slick'], function ($){var arrow=$('#best-sellers-slick-arrow-place'); $(window).on('resize orientationchange', function (){$('.best-selling-slick-row').slick('resize');}); $(document).ready(function ($){$('.best-selling-slick-row').slick({autoplay: false, speed: 500, slidesToShow: 1, appendArrows: arrow, prevArrow: '<div class="slick-prev"><div>', nextArrow: '<div class="slick-next"><div>', mobileFirst: true, dots: false, responsive: [{breakpoint: 767, infinite: true, settings:{slidesToShow: 2, slidesToScroll: 1}},{breakpoint: 991, settings: "unslick"},]});});}); </script>
        </div>
    </div>
<?php endif; ?>