/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

body{background:#fff;color:#333;font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.4;margin:0;padding:0;text-align:left}main{display:block}img{border:0}a{color:#1979c3;text-decoration:underline}a:hover{text-decoration:none}h1{font-size:30px;font-weight:700;margin:0 0 20px}h2{font-size:20px;font-weight:700;margin:0 0 10px}input[type=text],textarea{box-sizing:border-box;background:#fff;border:1px solid #c2c2c2;border-radius:1px;width:100%;font-size:14px;font-family:Arial,Helvetica,sans-serif;line-height:1.42857143;background-clip:padding-box;vertical-align:baseline}input[type=text]{height:32px;padding:0 9px}textarea{height:auto;padding:10px;resize:vertical}input[type=text]:focus,textarea:focus{box-shadow:0 0 3px 1px #68a8e0}button{background:#1979c3;border:none;border-radius:3px;color:#fff;cursor:pointer;display:inline-block;font-size:14px;font-weight:700;line-height:16px;padding:7px 15px;text-align:center}button:hover{background:#006bb4}p{margin:0 0 10px}ol,ul{list-style:none}.page-main{padding:20px 30px}.trace{background:#f1f1f1;min-height:250px;overflow:auto;width:100%}.message{border:1px solid;background-position:10px 11px;background-repeat:no-repeat;margin:20px 0;padding:10px 20px 10px 35px}.error{border-color:#b30000;background-color:#fae5e5;background-image:url(../images/i_msg-error.gif);color:#b30000}.success{border-color:#006400;background-color:#e5efe5;background-image:url(../images/i_msg-success.gif);color:#006400}.info{border-color:#6f4400;background-color:#fdf0d5;background-image:url(../images/i_msg-note.gif);color:#6f4400}.fieldset{border:0;margin:0 0 20px;padding:0}.fieldset .legend{box-sizing:border-box;float:left;font-size:20px;line-height:1.2;margin:0 0 25px;padding:0}.fieldset .legend+br{display:block;clear:both;height:0;overflow:hidden;visibility:hidden}.fieldset:last-child{margin-bottom:0}.fieldset:after{content:attr(data-hasrequired);color:#e02b27;display:block;font-size:12px;letter-spacing:normal;margin:10px 0 0;word-spacing:normal}.field{margin:0 0 20px}.label{font-weight:700}.label:after{content:"*";font-size:12px;color:#e02b27;margin:0 0 0 5px}

.wrap-inner {
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}
.maintenance-img {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}