<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Confirmation de creation de compte" }} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}
<h1 style="font-weight: 600; font-size: 20px;" class="email-summary-header">{{trans "CRÉATION DE VOTRE COMPTE SUR COMPTOIR DES PROS"}}</h1>
<p style="margin-bottom: 30px;" class="greeting">{{trans "Bonjour, %name," name=$customer.name}}</p>
<p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>
<p style="margin-bottom: 30px;">
    {{trans
        "Vous trouverez ci-dessous les informations nécessaires pour accéder à votre compte :"
    }}
</p>
<ul>
    <li><strong>{{trans "Email:"}}</strong> {{var customer.email}}</li>
    <li><strong>{{trans "Password:"}}</strong> <em>{{trans "Password you set when creating account"}}</em></li>
</ul>
<p>
    {{trans
        'Forgot your account password? Click <a href="%reset_url">here</a> to reset it.'

        reset_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>
<p style="margin-bottom: 50px;">
    {{trans
        'Vous pouvez accéder directement à votre compte depuis <a href="%login_url">Mon compte</a>'
        login_url="$this.getUrl($store,'customer/account/login/')"
    |raw}}
</p>
<p style="margin-bottom: 30px;" >{{trans "When you sign in to your account, you will be able to:"}}</p>
<ul id="avantages-list" style="margin-bottom: 50px;">
    <li style="list-style: none;"><span style="margin-right: 10px;">✔</span>
        {{trans "Le cumul de points de fidélité,"}}
    </li>
    <li style="list-style: none;"><span style="margin-right: 10px;">✔</span>
        {{trans "Un passage de commande plus rapide,"}}
    </li>
    <li style="list-style: none;"><span style="margin-right: 10px;">✔</span>
        {{trans "La consultation et le suivi de vos commandes,"}}
    </li>
    <li style="list-style: none;"><span style="margin-right: 10px;">✔</span>
        {{trans "L’information du suivi et de l’expédition de vos commandes"}}
    </li>
    <li style="font-weight: bold; list-style: none;" class="avantages"><span style="margin-right: 10px;">✔</span>
        {{trans "L’obtention d’un accès Privilège* pour bénéficier de prix encore plus avantageux..."}}
    </li>
</ul>
<p style="margin-top: 50px; font-size: 10px;">
    {{trans "*Conditions particulières nous contacter pour en savoir plus"}}
</p>
{{template config_path="design/email/footer_template"}}
