<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Paypal\Block\Express\InContext\Minicart\Button;

/**
 * @var \Magento\Paypal\Block\Express\InContext\Minicart\Button $block
 */
$config = [
    'Magento_Paypal/js/in-context/button' => [
        'id' => $block->escapeHtml($block->getContainerId()),
        'linkDataAction' => $block->escapeHtml($block->getLinkAction()),
        'paypalButton' => $block->escapeHtml(Button::PAYPAL_BUTTON_ID),
        'addToCartSelector' => $block->escapeHtml($block->getAddToCartSelector())
    ]
];

?>
<div data-mage-init='<?= /* @noEscape */ json_encode($config) ?>'
     class="paypal checkout paypal-logo paypal_check_but <?= $block->escapeHtml($block->getContainerId()) ?>-container">
    <a data-action="<?= $block->escapeHtml($block->getLinkAction()) ?>" href="#">
        Payer avec <strong>PayPal</strong>
    </a>
</div>


