<div class="page-main-actions">
    <div data-mage-init='{"floatingHeader": {}}' class="page-actions"  data-ui-id="page-actions-toolbar-content-header" >

        <button id="autodrop" title="autodrop" type="button" class="action-default scalable primary" onclick="setLocation('<?php echo $this->getAutoDropUrl(); ?>');"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Auto Drop'); ?></span>
        </button>

        <button id="back" title="back" type="button" class="action-default scalable back" onclick="setLocation('<?php echo $this->getBackUrl(); ?>');"  data-ui-id="adminhtml-order-edit-save-button" >
            <span><?php echo __('Back'); ?></span>
        </button>

    </div>
</div>
