@CHARSET "UTF-8";

select.tax_display_select { background-color: #f0f0f0;  border-radius: 3px; padding:0px 20px 0px 5px; height:24px; cursor:pointer; }
select.tax_display_select option { cursor:pointer }

.price-including-tax::before 
{
    content: attr(data-label) ': ';
    font-size: 1.1rem;
}