<!--@subject Remboursement de votre commande @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1>{{trans 'REMBOURSEMENT DE VOTRE COMMANDE %rmaid' rmaid=$rma_reference}}</h1>
            <p style="margin-bottom: 40px; font-size: 12px;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$rma_created_at |raw}}</p>
            <p class="greeting-customer">{{trans 'Bonjour,'}} {{var rma_customer_name}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p style="margin-bottom: 50px;">
                Nous vous informons que nous avons bien pris en compte votre demande de remboursement. Celui-ci sera fait sur le moyen de paiement utilisé lors de la commande.
            </p>
        </td>
    </tr>
    <tr>
        {{var products_template |raw}}
    </tr>
</table>

{{template config_path="design/email/footer_template"}}