<!--@subject {{trans 'Demande de retour'}} #{{var rma_reference}} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1 style="font-weight: 600;margin-bottom: 0;" class="greeting">VOTRE DEMANDE DE RETOUR #{{var order_increment_id |raw}}</h1>
            <p>{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$rma_created_at |raw}}</p>
            <p class="greeting-customer">{{trans 'Bonjour,'}} {{var rma_customer_name}}</p>
            <p>{{trans 'Nous avons bien reçu votre demande de retour, et regrettons que votre produit ne vous convienne pas.'}}</p>
            <p>{{trans 'Afin que le retour de votre produit se fasse dans de bonnes conditions, notez qu’il est impératif que :'}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <ul class="rma-conditions">
                <li>{{trans "Le produit n’ai pas été utilisé (aucune trace d'usure, rayures)"}}</li>
                <li>{{trans "Le produit soit réexpédié dans son emballage d'origine."}}</li>
            </ul>
            <p>{{trans "Une vérification par notre équipe qualité sera effectuée à réception du retour et cette dernière validera le remboursement si et seulement si ces conditions sont remplies."}}</p>
            <p style="margin-bottom: 40px;">{{trans "Vous disposez d’un délai maximum de 14 jours à partir de la date de livraison."}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <h3 style="font-weight: 600">{{trans 'Je souhaite me rétracter'}}</h3>
            <p style="margin-bottom: 30px;">{{trans "Pour toute demande de rétractation, veuillez remplir le formulaire de rétractation qui vous a été envoyé en pièce jointe dans votre confirmation de commande et l’envoyer à notre service client : <a href="mailto:%store_email">%store_email</a>" store_email=$store_email |raw}}</p>
            <h3 style="font-weight: 600">{{trans 'Garantie / SAV :'}}</h3>
            <p>{{trans 'Si votre retour concerne un produit défectueux, veuillez créer un ticket depuis votre compte pour être mis en relation avec le service client.'}}</p>
            <p style="margin-bottom: 50px;">{{trans 'N’oubliez pas de joindre à votre ticket des'}} <span style="text-decoration: underline">{{trans 'photos du produit.'}}</span></p>
            <h3 style="font-weight: 600">{{trans 'Mon produit est endommagé :'}}</h3>
            <p style="margin-bottom: 60px;">{{trans 'Si votre retour concerne un produit endommagé, veuillez créer un ticket depuis votre compte pour être mis en relation avec le service client'}}
                {{trans "N’oubliez pas de joindre à votre ticket des"}} <span style="text-decoration: underline">{{trans "photos du produit."}}</span>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}