<!--@subject Retour en cours de traitement #{{var rma_reference}} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1 style="font-weight: 600;margin-bottom: 0;" class="greeting">RETOUR #{{var order_increment_id |raw}} EN COURS DE TRAITEMENT</h1>
            <p style="margin-bottom: 40px; font-size: 12px;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$rma_created_at |raw}}</p>
            <p class="greeting-customer">{{trans 'Bonjour,'}} {{var rma_customer_name}}</p>
            <p>{{trans "Votre colis est bien arrivé dans notre entrepôt, et notre équipe technique a validé votre retour."}}</p>
            <p style="margin-bottom: 50px;">{{trans "Vous recevrez la confirmation de remboursement sous peu."}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}