<!--@subject Demande de retour validée @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <h1 style="font-weight: 600;margin-bottom: 0;" class="greeting">VALIDATION DE VOTRE DEMANDE DE RETOUR #{{var order_increment_id |raw}}</h1>
            <p style="margin-bottom: 40px; font-size: 12px;">{{trans 'Effectuée le <span class="no-link">%created_at</span>' created_at=$rma_created_at |raw}}</p>
            <p class="greeting-customer">{{trans 'Bonjour,'}} {{var rma_customer_name}}</p>
            <p>{{trans 'Votre demande de retour vient d’être validée.'}}</p>
            <p style="margin-bottom: 50px;">{{trans 'Vous trouverez ci-dessous la procédure à suivre pour nous retourner votre colis.'}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <p>{{trans "1/ Veillez à bien emballer le colis afin qu'aucuns chocs ne surviennent durant le transport."}}</p>
            <p>{{trans "2/ Insérez dans votre colis le"}} <a href="{{var download_pdf_url}}" style="text-decoration: underline;">bordereau de retour *</a></p>
            <p>3/<span style="color: red;">{{trans ' Indiquez sur le colis le numéro de RMA : '}}{{var rma_reference}}</span>{{trans '(sans cela nous ne pourrons réceptionner votre colis).'}}</p>
            <p style="margin-top: 30px;">{{trans "Veuillez adresser votre colis à l’adresse ci-dessous :"}}</p>
            <p>DGP FRANCE</p>
            <p>Service SAV</p>
            <p>123 Allée de l'Eco Park</p>
            <p style="margin-bottom: 30px;">59118 Wambrechies</p>
        </td>
    </tr>
    <tr class="email-information">
        <p style="margin-bottom: 150px;">{{trans 'Nous reviendrons vers vous dès réception de votre produit.'}}</p>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}