<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$helperUser = $this->helper('Meridian\CustomerStatus\Helper\Data');
//$switcherBlock = $block->getLayout()->createBlock('Anowave\TaxSwitch\Block\Switcher');
//$crt = $switcherBlock->currentPriceDisplayType();
?>

<div class="account-drop">
    <?php

    if ($helperUser->isLoggedIn()) {
        echo "<strong class='logged-in-icon'>" . __('Bonjour ') . $helperUser->getCurrentUser()->getFirstname() . "</strong>";
    } else {
        echo "<strong>  </strong>";
    }
    ?>
    <ul class="tax-switcher">
        <?php echo $block->getChildHtml('tax.switcher.top'); ?>
    </ul>
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
            <span class="my_account_button"><?php echo __('Mon Compte'); ?></span>
            <i class="fa fa-angle-down"></i>
        </button>

        <!-- After login dropdown -->
        <?php if ($helperUser->isLoggedIn()) { ?>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <div class="drop-inner">
                    <ul>
                        <li>
                            <a href="<?php echo $this->getUrl('customer/account'); ?>"><?php echo __('Mon tableau de bord'); ?></a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('sales/order/history/'); ?>"><?php echo __('Mes commandes'); ?></a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('customer/account/edit'); ?>"><?php echo __('Mes informations personnelles'); ?></a>
                        </li>
                        <li>
                            <a href="<?php echo $this->getUrl('aw_helpdesk/ticket'); ?>"><?php echo __('Mes tickets'); ?></a>
                        </li>
                        <li class="center"><a
                                    href="<?php echo $this->getUrl('customer/account/logout'); ?>"><?php echo __('Deconnexion'); ?></a>
                        </li>
                    </ul>
                </div>
            </div>
        <?php } else { ?>

            <!-- Before login dropdown -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <div class="drop-inner">
                    <ul class="login-list">
                        <li>
                            <form method="get" class="price-switcher">
                                <?php $i = 1; ?>
                                <?php /*foreach ($switcherBlock->getOptions() as $option): ?>
                                    <label class="btn <?php if ($option['checked']): ?>opt-selected<?php endif ?>" for="label-<?php echo $i; ?>">
                                        <input id="label-<?php echo $i; ?>" type="radio" name="tax_display" onchange="this.form.submit()"
                                               class="tax_display_select" value="<?php echo $option['value'] ?>"
                                               <?php if ($option['checked']): ?>checked<?php endif ?>><span
                                                class="btn-price"><?php echo $option['label'] ?></span>
                                    </label>
                                    <?php  $i++; ?>
                                <?php endforeach*/ ?>
                            </form>
                        </li>
                        <li><a href="<?php echo $this->getUrl('customer/account/login'); ?>"
                               class="action primary"><?php echo __('Identifiez-vous'); ?></a></li>

                        <li><a href="<?php echo $this->getUrl('customer/account/create'); ?>"
                               class="btn-error"><?php echo __('Créez votre compte'); ?></a></li>
                    </ul>
                </div>
            </div>

        <?php } ?>
    </div>
</div>