@dashboard-blue: #0097BA;
@font-white: #fff;
@gray-table: #a4a4a4;
@gray-table-content: #f1f1f1;
@gray-table-content2: #c4c4c4;
.customer-account-index {
  .wrap-welcom-text {
    padding-bottom: 15px;
  }
}

.block-title-not-bg {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 2px solid @gray-table-content;
  color: #2b303c;
}

.aw-helpdesk-ticket-view {
  .customer-reply {
    display: block;
    width: 80%;
    float: right;
    border: 1px solid #E0F2F7;
    background-color: #E0F2F7;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }
  .admin-reply {
    display: block;
    width: 80%;
    float: left;
    border: 1px solid #F6E3CE;
    background-color: #F6E3CE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }
  .aw-helpdesk-file-upload__container {
    background-color: unset;
    span.up_label {
      display: inline-block;
      font-style: italic;
      font-size: 12px;
      float: left;
      padding: 3px 0;
    }
    span.aw-helpdesk-file-upload {
      display: inline-block;
      background-color: @gray-table-content2;
      padding: 3px 15px;
      font-size: 12px;
      margin-left: 10px;
      border-radius: 0;
      .aw-helpdesk-file-upload__link {
        color: black;
      }
    }
  }
  #aw-helpdesk-reply-button {
    padding: 3px 8px !important;
  }
  .box-content {
    padding: 10px !important;
    .field {
      margin: 0 !important;
    }
    .label {
      text-align: left !important;
      font-size: 13px !important;
    }
  }
  .ticket-close-link {
    float: left !important;
  }
  #aw-helpdesk-close-button {
    margin: 15px 0;
    background-color: @dashboard-blue;
    color: @font-white;
    font-weight: 600;
    border-radius: 0 !important;
    padding: 3px 10px !important;
    border: none;
  }
  ul.messages {
    display: block !important;
  }
}

.aw-helpdesk-file-upload__container {
  background-color: unset !important;
  span.up_label {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    float: left;
    padding: 3px 0;
  }
  span.aw-helpdesk-file-upload {
    display: inline-block;
    background-color: @gray-table-content2;
    padding: 3px 15px;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 0;
    .aw-helpdesk-file-upload__link {
      color: black;
    }
  }
}

.account.page-layout-2columns-left {
  .sidebar.sidebar-main {
    .mobile-logout {
      &:nth-of-type(2) {
        display: none !important;
      }
    }
  }
  &.customer-address-form {
    #form-validate {
      .fieldset {
        width: 45%;
        .check-row{
          input, label{
            display: inline !important;
          }
          label{
            vertical-align: middle !important;
          }
        }
        &:nth-of-type(2) {
          float: left;
          margin-left: 5%;
        }
        label {
          white-space: normal;
        }
      }
    }
  }
  .pages-items {
    display: none !important;
  }
  &.newsletter-manage-index {
    form {
      margin-top: 0;
    }
  }
  &.customer-account-edit {
    .form-edit-account {
      .customer-type {
        .field {
          width: 49%;
          display: inline-block;
        }
      }
    }
  }
  &.customer-account-index {
    .box-actions {
      a {
        color: @dashboard-blue !important;
        background-color: unset !important;
        font-weight: normal !important;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
    th.col.status {
      border-right: none !important;
    }
  }
  &.rewardpoints-index-index {
    .table-wrapper.orders-recent {
      margin-bottom: 0 !important;
    }
    table {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      td.date {
        width: 120px;
      }
      td.status {
        width: 120px;
      }
      &.summary-points {
        float: right;
        width: 240px;
        color: white;
        font-weight: 600;
        tr {
          background-color: @gray-table;
        }
        td {
          border: none !important;
        }
      }
    }
    .toolbar-amount, .limiter-label, .limiter-text {
      display: none !important;
    }
  }
  &.rma-index-newrma {
    .order-details-items {
      margin-bottom: 15px !important;
      border-bottom: none !important;
      padding: 0 !important;
    }
    textarea {
      margin-top: 15px;
      margin-bottom: 5px;
    }
    table {
      td {
        vertical-align: middle !important;
        strong {
          margin-bottom: 0 !important;
        }
      }
      .col.sku {
        text-align: center;
      }
      margin: 15px 0 0 0 !important;
      padding: 0 !important;
      border-bottom: none !important;
      thead {
        tr {
          th {
            text-align: center !important;
          }
        }
      }
    }
    button.action.primary.add {
      padding: 3px 8px !important;
    }
  }
  &.rma-index-selectorder {
    .table-order-items {
      margin: 0 !important;
    }
  }
  .as_button_admin {
    display: block;
    height: auto;
    width: 30%;
    text-align: right;
    float: right;
    a {
      color: white;
      text-transform: none;
      font-weight: 600;
    }
  }
  &.rma-index-view {
    margin-top: 10px;
    table {
      thead {
        tr {
          th {
            text-align: center !important;
          }
        }
      }
      tr {
        td {
          text-align: center;
        }
      }
    }
    .wrap_button_admin {
      text-align: right;
      button {
        padding: 3px 8px !important;
      }
      width: 100%;
      display: block;
      clear: both;
    }
    #form_msg {
      margin-top: 10px;
    }
    .order-details-items {
      border-bottom: unset;
      margin-bottom: unset;
      padding-bottom: unset;
    }
  }

  &.rma-index-index {
    button {
      &:hover {
        background-color: @dashboard-blue;
        border: 1px solid @dashboard-blue;
      }
    }
    th.col.status {
      border-right: none !important;
    }
    .action.primary.add {
      padding: 3px 8px;
    }
    .message-info-text {
      margin-bottom: 15px;
      text-align: right;
      font-weight: 500;
      .italic {
        font-style: italic;
        font-weight: normal;
      }
    }
    table {
      margin: 10px 0 0 0 !important;
      .col.status {
        border-right: none;
        text-align: center;
      }
    }
  }
  &.quote2sales-index-view {
    .buttons_bottom {
      button.action.primary {
        padding: 3px 8px !important;
        float: right;
      }
    }
    .block-dashboard-addresses {
      display: none !important;
      font-size: 13px !important;
      .box {
        .box-title {
          margin: 0 !important;
          padding: 0 !important;
        }
        padding-top: 5px;
        font: 13px/17px "Open Sans", Arial, sans-serif !important;
        p, span, strong {
          padding-top: 15px;
          font: 13px/17px "Open Sans", Arial, sans-serif !important;
        }
      }
    }
    .block-dashboard-info {
      margin-bottom: 0 !important;
    }
    #my-orders-table {
      margin-top: 15px;
      margin-bottom: 0 !important;
    }
    table.totals-table {
      margin-bottom: 15px !important;
      th.mark {
        text-align: right !important;
        background-color: unset !important;
        width: 80% !important;
        padding-right: 25px;
      }
      th, td {
        text-align: right !important;
        padding: 5px !important;
        vertical-align: middle !important;
      }
      .tax, .shipping {
        th {
          font-weight: normal !important;
        }
      }
    }
  }
  &.quote2sales-index-quotes {
    .dashboard-as-table {
      table {
        margin-top: unset;
      }
    }
  }

  .form-edit-account {

  }
  .form.form-create-ticket {

    .actions-toolbar {
      width: 48% !important;
      margin: 0 !important;
      .primary {
        float: right;
        margin: 0 !important;
        button {
          padding: 3px 10px !important;
        }
      }
    }
    padding: 15px 0 !important;
    .field {
      margin: 0 !important;
    }
    .label {
      width: 100% !important;
      padding: 8px 5px !important;
      text-align: left !important;
      font-size: 13px !important;
      line-height: 17px !important;
    }
    .control {
      width: 100% !important;
      select, input, textarea {
        border: 1px solid @gray-table !important;
      }
    }
  }
  .form-newsletter-manage {
    margin-top: 15px;
    .field.choice {
      width: 60%;
      background-color: @gray-table-content;
      padding: 15px;
    }
    .actions-toolbar {
      width: 60% !important;
      .secondary {
        display: none !important;
      }
      .primary {
        float: right;
        button {
          margin: 0 !important;
          padding: 3px 10px !important;
        }
      }
    }
  }

  &.customer-address-index {
    .bot-pad-15 {
      padding-bottom: 15px !important;
    }
    .box {
      .box-actions {
        a {
          background-color: unset !important;
          color: @dashboard-blue;
          padding: 0 !important;
          text-transform: unset;
          span {
            padding-top: 0 !important;
          }
        }
      }
      padding-top: 0 !important;
      .box-title {
        span {
          font-weight: 600 !important;
        }
      }
      p {
        padding: 0 !important;
      }

    }
    .address-actions.actions-toolbar {
      button {
        text-transform: none;
        font-size: 13px !important;
        background-color: unset;
        color: @dashboard-blue;
        padding: 0 !important;
      }
      a {
        font-size: 13px !important;
      }
    }
  }
  .page-title {
    padding-left: 32%;
  }
  .order-products-toolbar.toolbar.bottom, .toolbar.tickets-toolbar.bottom {
    .pager {
      margin: 0 !important;
    }
    .toolbar-amount, .limiter-label, .limiter-text {
      display: none !important;
    }
    #limiter {
      background-color: #f1f1f1;
      padding: 5px;
    }
  }
  .block-title {
    width: 100%;
    min-height: 25px;
    text-transform: uppercase;
    background-color: @dashboard-blue;
    margin: unset !important;
    padding: 0 10px !important;
    line-height: 25px;
    strong {
      color: @font-white !important;
      font-size: 13px !important;
      margin: unset !important;
    }
  }
  .block-addresses-list {
    .block-content {
      padding-top: 15px;
    }
  }
  .block-addresses-default, .block-addresses-list {
    font-size: 13px !important;
    .box {
      .box-title {
        margin: 0 !important;
        padding: 0 !important;
      }
      padding-top: 15px;
      font: 13px/17px "Open Sans", Arial, sans-serif !important;
      p, span, strong {
        padding-top: 15px;
        font: 13px/17px "Open Sans", Arial, sans-serif !important;
      }
    }
  }
}

.dashboard-as-table {
  table {
    font-size: 13px;
    margin-top: 10px;
    thead {
      background-color: @gray-table;
      color: @font-white;
      .request-head {
        background-color: unset !important;
      }
      th {
        text-align: center;
        border-bottom: 2px solid white !important;
        border-right: 2px solid white !important;
        &:last-child {
          border-right: unset !important;
        }
      }
    }
    tbody {
      background-color: @gray-table-content;
      td {
        vertical-align: middle !important;
        text-align: center;
        border-bottom: 2px solid white !important;
        border-right: 2px solid white !important;
        a {
          margin: unset !important;
        }
        &:last-child {
          border-right: unset !important;
        }
      }
    }
  }
}

.customer-dashboard-short-info {
  margin: 0 !important;
  .box {
    margin-bottom: unset !important;
  }
  .block-title {
    width: 100%;
    min-height: 25px;
    text-transform: uppercase;
    background-color: @dashboard-blue;
    margin: unset !important;
    padding: 0 10px !important;
    line-height: 25px;
    strong {
      color: @font-white !important;
      font-size: 13px !important;
      margin: unset !important;
    }
  }
  .block-content {
    line-height: 17px !important;
    padding-top: 10px;
    font-size: 13px !important;
    .box {
      strong, span, p, address {
        font-size: 13px !important;
        margin: 0 !important;
        line-height: 17px !important;
      }
      a.action {
        text-transform: unset !important;
      }
    }
  }
}

.account.sales-order-history {
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px !important;
  }
  #my-orders-table {
    thead {
      display: table;
      table-layout: fixed;
      width: 100%;
      th {
        &:nth-of-type(1) {
          width: 16% !important;
        }
        &:nth-of-type(2) {
          width: 14% !important;
        }
        &:nth-of-type(3) {
          width: 25% !important;
        }
        &:nth-of-type(4) {
          width: 12% !important;
        }
        &:nth-of-type(5) {
          width: 16% !important;
        }
        &:nth-of-type(6) {
          width: 17% !important;
        }
      }
    }
    tbody {
      overflow-y: auto !important;
      max-height: 50vh;
      width: 100%;
      display: block;
      tr {
        table-layout: fixed;
        display: table;
        word-break: break-word;
        width: 100%;
        td {
          &:nth-of-type(1) {
            width: 16% !important;
          }
          &:nth-of-type(2) {
            width: 14% !important;
          }
          &:nth-of-type(3) {
            width: 25% !important;
          }
          &:nth-of-type(4) {
            width: 12% !important;
          }
          &:nth-of-type(5) {
            width: 16% !important;
          }
          &:nth-of-type(6) {
            width: 17% !important;
          }

        }
      }
    }
  }
  th.col.status {
    border-right: none !important;
    width: 100px;
  }
}

.account.sales-order-view {
  .wrap-item-info-short{
    .bundle-items-titles{
      .title{
        font-weight: 700;
      }
    }
    .col-image{
      display: inline-block;
      vertical-align: top;
      padding-top: 10px;
    }
    .col-text{
      display: inline-block;
    }
  }
  .block.block-order-details-view {
    .box.box-order-billing-address {
      order: 1;
    }
    .box.box-order-shipping-address {
      order: 2;
    }
    .box.box-order-shipping-method {
      order: 3;
    }
    .box.box-order-billing-method {
      order: 4;
    }
  }
  .items.order-links {
    display: none !important;
  }
  .order-title {
    width: 100%;
    min-height: 25px;
    text-transform: uppercase;
    background-color: @dashboard-blue;
    margin: unset !important;
    padding: 0 10px !important;
    line-height: 25px;
    strong {
      color: @font-white !important;
      font-size: 13px !important;
      margin: unset !important;
      font-weight: 600 !important;
    }
  }
  .order-top-bar {
    .left-part, .right-part {
      display: block;
      width: 49%;
      padding: 8px 0;
      font-size: 13px;
      line-height: 17px;
    }
    .left-part {
      float: left;
      .data {
        .order-date {
          display: inline-block;
          .label {
            display: none;
          }
        }
      }
      .status {
        .order-status {
          margin-bottom: unset !important;
        }
      }
    }
    .right-part {
      text-align: right;
      float: right;
      .action.print {
        display: none;
      }
      .action.order {
        color: @dashboard-blue;
        font-weight: 600;
      }
    }
  }
  .order-view-item {
    td {
      background-color: @font-white;
      border: none;
    }
    .order-image-place {
      margin-left: 20px;
      margin-right: 40px;
      height: 50px;
      width: 50px;
      overflow: hidden;
      text-align: center;
      float: left;
      border: 1px solid @gray-table;
    }
    .item-image-photo {
      height: 50px;
    }
  }
  .table-order-items {
    border-left: 1px solid @gray-table-content2;
    border-right: 1px solid @gray-table-content2;
    thead {
      background-color: @gray-table-content;
      color: #000;
      text-align: center;
      border-top: 1px solid @gray-table-content2;
      border-bottom: 1px solid @gray-table-content2;
      margin-right: 20px;
      th {
        border: none !important;
      }
    }
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
        border-top: 1px solid @gray-table-content2;
        &:first-child {
          border: none;
        }
        .price {
          font-weight: normal !important;
        }
      }
    }
    tfoot {
      background-color: @gray-table-content;
      border-bottom: 1px solid @gray-table-content2;
      tr {
        th.mark {
          background-color: @gray-table-content;
        }
        th {
          padding: 8px 100px 8px 8px !important;
          vertical-align: middle;
        }
        td {
          padding: 8px !important;
          vertical-align: middle;
        }
        border-top: 1px solid @gray-table-content2;
        &:first-child {
          border: none;
        }
      }
    }
    .price {
      font-size: 13px !important;
    }
    .price-including-tax, .price-excluding-tax {
      font-size: 13px !important;
      line-height: unset !important;
    }
    td.col.price {
      width: 15%;
    }
  }
  .order-details-items {
    border-bottom: none !important;
    margin-bottom: 0 !important;
  }
  .block-order-details-view {
    .block-content {
      display: flex;
    }
    .box {
      font-size: 12px !important;
      display: inline-block;
      width: 25% !important;
      border: 5px solid @gray-table-content;
      clear: unset !important;
      float: unset !important;
      margin-right: 1%;
      padding: 10px;
      &:last-child {
        margin-right: 0;
      }
      .box-title {
        span {
          font-size: 12px !important;
        }
        text-transform: uppercase;
      }
    }
  }
  .order-actions-toolbar-bottom {
    display: none !important;
    .action.order {
      display: none;
    }
    a {
      display: block;
      color: @dashboard-blue;
      font-weight: 600;
    }
  }
}

.orders-history.dashboard-as-table {
  margin-top: unset !important;
}

.sales-order-history {
  a.action.back {
    display: none !important;
  }
}

.wrap-mob-table {
  display: none !important;
}

.index-recent-table, .only-mob-v, .inner-wrap-info-order, .quote-mob {
  display: none !important;
}

.mobile-logout {
  display: none;
}

@media (min-width: 651px) and (max-width: 991px) {
  .customer-address-form{
    .column.main{
      form#form-validate{
        .actions-toolbar{
          .primary{
            display: block;
            margin: 0 auto;
          }
        }
        fieldset{
          padding: 0 15px ;
          width: 100% !important;
          margin: 0 !important;
        }
        .check-row{
          input, label{
            display: inline !important;
          }
          label{
            vertical-align: middle !important;
          }
        }
      }
    }
  }
  body, html {
    overflow-x: visible !important;
  }

  .account-nav-content {
    padding: unset;
    background-color: unset;
    ul {
      .item.current {
        strong {
          border: none;
        }
        a {
          border: none;
        }
      }
      li {
        background-color: #f5f5f5;
        position: relative;
        margin-bottom: 4px;
        padding-left: 25px;
        &:before {
          display: block;
          height: 20px;
          width: 20px;
          position: absolute;
          top: 5px;
          left: 10px;
          background-size: contain !important;
        }
        &:nth-of-type(1) {
          &:before {
            background: url("../images/nav/tablo.png") no-repeat;
          }
        }
        &:nth-of-type(2) {
          &:before {
            background: url("../images/nav/commandes.png") no-repeat;
          }
        }
        &:nth-of-type(3) {
          display: none !important;
        }
        &:nth-of-type(4) {
          &:before {
            background: url("../images/nav/devis.png") no-repeat;
          }
        }
        &:nth-of-type(5) {
          display: none !important;
        }
        &:nth-of-type(6) {
          &:before {
            background: url("../images/nav/person.png") no-repeat;
          }
        }
        &:nth-of-type(7) {
          &:before {
            background: url("../images/nav/carnet.png") no-repeat;
          }
        }
        &:nth-of-type(8) {
          &:before {
            background: url("../images/nav/points.png") no-repeat;
          }
        }
        &:nth-of-type(9) {
          display: none !important;
        }
        &:nth-of-type(10) {
          display: none !important;
        }
        &:nth-of-type(11) {
          display: none !important;
        }
        a {
          color: black;
          &:after {
            display: block;
            position: absolute;
            content: "❯";
            width: 10px;
            right: 10px;
            top: 5px;
            font-size: 17px;
          }
        }
      }
    }
  }

  .account.page-layout-2columns-left .page-title {
    padding-left: 0 !important;
  }

  .customer-address-index {
    .block-addresses-default {
      .block-content {
        .box {
          width: 48.8% !important;
          display: block !important;
          &:nth-of-type(1) {
            float: left !important;
          }
          &:nth-of-type(2) {
            float: right !important;
          }
        }
      }
    }
  }

  .account {
    .dashboard-holder {
      display: flex !important;
      .sidebar.sidebar-main {
        order: 3;
      }
      .customer-dashboard-short-info {
        clear: both;
        .block-content {
          .box {
            width: 48.8% !important;
            &:nth-of-type(1) {
              float: left;
            }
            &:nth-of-type(2) {
              float: right;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width:991px) {
  #account-nav {
    ul {
      li {
        &:nth-of-type(3) {
          display: block !important;
          &:before {
            background: url("../images/nav/returimg.png") no-repeat;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .customer-address-form{
    .column.main{
      form#form-validate{
        .actions-toolbar{
          div.primary{
            display: block;
            margin: 0 auto;
            width: 50%;
          }
          margin-bottom: 20px !important;
        }
        fieldset{
          padding: 0 15px ;
          width: 100% !important;
          margin: 0 !important;
        }
        .check-row{
          input, label{
            display: inline !important;
          }
          label{
            vertical-align: middle !important;
          }
        }
      }
    }
  }
  .rewardpoints-index-index{
    .sidebar.sidebar-main{
      .mobile-logout{
        display: none !important;
      }
    }
  }
  .newsletter-manage-index {
    .field.choice {
      width: 100% !important;
    }
    .form-newsletter-manage {
      .actions-toolbar {
        width: 100% !important;
      }
    }
  }

  .sales-order-view {
    #my-orders-table {
      tfoot {
        th {
          text-align: left !important;
        }
        td {
          text-align: right !important;
          float: unset !important;
        }
      }
    }
  }

  .table-wrapper .table:not(.totals):not(.table-comparison) tfoot td {
    box-sizing: border-box;
    float: left;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    width: 30%;
  }

  .account.sales-order-view .block-order-details-view .block-content {
    display: block !important;
  }

  .mobile-logout {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    > .wrap {
      margin: 0 auto;
      width: 95%;
      background-color: @dashboard-blue;
      padding: 3px 8px;
      a {
        color: white !important;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  .quote-mob {
    display: block !important;
  }

  .account {
    .index-recent-table, .inner-wrap-info-order {
      display: block !important;
      clear: both;
    }
    &.sales-order-view{
      .inner-wrap-info-order{
        display: inline-block !important;
        .la-qte{
          display: block;
          float: left;
        }
        .la-price{
          padding-top: 2px;
        }
      }
    }
    .wrap-mob-table {
      display: block !important;
      .for-old-buyers{
        margin-bottom: 10px;
      }
    }
    .welcom-name {
      padding-left: 10px;
    }
    .page-title-wrapper {
      padding: 0 3px !important;
    }
    .page-title {
      font: 400 24px/25px "Open Sans", Arial, sans-serif !important;
      text-align: left;
      width: 100%;
      min-height: 25px;
      text-transform: uppercase;
      background-color: @dashboard-blue;
      margin: 15px 0 10px 0 !important;
      padding: 0 10px !important;
      line-height: 25px;
      span {
        color: @font-white !important;
        font-size: 13px !important;
        margin: unset !important;
      }
    }
    .mob-table {
      position: relative;
      border: 2px solid @gray-table-content2;
      padding: 5px;
      margin-bottom: 5px;
      .label-info {
        background-color: unset;
        font-weight: 600;
      }
      .inforow {

        > div {
          display: inline-block;
          &:nth-of-type(1) {
            width: 23%;
          }
          &:nth-of-type(2) {
            width: 32%;
          }
          &:nth-of-type(3) {
            width: 40%;
          }
        }
      }
      .link-palace {
        position: absolute;
        top: 40%;
        font-size: 25px;
        right: 15px;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
    &.sales-order-history {
      .table-wrapper.orders-history.dashboard-as-table {
        display: none !important;
      }
    }
    &.rewardpoints-index-index {
      .data-table.table {
        display: none !important;
      }
      .summary-points {
        > tbody {
          background-color: unset !important;
          > tr.for-mob {
            background-color: unset !important;
            > td.for-mob {
              width: 50%;
              color: #000;
              border: 1px solid black !important;
              &:nth-of-type(1) {
                border-right: 0;
              }
            }
          }
        }
        width: 98% !important;
        float: unset !important;
        margin: 0 auto !important;
      }
    }
    &.customer-account-edit {
      form#form-validate {
        padding: 12px;
        .actions-toolbar {
          text-align: center;
        }
      }
    }
    &.customer-address-index {
      .address-actions {
        margin-bottom: 15px !important;
      }
      .block-addresses-default {
        .block-title-not-bg {
          padding-left: 10px !important;
        }
      }
      .block-title-not-bg {
        border-bottom: none !important;
      }
      .block.block-addresses-list {
        padding: 10px;
      }
      .block-content {
        padding-top: 0 !important;
        .box {
          padding: 10px;
          border: 2px solid @gray-table-content2;
          margin-bottom: 5px !important;
        }
      }
      .box-actions, .actions-toolbar {
        text-align: right;
      }
    }
    &.sales-order-view {
      .left-part {
        width: 100% !important;
        .order-date {
          display: inline !important;
        }
      }
      tr, th, td {
        border: none !important;
      }
      .block-content {
        flex-wrap: wrap;
        .box {
          margin-bottom: 5px !important;
          width: 100% !important;
        }
      }
      .image-col-or {
        margin: 2%;
        width: 30%;
        border: 1px solid @gray-table;
        float: left;
        img {
        }
      }
      tfoot {
        border: none !important;
      }
      .name-col-or {
        padding-top: 10px;
        float: right;
        width: 62%;
        padding-left: 15px;
        .la-price {
          .price-including-tax, .price-excluding-tax {
            font-size: 13px !important;
            font-weight: 700 !important;
          }
          font-size: 13px !important;
          float: right;
        }
      }
      .table-order-items {
        clear: both;
      }
      .name-col-or, .image-col-or {
        display: block;
      }
      .only-mob-v {
        display: block
      }
      #maincontent {
        position: relative;
      }
      .right-part, thead, .order-view-item {
        display: none !important;
      }
      .page-title-wrapper {
        margin-top: 30px;
      }
      .order-title {
        position: absolute;
        top: 10px;
      }
      h1.page-title {
        padding: 0 !important;
        background-color: unset !important;
        margin-bottom: -11px !important;
        span {
          color: black !important;
          text-transform: none;
          font-weight: 700;
        }
      }
    }
    &.quote2sales-index-view {
      .totals-table {
        .subtotal {
          .price {
            font-weight: bold !important;
          }
        }
      }
      .block-title {
        margin-bottom: 5px !important;
        background-color: unset !important;
        strong {
          color: #000 !important;
        }
      }
      .buttons_bottom {
        text-align: center;
        button {
          float: unset !important;
          margin-bottom: 20px !important;
        }
      }
      .totals-table {
        th.mark {
          width: 50% !important;
          text-align: left !important;
        }
      }
      .dashboard-as-table {
        display: none !important;
      }
      .quote-mob {
        padding: 5px;
        border: 2px solid #eae6e6;
        .item-quo {
          .qte-quo {
            display: block;
            float: left;
          }
          .name-quo {
            font-weight: 600;
          }
          .price-quo {
            font-weight: bold;
            text-align: right;
          }
          padding: 5px 0;
          border-bottom: 1px solid #eae6e6;
          &:last-child {
            border: none;
          }
        }
      }
    }
    &.quote2sales-index-quotes {
      .link-palace {
        top: 30%;
      }
      .dashboard-as-table {
        display: none !important;
      }
      .number-order-col, .inforow {
        width: 35%;
        display: inline-block;
      }
    }
    &.customer-account-index {
      #maincontent {
        position: relative;
      }
      .page-title-wrapper {
        margin-top: 30px;
      }
      .wrap-welcom-text {
        position: absolute;
        top: 5px;
      }
      .customer-dashboard-short-info {
        .block-content {
          padding-top: 0 !important;
          .box {
            padding: 4px;
            border: 2px solid @gray-table-content2;
            margin-bottom: 5px !important;
          }
        }
        .box-actions {
          text-align: right;
        }
      }
      .table-wrapper.orders-recent, .lrw-account-summary-listing {
        display: none;
      }
      .customer-dashboard-short-info {
        .box.box-newsletter {
          display: none;
        }
      }
      .block-title {
        background-color: unset !important;
        strong {
          color: black !important;
          text-transform: none !important;
        }
        a {
          color: black;
        }
      }
    }
    .dashboard-holder {
      .column.main {
        padding-bottom: 0 !important;
      }
      padding-left: 3px;
      padding-right: 3px;
      display: flex;
      .welcom-additional-text {
        display: none !important;
      }
      .account-nav-content {
        padding: unset;
        background-color: unset;
        ul {
          .item.current {
            strong {
              border: none;
            }
            a {
              border: none;
            }
          }
          li {
            background-color: #f5f5f5;
            position: relative;
            margin-bottom: 4px;
            padding-left: 25px;
            &:before {
              display: block;
              height: 20px;
              width: 20px;
              position: absolute;
              top: 5px;
              left: 10px;
              background-size: contain !important;
            }
            &:nth-of-type(1) {
              &:before {
                background: url("../images/nav/tablo.png") no-repeat;
              }
            }
            &:nth-of-type(2) {
              &:before {
                background: url("../images/nav/commandes.png") no-repeat;
              }
            }
            &:nth-of-type(3) {
              display: none !important;
            }
            &:nth-of-type(4) {
              &:before {
                background: url("../images/nav/devis.png") no-repeat;
              }
            }
            &:nth-of-type(5) {
              display: none !important;
            }
            &:nth-of-type(6) {
              &:before {
                background: url("../images/nav/person.png") no-repeat;
              }
            }
            &:nth-of-type(7) {
              &:before {
                background: url("../images/nav/carnet.png") no-repeat;
              }
            }
            &:nth-of-type(8) {
              &:before {
                background: url("../images/nav/points.png") no-repeat;
              }
            }
            &:nth-of-type(9) {
              display: none !important;
            }
            &:nth-of-type(10) {
              display: none !important;
            }
            &:nth-of-type(11) {
              display: none !important;
            }
            a {
              color: black;
              &:after {
                display: block;
                position: absolute;
                content: "❯";
                width: 10px;
                right: 10px;
                top: 5px;
                font-size: 17px;
              }
            }
          }
        }
      }
    }
  }
}

.for-old-buyers {
  text-align: center;
  border: 2px solid red;
  padding: 15px;
  a {
    color: #000 !important;
  }
}
@media (min-width: 1200px) {
  .sales-order-history{
    tbody {
      overflow-y: auto !important;
      max-height: 50vh;
      width: 100%;
      display: block;
      tr {
        table-layout: fixed;
        display: table;
        td {
          &:nth-of-type(1) {
            width: 20% !important;
          }
          &:nth-of-type(2) {
            width: 20% !important;
          }
          &:nth-of-type(3) {
            width: 25% !important;
          }
          &:nth-of-type(4) {
            width: 10% !important;
          }
          &:nth-of-type(5) {
            width: 10% !important;
          }
          &:nth-of-type(6) {
            width: 15% !important;
          }

        }
      }
    }
  }
}