/*Mobile product main block*/
@media only screen and (max-width: 650px) {
  .catalog-product-view {
    #maincontent {
      .detail-container {
        .wrap-banners {
          display: none;
        }
        .row {
          display: block !important;
          .col-sm-12 {
            display: inline-block !important;
            width: 100%;
            max-width: 100% !important;
            padding: 0 15px !important;
            .product-add-form {
              position: relative;
              width: 100%;
            }
          }
          .shortdecs, .shrt-links {
            position: relative;
            text-align: center;
            width: 100%;
            bottom: 0;
            padding: 0;
            > li {
              text-align: center;
              padding: 0;
            }
          }
          .left-sku {
            position: relative;
            max-height: none;
            overflow: visible;
            top: 0;
          }
          .details-brand-logo {
            a {
              img {
                top: -11px;
              }
            }
          }
          .box-tocart {
            margin-top: -20px;
            .field-qty {
              float: left;
              top: 40px;
              label {
                display: none;
              }
            }
          }
          .short-right {
            .field-tooltip-content {
              left: auto;
              right: 0;
              top: 30px;
              &:before {
                display: none;
              }
            }
          }
        }
      }
      .detailed {
        > .data {
          > div {
            &:nth-of-type(2) {
              padding: 15px 0;
            }
            &:nth-of-type(odd) {
              border: none;
              line-height: 40px;
              a {
                border: none;
                font-size: 16px;
                line-height: 40px;
                padding: 0 10px;
              }
            }
            > .title {

            }
          }
        }
        #product.info.description {
          padding: 0 !important;
        }
      }
      .accessories-tab-content {
        margin-right: -21px;
        margin-top: -12px;
        .subtabset {
          > li {
            width: 100%;
            display: block;
            height: 40px;
            line-height: 40px;
            a {
              padding: 0 10px;
              font-size: 16px;
            }
          }
        }
      }
      #related_accessoires {
        padding: 11px 20px;
      }
    }
  }

  .module-compare-models {
    .col-labels {
      display: none !important;
    }
    .col-product-items {
      width: 100% !important;
    }
    .element-row-info.cell_compare {
      .label-attribute {
        font-weight: bold;
      }
    }

  }

  #fullDesc .cell_compare {
    height: 60px !important;
    line-height: 30px !important;
  }

  .column_product .wrap_item_name {
    width: 160px;
    text-align: center;
    margin: 0 auto;
    height: 70px !important;
    overflow: hidden;
    line-height: 15px;
    .product-item-name {
      margin: 15px 0 0;
      a {
        border: none;
        font-size: 16px;
        line-height: 18px !important;
        padding: 0 !important;
        margin-top: 18px;
      }
    }
  }
  .column_product{
    .wrap_item_price{
      .price-box{
        line-height: 15px;
      }
    }
  }
  #fullDesc{
    #slick-arrow-place{
      position: absolute;
      width: 100% !important;
      top: 0;
      >div{
        &:nth-of-type(1){
          &:before{
            top: 90px !important;
            left: 10% !important;
          }
        }
        &:nth-of-type(2){
          &:before{
            top: 90px !important;
            right: 10% !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 651px) {
  .element-row-info {
    .label-attribute {
      display: none !important;
    }
  }
}
@media (min-width: 651px) and (max-width: 991px) {
  #fullDesc{
    #slick-arrow-place{
      position: absolute;
      width: 70% !important;
      top: 0;
      right: 0;
      >div{
        &:nth-of-type(1){
          &:before{
            top: 90px !important;
            left: 5% !important;
          }
        }
        &:nth-of-type(2){
          &:before{
            top: 90px !important;
            right: 3% !important;
          }
        }
      }
    }
  }
}
@media (min-width: 992px)and (max-width: 1199px){
  #fullDesc{
    #slick-arrow-place{
      position: absolute;
      width: 70% !important;
      top: 0;
      right: 0;
      >div{
        &:nth-of-type(1){
          &:before{
            top: 90px !important;
            left: 5% !important;
          }
        }
        &:nth-of-type(2){
          &:before{
            top: 90px !important;
            right: 3% !important;
          }
        }
      }
    }
  }
}
@media (min-width: 1200px){
  .col-product-items{
    width: 798px !important;
  }
  #fullDesc{
    #slick-arrow-place{
      position: absolute;
      width: 70% !important;
      top: 0;
      right: 0;
      >div{
        &:nth-of-type(1){
          &:before{
            top: 90px !important;
            left: 2% !important;
          }
        }
        &:nth-of-type(2){
          &:before{
            top: 90px !important;
            right: 0 !important;
          }
        }
      }
    }
  }
}

/***************************/