.footer-info {
    font-size: 10px;
    background-color: #eeeeee;
}
.footer-info-text {
    width: 60%;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    vertical-align: top;
    margin-top: 10px;
}
.email-product-image {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}
.email-product-name {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}
.email-summary-header {
    font-size: 20px;
    font-weight: 600;
}
.footer-info-text-header {
    color: #56b7d0;
    margin-bottom: 0;
}
table.order-details {
    border-spacing: 15px;
    border-collapse: separate;
}
.order-details .address-details {
    padding: 10px;
    width: 30%;
    border: 4px solid #e2dfdf;
}
.email-address-details-info div {
    padding: 0 5px;
    border: 4px solid #e2dfdf;
}
.email-address-details-info:last-child {
    margin-top: 20px;
}
.email-intro td h1.greeting {
    font-weight: 600;
    margin-bottom: 0;
}
.email-intro td .greeting-customer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.email-summary .rma-conditions {
    margin-bottom: 20px;
    margin-top: 0;
    text-decoration: underline;
    font-weight: 900;
}
.email-information h3 {
    font-weight: 600;
    text-decoration: underline;
}
ul[id*="avantages-list"] > li:before {
    content: '✔';
    margin-right: 10px;
}
ul[id*="avantages-list"] > li {
    list-style: none;
}
.ok-button {
    background-color: #0097ba;
    border: none!important;
    border-radius: 0!important;
    outline: none;
}