.wk_ss_list{top: 37px; padding: 5px 0 0; width: 100%; z-index: 110; background-color: #fff; font: 14px/22px "Open Sans",Arial,sans-serif; text-align: left; border-color: #ddd; }
.wk_ss_list ul li{ padding:5px 10px; }
#wk_ss_showlist li a{ color: #2b303c; display: table; width: 100%; box-sizing: border-box;}
.wk_ss_cat,
.wk_ss_left{ padding: 4px 0; }
.wk_ss_proname strong,
.wk_ss_left strong{ color: #2b303c; font-weight: 600;}
.wk_ss_price,
.wk_ss_cat{ color: #0097ba; font-size: 13px; font-weight: 600; }
.wk_ss_img{ display: table-cell; vertical-align: middle; padding: 0; height: 60px; background-color: #fff; text-align: center; border: 1px solid #ddd;}
.wk_ss_proname { padding:0 5px; width: auto; display: table-cell; vertical-align: middle; color: #2b303c; }
.wk_ss_bottom{ display: none; }
.wk_ss_bottom_new{border-bottom:1px solid #ddd; margin: 6px 0 10px; width: 100%; box-sizing: border-box; display: block;}
.wk_ss_heading{ margin: 0; padding: 0; text-align:center; width: auto; color: #2b303c; font-size: 16px; line-height: 30px; font-weight: 600; }
.wk_ss_list ul li#popular{ padding: 0; }