<?php 
$orderId = $block->escapeHtml($block->getOrderId());
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($orderId); 
?>

<!-- Event snippet for Vente conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-1007931965/_8c4CKP70gQQvaTP4AM',
      'value':'<?php echo  round($order->getSubtotal());?>',
      'currency': 'EUR',
      'transaction_id': '<?php echo $block->getOrderId();?>',
      'event_callback': callback
  });
  return false;
}
</script>

<!-- Google Converison Tag -->
<!--<script type="text/javascript">
dataLayer.push({  
'orderTotal': '<?php // echo round($order->getSubtotal())?>',
'orderID': '<?php // echo $block->getOrderId() ?>',
'orderCurrency': '<?php // echo $order->getOrderCurrencyCode() ?>',
'event': 'awcReady' 
});
</script>-->

<!-- BEGIN IDEALO PARTNER TRACKING CODE -->
<!--<img src="//marketing.net.idealo-partner.com/ts/i5036462/tsa?typ=i&tst=!!TIME_STAMP!!&trc=basket&ctg=sale&sid=http://www.comptoirdespros.com/&cid=<?php // echo $block->getOrderId() ?>&orv=<?php // echo round($order->getSubtotal())?>&orc=EUR&bsk=!!basket!!" width="1" height="1" border="0" style="display:none;">-->
<!-- END IDEALO PARTNER TRACKING CODE -->

<?php // $items =$order->getAllItems();
	// $productSkus = array();
	// $productPrices = array();
	// $productQuantities = array();
	// foreach ($items as $item) {
		// $product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId());		
		// $cost[] = $product->getData('cost');
		// $simpleProductSku[] = $product->getSku();
		// $productSkus[] = $item->getSku();
		// $productPrices[] = round($item->getPrice());
		// $productQuantities[] = round($item->getQtyOrdered());		
	// }
	// $totalCost = 0;
	//foreach($cost as $i => $num) {
	  // if (isset($productQuantities[$i]))
	    // $totalCost += $num * $productQuantities[$i];
	// }
	// $orderSubtotal = $order->getSubtotal();	
	// $profit = round($orderSubtotal - $totalCost);
	//echo $orderSubtotal . " - " . $totalCost ." = ". $profit;

?>
<!-- BEGIN PRODUCTS UP TRACKING CODE -->
<!--<script type="text/javascript">
window.conversionWunderInit = function(init) { init({ siteid: {{ site.id }}, item: { name: 'Order Done' }, order: { id: '<?php // echo $block->getOrderId() ?>', // Mandatory shipping: '<?php // echo round($order->getShippingAmount())?>', revenue: '<?php // echo round($order->getSubtotal())?>', profit: '<?php // echo $profit;?>', currency: 'EUR' }, order_items: {ids: '<?php // echo implode(',',$productSkus); ?>', prices: '<?php // echo implode(',',$productPrices); ?>', quantities: '<?php // echo implode(',',$productQuantities); ?>'}, category: { name: 'Order', path: 'order/done' } }); }; (function() { function loadcw() { var s = document.getElementsByTagName('script')[0], e = document.createElement('script'); e.setAttribute('language', 'javascript'); e.setAttribute('type', 'text/javascript'); e.setAttribute('async', 'async'); e.setAttribute( 'src', 'http'+(document.location.protocol=='https:'?'s':'')+ '://lib.productsup.io/engine/load.js' ); s.parentNode.insertBefore(e, s); } var oldonload = window.onload; window.onload = (typeof window.onload != 'function')? loadcw:function(){oldonload();loadcw();}; })(); 
</script>-->
<!-- END PRODUCTS UP TRACKING CODE -->

<!-- BEGIN LE GUIDE TRACKING CODE -->
<!--
<script type="text/javascript">
	var lgtrk_data= {
	version : "1.3",
	idshop: "29068572",
	pt : "purchase",
	price: "<?php // echo  round($order->getSubtotal())?>",
	idp: "<?php // echo implode(',',$productSkus); ?>",
	qty_idp: "<?php // echo implode(',',$productQuantities); ?>",
	price_idp: "<?php // echo implode(',',$productPrices); ?>"
	};
</script>
<script type="text/javascript">
	(function(a,b,c,d){
	a=('https:' == document.location.protocol? 'https://secure.' : 'http://') + 
	"cimg.leguide.com/js/lgtrk-"+lgtrk_data.version+".min.js";        
	b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
	a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
	})();
</script>-->
<!-- BEGIN LE GUIDE TRACKING CODE -->

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <?php if ($block->getCanViewOrder()) :?>
            <p><?= __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php  else :?>
            <p><?= __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif;?>
            <p><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>



