<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @see \Magento\Sales\Block\Adminhtml\Items\Column\Name
 */
?>
<?php if ($_item = $block->getItem()): ?>
    <div id="order_item_<?php /* @escapeNotVerified */ echo $_item->getId() ?>_title"
         class="product-title">
             <?php echo $block->escapeHtml($_item->getName()); ?>
    </div>

    <div class="product-sku-block">
        <span><?php /* @escapeNotVerified */ echo __('SKU') ?>:</span> <?php echo implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($block->getSku()))); ?>
    </div>

    <?php //if ($block->getOrderOptions()): ?>
<!--        <dl class="item-options">
            <?php //foreach ($block->getOrderOptions() as $_option): ?>
                <dt><?php /* @escapeNotVerified */ //echo $_option['label'] ?>:</dt>
                <dd>
                    <?php //if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                        <?php /* @escapeNotVerified */ //echo $block->getCustomizedOptionValue($_option); ?>
                    <?php else: ?>
    <?php //endif; ?>
    <?php echo $block->escapeHtml($_item->getDescription()) ?>

    <!-- Displaying custom options associated with this product -->

    <!-- Fetching custom options associated with this quote item, if any, and displaying them under the product name-->
    <?php //if ((sizeof($_options) > 0)): ?>
        <b>  <?php// echo "Custom Options:" ?> <b><hr>
            <?php// endif; ?>  
            <br> 

            <?php //foreach ($_options as $_option) : ?>
                <?php// $label = $this->htmlEscape($_option['label']) ?>
                <?php //$value = $this->htmlEscape($_option['value']) ?>   

                <li>  <?php //echo $label ?>
                    <?php //echo ": " ?>
                    <i>  
                        <?php //echo $value ?>
                    </i>
                </li> 
                <br> 
            <?php //endforeach; ?>   
        <?php endif; ?>
