<?php
$_planning = $block->getCreneaux();
$_creneaux = $_planning->return->slotList;
if(!$_creneaux) {
    return;
}

/**
 * Code jours dans résultats WS :
 * 1 = Lundi
 * 7 = dimanche
 **/
$_srdvConfig = $block->getRdvConfig();
$_creneauxSort = array();
$_distinctCreneauxHoraire = array();
$_semaine = 0;

if(!is_array($_creneaux)) $_creneaux = array($_creneaux);

/* trie des creneaux par heures et date */
foreach($_creneaux as $_creneau):

    $_creneau = (array)$_creneau;

    $_creneauHoraire = str_pad($_creneau['startHour'], 2, '0', STR_PAD_LEFT).'h';
    if($_creneau['startMinutes']) {
        $_creneauHoraire .= str_pad($_creneau['startMinutes'], 2, '0', STR_PAD_LEFT);
    }
    $_creneauHoraire .= ' - ';
    $_creneauHoraire .= str_pad($_creneau['endHour'], 2, '0', STR_PAD_LEFT).'h';
    if($_creneau['endMinutes']) {
        $_creneauHoraire .= str_pad($_creneau['endMinutes'], 2, '0', STR_PAD_LEFT);
    }

    if(!in_array($_creneauHoraire, $_distinctCreneauxHoraire)) {
        $_distinctCreneauxHoraire[] = $_creneauHoraire;
    }

    /* rangement des creneaux par jour */
    if(!isset($_creneauxSort[$_creneau['deliveryDate']])) {
        $_creneauxSort[$_creneau['deliveryDate']] = array();
    }
    $_creneauxSort[$_creneau['deliveryDate']][$_creneauHoraire] = $_creneau;

endforeach;

sort($_distinctCreneauxHoraire);

/* on scinde le tableau tous les 7 éléments (7 jours) */
$_creneauxSortByWeek = array_chunk($_creneauxSort, 7, true);

$ratePrice = $block->getCarrierBasePrice();
for($i = 1; $i <= 4; $i++) {
    $_srdvConfig["N".$i."_price"] += $ratePrice;
}
?>
<tr id="chronopost_srdv_planning_container" class="chronomap_container">
    <td colspan="4">
        <?php setlocale(LC_ALL, $block->getLocale().'.UTF-8','fra'); ?>

        <!-- Desktop -->
        <div class="global-desktop" id="global-desktop">
            <header class="rdvCarouselheader" id="rdvCarouselheader">
                <nav>
                    <span class="carousel-control prev inactive"></span>
                    <span class="carousel-control next"></span>
                </nav>
            </header>
            <div id="rdvCarousel">
                <div id="rdvCarouselContent">
                    <?php for($i = 0; $i < count($_creneauxSortByWeek); $i++): ?>
                        <?php $_creneauxSort = $_creneauxSortByWeek[$i]; ?>
                        <section class="slide content" id="content<?php echo $i ?>">
                            <table class="date-time" id="thead" width="100%">
                                <thead>
                                <tr class="date-row" id="date-row">
                                    <th>&nbsp;</th>
                                    <?php foreach($_creneauxSort as $_day => $_creneaux): ?>
                                        <th scope="col" id="th_<?php echo substr($_day,0,10) ?>">
                                            <?php
                                            $_dateTime = new \DateTime($_day);
                                            /* chgt heure pour etre sur de ne pas avoir de decalage d'une journée */
                                            $_dateTime->setTime(12,0,0);
                                            ?>
                                            <?php echo strftime("%A <span>%d</span> %B",$block->getTimestamp($_dateTime->getTimestamp())); ?>
                                        </th>
                                    <?php endforeach; ?>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($_distinctCreneauxHoraire as $_horaire): ?>
                                    <tr>
                                        <th class="time-cell" scope="row"><?php echo $_horaire; ?></th>
                                        <?php foreach($_creneauxSort as $_day => $_creneaux): ?>
                                            <?php if(isset($_creneaux[$_horaire]) && $_creneaux[$_horaire]['status'] == 'O'): ?>
                                                <?php $_creneaux[$_horaire]['meshCode'] = $_planning->return->meshCode;?>
                                                <?php $_creneaux[$_horaire]['transactionID'] = $_planning->return->transactionID;?>
                                                <td>
                                                    <label>
                                                        <span>
                                                            <input type="radio" name="shipping_method_chronopostsrdv" class="shipping_method_chronopostsrdv" value='<?php echo json_encode($_creneaux[$_horaire],true) ?>' >
                                                            <?php
                                                            if($_srdvConfig['niveauTarifaire_show'] == 1) {
                                                                echo $block->currency($_srdvConfig[$_creneaux[$_horaire]['tariffLevel']."_price"]);
                                                            }
                                                            ?>
                                                        </span>
                                                    </label>
                                                </td>
                                            <?php else: ?>
                                                <td class="unavailable">&nbsp;</td>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </section>
                    <?php endfor; ?>
                </div>
            </div> <!-- End #rdvCarousel -->
        </div>
        <!-- Mobile -->
        <div class="global-mobile" id="global-mobile">
            <header class="header">
                <h1><?php __("Select a date and a time slot below:") ?></h1>
                <div class="scroll">
                    <table class="date-time">
                        <tr class="date-row" id="date-row">
                            <?php for($i = 0; $i < count($_creneauxSortByWeek); $i++): ?>
                                <?php $_creneauxSort = $_creneauxSortByWeek[$i]; ?>
                                <?php foreach($_creneauxSort as $_day => $_creneaux): ?>
                                    <th scope="col" id="th_<?php echo substr($_day,0,10) ?>">
                                        <?php
                                        $_dateTime = new DateTime($_day);
                                        $_dateTime->setTime(12,0,0);
                                        ?>
                                        <?php echo strftime("%A <span>%d</span> %B",$block->getTimestamp($_dateTime->getTimestamp())); ?>
                                    </th>
                                <?php endforeach; ?>
                            <?php endfor; ?>
                        </tr>
                    </table>
                </div>
            </header>
            <section class="content" id="content">
                <div class="scroll-v" id="scroll-v">
                    <div class="time-list" id="time-list">
                        <?php for($i = 0; $i < count($_creneauxSortByWeek); $i++): ?>
                            <?php $_creneauxSort = $_creneauxSortByWeek[$i]; ?>

                            <?php foreach($_creneauxSort as $_day => $_creneaux): ?>
                                <ul id="ul_<?php echo substr($_day,0,10) ?>" style="display:none;">
                                    <?php foreach($_distinctCreneauxHoraire as $_horaire): ?>
                                        <?php if(isset($_creneaux[$_horaire]) && $_creneaux[$_horaire]['status'] == 'O'): ?>
                                            <?php $_creneaux[$_horaire]['meshCode'] = $_planning->return->meshCode;?>
                                            <?php $_creneaux[$_horaire]['transactionID'] = $_planning->return->transactionID;?>
                                            <li>
                                                <label>
                                                    <span class="time-cell"><?php echo $_horaire; ?></span>
                                                    <span class="price-cell">
                                                            <input type="radio" name="shipping_method_chronopostsrdv" class="shipping_method_chronopostsrdv" value='<?php echo json_encode($_creneaux[$_horaire],true) ?>' >
                                                        <?php
                                                        if($_srdvConfig['niveauTarifaire_show'] == 1) {
                                                            echo $block->currency($_srdvConfig[$_creneaux[$_horaire]['tariffLevel']."_price"]);
                                                        }
                                                        ?>
                                                        </span>
                                                </label>
                                            </li>
                                        <?php else: ?>
                                            <li class="unavailable">
                                                <label>
                                                    <span class="time-cell"><?php echo $_horaire; ?></span>
                                                    <span class="price-cell"><?php echo __("not available") ?></span>
                                                </label>
                                            </li>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </ul>
                            <?php endforeach; ?>

                        <?php endfor; ?>
                    </div>
            </section>
        </div>
        <!-- End mobile -->
    </td>
</tr>