<!--
  ~ /**
  ~  Copyright © 2016 Magestore. All rights reserved.
  ~  See COPYING.txt for license details.
  ~  */
  -->
<div class="wrap-item-che">
    <div class="inner-wrap">
        <div class="col-osc">
            <!-- ko foreach: getRegion('before_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="col-osc">
            <div class="first-row">
                <div class="as-osc-col">
                    <span class="product-name" data-bind="text: $parent.name"></span>
                    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
                    <span data-toggle="collapse" data-target="#options_item" class="as-but-osc"><!-- ko i18n: 'See Details' -->
                        <!-- /ko --></span>
                    <!-- /ko -->
                </div>
                <div class="as-osc-col"><input class="qty qty-item-display"
                                               data-bind="value: $parent.qty, event :{change: function(){updateNewQty($parent)}}, attr: { id: 'qty_input_osc'+$parent.item_id }"
                                               /></div>
                <div class="as-osc-col">
                    <!-- ko foreach: getRegion('after_details') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="last-row-osc">
            <!-- ko if: (JSON.parse($parent.options).length > 0)-->
            <div id="options_item" class="item-options collapse">
                <!--ko foreach: JSON.parse($parent.options)-->
                <!-- ko if: ($data.full_view)-->
                <div class="values" data-bind="html: full_view"></div>
                <!-- /ko -->
                <!-- ko ifnot: ($data.full_view)-->
                <div class="values" data-bind="html: value"></div>
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!--<div class="delete">-->
        <!--<div class="delete-item-che" data-bind="click: function(){deleteItem($parent)}"></div>-->
        <!--</div>-->
    </div>
</div>