.meridian-the-same-billing-address-section {

  #meridian-the-same-billing-address {

    .billing-address-same-as-shipping-block {

      #billing-address-same-as-shipping {
        float: left;
        width: 16px;
        height: 16px;
        background: #F5F5F5;
        border: 0 none;
      }
      label[for="billing-address-same-as-shipping"] {
        color: #898989;
        margin: 5px 0 0 5px;
        line-height: 17px;
        font: 600 14px/22px "Open Sans", Arial, sans-serif;
      }

    }

    .checkout-billing-address {

      #billing_address_id {
        min-height: 40px;
        padding: 0 25px 0 0;
        border: 0 none;
        border-bottom: 1px solid #e0e0e0;
      }
      .billing-address-form {
        .step-title {
          display: none;
        }
      }

      #billing-new-address-form {

        .field {
          width: 100%;
          margin: 0 !important;
          padding: 0;
          &._required{
            margin-bottom: 55px;
          }
        }
        label.label {
          font-size: 14px;
          width: 70%;
        }
        input.input-text {
          font-size: 15px;
          padding: 18px 0 0 0;
          display: block;
          width: 100% !important;
          height: auto !important;
          border: none;
          border-bottom: 1px solid #e0e0e0;
          border-radius: 0;
          font-weight: 400;
          color: #2b303c;
        }
        .save-address{
          label{
            padding-left: 20px !important;
            width: 100%;
            margin-top: 3px;
          }
        }
      }
    }

  }

}