input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}

.checkout-index-index .osc-as-table-header div {
    vertical-align: top;
}

.checkout-index-index #checkout-review-table .osc-as-table-header > div:nth-of-type(3) {
    text-align: right;
}

.checkout-index-index #checkout-total-table p.title {
    color: #0097BA;
    font-weight: bold;
    text-align: left;
}

.checkout-index-index #checkout-review-table-wrapper {
    background: #f0f0f0 !important;
}

.wrap-item-che {
    margin-bottom: 10px;
}

.checkout-index-index .wrap-item-che .values {
    font-size: 13px;
}

.checkout-index-index #checkout-total-table tr.totals.delivery-message .amount {
    border-bottom: none !important;
}

table#checkout-total-table .totals td.amount .price, table#checkout-total-table .totals td.amount .title {
    font-size: 13px;
}

table#checkout-total-table .totals td.amount .title {
    margin-bottom: 3px;
}

.checkout-index-index .onestepcheckout-review-info #control_overlay_review {
    background-color: transparent;
}

.checkout-index-index .earn-points td.amount {
    text-align: left;
}

.checkout-index-index .totals.earn-points td.amount {
    display: block;
    width: 100%;
}

.checkout-cart-index #cart-totals tr.lrw-rewardpoints {
    display: none;
}

.checkout-cart-index .fieldset.lrw-points strong {
    font-weight: normal;
}

.checkout-index-index .totals.earn-points {
    background: #f0f0f0;
    margin-top: 0;
}

#checkout-review-load::after {
    display: block;
    width: 100%;
    background: #fff;
    position: relative;
    height: 10px;
    content: "";
    margin-left: 0;
    margin-right: 0;
    top: 0;
}

.checkout-index-index .totals.delivery-message .amount {
    text-align: left;
}

.checkout-index-index tr tr.grand.totals {
    background: #c3c2c2;
}

.checkout-onepage-success #maincontent {
    text-align: center;
}

.checkout-onepage-success .page.messages {
    text-align: left;
}

.checkout-cart-empty .checkout-additional-fields {
    visibility: hidden;
}

.checkout-onepage-success a.action.primary.continue {
    min-width: 230px;
    margin: 0 auto;
    float: none;
    text-align: center;
    display: inline-block;
    position: relative;
    clear: both;
    border-radius: 0;
    max-width: 230px;
    font-size: 16px;
    font-weight: normal;
}

.checkout-onepage-success .primary {
    float: none;
}

.checkout-onepage-success .print {
    display: none;
}

.checkout-onepage-success .page-title-wrapper {
    padding-top: 5%;
    padding-bottom: 2%;
}

.checkout-onepage-success a.order-number:active,
.checkout-onepage-success a.order-number:focus,
.checkout-onepage-success a.order-number:hover {
    text-decoration: none;
}

.checkout-onepage-success .page-title span {
    font-weight: 600;
    color: #000;
    font-size: 25px;
}

.checkout-onepage-success a.order-number strong {
    color: #0097ba;
    font-weight: normal;
}

.checkout-onepage-success .checkout-success p {
    font-size: 14px;
    color: #000;
    line-height: 1.4;
}

.checkout-onepage-success .actions-toolbar {
    margin-top: 10%;
}

.checkout-onepage-success .checkout-success {
    max-width: 45%;
    margin: 0 auto;
}

.checkout-cart-index .values {
    font-size: 12px;
}

.checkout-cart-index .cart-totals .grand .amount, .cart-totals .grand .mark {
    font-size: 15px;
}

.checkout-cart-index .cart-totals .mark strong {
    font-size: 14px;
    padding-right: 0;
    word-spacing: -1px;
}

.checkout-cart-index .incart-item.incart-item-bundle span.ref-numb,
.checkout-cart-index .incart-item-bundle dl.item-options dt {
    display: none;
}

.checkout-cart-index .in-stock-available-product {
    font-style: italic;
    font-size: 12px;
}

.checkout-cart-index .in-stock-available-product > div:nth-of-type(1):before {
    left: -4px;
    display: none;
}

.checkout-cart-index .incart-item .product-item-details .in-stock-available-product > div:nth-of-type(1) {
    padding-left: 0;
}

.checkout-cart-index .lrw-usepoints span {
    font-size: 12px;
}

.checkout-cart-index .cart-summary .block > .title:after,
.checkout-cart-index #webmeridian-cart-totals .fa.fa-angle-down,
.checkout-cart-index .lrw-product-points {
    display: none;
}

.checkout-cart-index div.cart-summary tr.totals.sub,
.checkout-cart-index div.cart-summary tr.totals.shipping.excl,
.checkout-cart-index div.cart-summary tr.grand.totals {
    display: table-row;
}

.checkout-cart-index .checkout-step-item.active span.heading-item {
    text-decoration: underline;
}

.checkout-cart-index span.col-name,
.checkout-cart-index .incart-item .product-item-name,
.checkout-cart-index .incart-item .product-item-name a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
}

.checkout-cart-index .incart-item .product-item-name,
.checkout-cart-index span.col-name,
.checkout-cart-index .incart-item .product-item-name a,
.checkout-cart-index .page-title-wrapper {
    color: #000;
}

.checkout-cart-index .page-title-wrapper {
    clear: both;
}

.checkout-cart-index .incart-item .product-item-name a {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    line-height: 1.2;
}

.checkout-cart-index button.action.gotohomepage {
    float: right;
}

.checkout-cart-index .itemcart-list .incart-item .price-including-tax:after,
.checkout-cart-index .itemcart-list .incart-item .price-including-tax .price {
    font-size: 10px;
}

.checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price .price,
.checkout-cart-index .itemcart-list .incart-item .price-excluding-tax:after {
    font-size: 18px;
}

.checkout-cart-index .itemcart-list .incart-item .price-including-tax {
    text-decoration: line-through;
}

.checkout-cart-index .coupon-form,
.checkout-cart-index .cart-totals .mark,
.checkout-cart-index .cart-totals .amount,
.checkout-cart-index .cart-totals,
.checkout-cart-index .collaps-holder {
    background-color: transparent;
}

.checkout-cart-index .cart-totals .mark strong {
    font-weight: bold;
}

.checkout-cart-index .incart-item .product-item-photo {
    width: 90px;
    height: 90px;
}

.checkout-cart-index .incart-item .last-col .price {
    margin-bottom: 0;
}

.checkout-cart-index .incart-item .item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -js-display: flex;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
}

.checkout-cart-index .cart-summary > .title {
    font-weight: 500;
    margin-bottom: 10px;
}

.checkout-cart-index .cart-summary .block > .title,
.checkout-cart-index .paypal-review-discount .block > .title {
    border-top: 0;
}

.checkout-cart-index .item-actions {
    top: 65%;
    right: 25px;
}

.checkout-cart-index .itemcart-list .thead .tr .subtotal {
    text-align: center;
    padding: 0 50px 0 0;
}

.checkout-cart-index .cart-totals .mark {
    font-weight: bold;
}

.checkout-cart-index .cart-totals .mark, .cart-totals .amount,
.checkout-cart-index .cart-totals .mark, .opc-block-summary .table-totals .mark,
.checkout-cart-index .opc-block-summary .table-totals .amount {
    border-bottom: 0 !important;
    padding-left: 0;
}

.checkout-cart-index .cart-totals .amount {
    font-weight: bold;
}

.checkout-cart-index .cart-totals {
    padding: 0;
}

.checkout-cart-index tr.totals.shipping.excl th.mark,
.checkout-cart-index tr.totals-tax th.mark {
    font-weight: normal;
}

.checkout-cart-index tr.totals.shipping.excl .mark .label {
    color: #000;
}

.checkout-cart-index .coupon-holder .actions-toolbar {
    top: 0;
    right: 0;
    bottom: 0;
}

.checkout-cart-index tr.grand.totals {
    background: #c3c2c2;
}

.checkout-cart-index .cart-summary {
    width: 27%;
    margin-top: 22px;
    top: 0 !important;
}

.checkout-cart-index .grand.totals th.mark {
    padding: 8px 4px;
}

.checkout-cart-index .item-actions .action {
    width: 60px;
}

.checkout-cart-index tr.totals.shipping.excl th.mark .label,
.checkout-cart-index tr.totals.shipping.incl th.mark .label {
    font-size: 100%;
    padding: 0;
    color: #2b303c;
}

.checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price:after {
    font-size: 18px;
    content: attr(data-label) '';
    font-weight: bold;
}

.checkout-cart-index .totals.sub td,
.checkout-cart-index .totals.sub th {
    padding-bottom: 0;
}

.checkout-cart-index tr.totals-tax td.amount,
.checkout-cart-index tr.totals-tax th.mark {
    padding-top: 0;
}

.checkout-cart-index .incart-item .qty .control-qty input[type="number"] {
    width: 30px;
    color: #000;
}

.checkout-cart-index .incart-item .qty .control-qty {
    width: 50px;
}

a.alo_qty.alo_qty_dec, a.alo_qty.alo_qty_inc {
    color: #000;
    font-weight: 100;
    display: block;
    float: right;
}

.checkout-cart-index .plus, .checkout-cart-index .minus {
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
}

.checkout-cart-index .coupon-holder .actions-toolbar .action.primary {
    height: 100%;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.checkout-cart-index .coupon-holder input[type="text"] {
    height: 30px;
}

.checkout-cart-index a.alo_qty.alo_qty_inc {
    position: relative;
    top: 3px;
}

.checkout-cart-index a.alo_qty.alo_qty_dec {
    position: relative;
    top: -15px;
}

.checkout-cart-index a.alo_qty.alo_qty_inc,
.checkout-cart-index a.alo_qty.alo_qty_dec,
.checkout-cart-index .plus:hover,
.checkout-cart-index .minus:hover {
    text-decoration: none;
}

.checkout-cart-index .page-title span {
    font-size: 30px;
}

.itemcart-list .thead .tr .qty,
#shopping-cart-table .incart-item .qty {
    width: 5%;
    padding: 0 10px;
    min-width: 70px;
}

.itemcart-list .thead .tr .item {
    width: 56%;
}

.checkout-cart-index .incart-item .product-item-details {
    display: block;
    width: 100%;
    overflow: visible;
}

.number-item {
    font-style: normal;
    border-radius: 50%;
    color: #bbb9b9;
    background: #e4e4e4;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    text-align: center;
}

.checkout-step-item {
    color: #b0b0b0;
    float: none;
    width: 160px;
    display: inline-block;
    text-align: left;
}

.checkout-step-item.active {
    color: #0097BA;
    font-weight: bold;
    width: 120px;
}

.active .number-item {
    background: #0097BA;
    color: #fff;
}

.checkout-cart-index .action.gotohomepage {
    float: right;
}

.checkout-additional-fields {
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
    padding: 20px 0 0;
}

.checkout-cart-index .page-title {
    margin-bottom: 10px;
}

.checkout-cart-index #discount-coupon-form {
    padding-left: 0;
    display: inline-block;
    padding-top: 0;
}

.checkout-cart-index #webmeridian-cart-totals .lrw-points select,
.checkout-cart-index #block-lrwuserpoints .title:after {
    display: none;
}

.checkout-cart-index .table-wrapper .lrw-rewardpoints th.mark {
    padding: 15px;
}

.checkout-cart-index .lrw-usepoints .lrw-message-warning:before,
.checkout-cart-index #block-lrwuserpoints.active > .title:after,
.checkout-cart-index #webmeridian-cart-totals table.data.table.totals .totals-tax,
.checkout-cart-index #webmeridian-cart-totals table.data.table.totals .totals {
    display: none;
}

.checkout-cart-index table.data.table.totals > tbody > tr > td,
.checkout-cart-index table.data.table.totals > tbody > tr > th,
.checkout-cart-index table.data.table.totals > tfoot > tr > td,
.checkout-cart-index table.data.table.totals > tfoot > tr > th,
.checkout-cart-index table.data.table.totals > thead > tr > td,
.checkout-cart-index table.data.table.totals > thead > tr > th {
    border-top: 0;
    border-bottom: 0;
    background: transparent;
}

.checkout-cart-index .fieldset.lrw-points span > span {
    display: inline;
}

.checkout-cart-index div#webmeridian-cart-totals {
    width: 30%;
    min-width: 220px;
    background: #f5f5f5;
}

.checkout-cart-index #block-lrwuserpoints .title {
    cursor: initial;
    text-align: left;
}

.checkout-cart-index .fieldset.lrw-points .control {
    float: none;
    text-align: left;
    margin: 0 auto;
    width: 100%;
}

.checkout-cart-index strong#block-lrwuserpoints-heading span {
    color: #0097ba;
    font-size: 14px;
}

.checkout-cart-index button#send2,
.checkout-cart-index .primary a.action.create.primary {
    min-width: 310px;
}

.block-content[aria-labelledby="block-new-customer-heading"] ul li {
    margin-bottom: 0;
    list-style: none;
    position: relative;
}

.block-content[aria-labelledby="block-new-customer-heading"] ul li::before {
    content: "✔";
    position: absolute;
    top: 0;
    left: -15px;
    color: rgb(0, 0, 0);
}

.checkout-cart-index .lrw-points select {
    height: 25px;
    line-height: 25px;
    padding: 0;
}

.checkout-cart-index .lrw-slider-input .slider-num {
    height: 17px;
    padding: 0;
    width: 50px;
    font-weight: normal;
    text-align: center;
}

#lrw-slider {
    float: none;
    width: 90%;
    margin: 5px auto 0;
}

.checkout-cart-index .lrw-slider-input {
    text-align: left;
}

.checkout-cart-index .field.password.required {
    margin-bottom: 15px;
}

.checkout-index-index #one-step-checkout-form tr.totals.earn-points td.amount {
    border-bottom: 0 !important;
}

.checkout-cart-index #block-lrwuserpoints {
    margin-bottom: 0;
    border: 0;
    text-align: left;
}

.checkout-cart-index .lrw-usepoints span,
.checkout-cart-index .lrw-usepoints span strong {
    font-weight: normal;
}

.checkout-cart-index tr.lrw-rewardpoints {
    border-bottom: 0;
}

.checkout-cart-index .lrw-points .input-box {
    margin-top: 10px;
    display: none;
}

.checkout-index-index .cart-price .price {
    font-weight: bold;
}

@media all and (max-width: 1199px) {
    .itemcart-list .thead .tr .item {
        width: 53%;
    }

    #checkout-review-load::after {
        top: -0;
    }
}

@media all and (max-width: 1024px) {
    .checkout-cart-index div#webmeridian-cart-totals {
        width: 55%;
    }

    #checkout-review-load::after {
        top: -0;
    }

    .checkout-cart-index .cart-totals .mark strong,
    .checkout-cart-index .cart-totals .grand .amount,
    .checkout-cart-index .cart-totals .grand .mark,
    .checkout-cart-index .cart-totals th {
        font-size: 13px;
        padding-right: 0;
        word-spacing: -1px;
    }

    .checkout-cart-index .cart-summary {
        width: 31%;
        overflow: hidden;
    }

    .checkout-onepage-success .checkout-success {
        max-width: 50%;
    }
}

@media all and (max-width: 992px) {
    .checkout-cart-index .cart-summary {
        width: 31%;
    }

    .itemcart-list .thead .tr .item {
        width: 49%;
    }

    .checkout-cart-index .item-actions {
        right: 10px;
    }

}

@media all and (max-width: 991px) {

    #checkout-review-load::after {
        top: -0;
    }

    .checkout-index-index #one-step-checkout-form .checkout-review-load .data-table {
        margin-bottom: 10px;
    }

    .checkout-index-index .columns.dashboard-holder {
        padding-bottom: 0;
    }
}

@media all and (max-width: 768px) {
    .checkout-cart-index .cart-summary {
        width: 100%;
        float: none;
        order: 2;
    }

    .checkout-index-index div#checkout-review-load {
        margin-bottom: 10px;
    }

    .checkout-cart-index div#webmeridian-cart-totals .table-wrapper {
        margin: 0;
    }

    #webmeridian-cart-totals .table {
        margin-bottom: 0;
    }

    .checkout-cart-index div#webmeridian-cart-totals {
        margin-bottom: 10px;
    }

    .checkout-cart-index .cartForm {
        width: 100%;
    }

    .cart-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        -js-display: flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: column wrap;
    }

    #discount-coupon-form {
        width: 228px;
    }
}

@media all and (max-width: 767px) {

    .checkout-index-index .checkout-additional-fields > li {
        width: 166px;
        text-align: left;
    }

    .checkout-index-index .checkout-additional-fields {
        padding: 20px 0;
    }

    body.checkout-onepage-success {
        background: #fff;
    }

    .checkout-onepage-success .actions-toolbar > .primary:last-child {
        text-align: center;
    }

    .checkout-onepage-success .checkout-success {
        max-width: 90%;
    }

    .checkout-cart-index .itemcart-list .thead .tr .col {
        display: none;
    }

    .checkout-cart-index .item-actions {
        right: 5px;
    }

    .checkout-cart-index .incart-item .product-item-name a {
        width: 60%;
        font-size: 12px;
    }

    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price {
        display: block;
    }

    .checkout-cart-index div#webmeridian-cart-totals {
        width: 65%;
        margin-top: 10px;
    }

    .checkout-cart-index .incart-item .item {
        display: block;
        width: 100%;
        align-items: unset;
        justify-content: unset;
    }

    .checkout-cart-index .incart-item .last-col {
        width: 40%;
    }

    .checkout-cart-index .itemcart-list .thead .tr .item {
        width: 38%;
    }
}

@media all and (max-width: 599px) {
    .checkout-cart-index #block-lrwuserpoints .title {
        margin-bottom: 0;
    }

    .checkout-cart-index .incart-item .product-item-photo {
        width: 60px;
        height: 60px;
    }

    .checkout-cart-index .item-actions .action span.fa {
        font-family: inherit;
    }

    .lrw-usepoints {
        margin-top: 10px;
    }

    .checkout-cart-index .fa-trash-o:before {
        content: "⨯";
    }

    .checkout-cart-index #block-lrwuserpoints .fa.fa-angle-down {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        font-size: 24px;
    }

    .transform-angle {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .checkout-cart-index strong#block-lrwuserpoints-heading span {
        position: relative;
        top: -3px;
    }

    .checkout-cart-index .cart-summary > strong.summary.title {
        display: none;
    }

    #block-lrwuserpoints-heading:before {
        content: url("../images/mobile-cart.png");
        position: relative;
        left: 0;
        width: 23px;
        height: 22px;
    }

    #block-lrwuserpoints-heading {
        display: block;
        margin: 0;
        position: relative;
    }

    .checkout-cart-index #block-lrwuserpoints-summary.visible {
        display: block;
    }

    .checkout-cart-index .incart-item .qty {
        padding: 0;
        width: 70px;
    }

    .checkout-cart-index .incart-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        -js-display: flex;
        display: flex;
        overflow: visible;
    }

    .checkout-cart-index .incart-item .item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        -js-display: flex;
        display: flex;
        align-items: flex-start;
    }

    .checkout-cart-index .item-actions .action {
        width: 40px;
        height: 40px;
    }

    .checkout-cart-index .item-actions .action {
        font-size: 35px;
    }

    .checkout-cart-index .action.gotohomepage {
        float: none;
    }

    .checkout-cart-index div#webmeridian-cart-totals {
        margin-top: 10px;
        border: 1px solid #ececec;
        width: 100%;
    }

    #block-lrwuserpoints-heading {
        cursor: pointer;
    }

    .checkout-cart-index .item-actions {
        top: 15px;
        right: -10px;
    }

    .checkout-cart-index #block-lrwuserpoints-summary {
        display: none;
    }

    .checkout-cart-index .incart-item .product-item-details .ref-numb {
        font-size: 11px;
    }

    #discount-coupon-form {
        width: 100%;
    }

    .checkout-cart-index .itemcart-list .item-box {
        border: 0;
        padding: 0;
        overflow: visible;
    }

    .checkout-cart-index #shopping-cart-table .thead {
        display: none;
    }

    .checkout-cart-index #shopping-cart-table {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        -js-display: flex;
        display: flex;
        flex-direction: column;
    }

    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price:after,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price .price,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax:after,
    .checkout-cart-index .incart-item .last-col .price {
        font-size: 14px;
    }

    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price {
        display: block;
    }

    #form-validate .cart.cart-buttons,
    .checkout-cart-index .action.gotohomepage {
        float: none;
        margin-left: 0;
        margin-right: 0;
        min-width: 195px;
        text-align: center;
    }

    #webmeridian-cart-totals .table-wrapper {
        margin: 0;
    }
}

@media all and (max-width: 500px) {
    .checkout-additional-fields,
    .checkout-cart-index .incart-item .item,
    .checkout-cart-index .incart-item .product-item-name a {
        width: 100%;
    }
}

@media all and (max-width: 499px) {

    .checkout-cart-index .instock strong,
    .checkout-cart-index .incart-item .product-item-details .ref-numb,
    .checkout-cart-index dl.item-options,
    .checkout-cart-index .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price:after,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price .price,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax:after,
    .checkout-cart-index .incart-item .last-col .price,
    .checkout-cart-index .incart-item .product-item-name a {
        font-size: 12px;
    }

    .checkout-cart-index .item-actions .action {
        width: 30px;
        height: 30px;
    }

    .checkout-cart-index .item-actions .action {
        font-size: 28px;
    }
}

@media all and (max-width: 475px) {
    .checkout-cart-index .itemcart-list .thead .tr .subtotal {
        padding: 0;
    }
}

@media all and (max-width: 425px) {
    .checkout-cart-index .itemcart-list .thead .tr .item {
        width: 30%;
        padding-left: 5px;
    }

    .checkout-cart-index #checkout-review-table .osc-as-table-header > div {
        vertical-align: top;
    }

    .checkout-cart-index .wrap-item-che {
        margin-bottom: 15px;
    }

    .checkout-cart-index #checkout-review-table .osc-as-table-header > div:nth-of-type(3) {
        text-align: right;
    }

    .checkout-cart-index .in-stock-available-product > div:nth-of-type(1):before {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        top: -1px;
        left: -1px;
    }

    .checkout-cart-index .incart-item .product-item-name {
        margin-bottom: 0;
    }

    .checkout-cart-index .incart-item .product-item-details .in-stock-available-product > div:nth-of-type(1) {
        line-height: 1.2;
    }

    .checkout-cart-index .price-including-tax,
    .checkout-cart-index .price-excluding-tax {
        font-size: 0;
        line-height: 0;
    }

    .checkout-cart-index .itemcart-list .incart-item .price-including-tax {
        line-height: 0;
    }

    .checkout-cart-index .cart-container {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .checkout-cart-index div#webmeridian-cart-totals {
        width: 100%;
    }

    .checkout-step-item {
        width: 160px;
        padding-right: 0;
        text-align: left;
    }

    .checkout-cart-index .item-actions {
        right: -10px;
        margin-top: -20px;
    }

    .checkout-cart-index .incart-item .last-col {
        padding-left: 0;
        padding-right: 20px;
    }
}

@media all and (max-width: 420px) {
    .checkout-cart-index .cart-buttons .action {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 401px) {
    #checkout-review-load::after {
        top: -0;
    }
}

@media all and (max-width: 375px) {

    .checkout-index-index #checkout-review-table .osc-as-table-header > div {
        vertical-align: top;
    }

    .itemcart-list .thead .tr .qty, #shopping-cart-table .incart-item .qty {
        padding: 0;
        min-width: 54px;
    }

    .checkout-index-index .checkout-additional-fields > li {
        width: auto;
        text-align: left;
        min-width: 130px;
    }

    .checkout-cart-index .incart-item .product-item-name {
        padding-right: 5px;
    }

    .checkout-cart-index .incart-item .product-item-details .in-stock-available-product > div:nth-of-type(1),
    .checkout-cart-index .incart-item .product-item-details .ref-numb,
    .checkout-cart-index dl.item-options,
    .checkout-cart-index .instock strong,
    .checkout-cart-index .instock,
    .checkout-cart-index .itemcart-list .incart-item .price-including-tax:after,
    .checkout-cart-index .itemcart-list .incart-item .price-including-tax .price,
    .checkout-cart-index .itemcart-list .incart-item .price-including-tax,
    .checkout-cart-index .incart-item .product-item-details .ref-numb,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price:after,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax.old-price .price,
    .checkout-cart-index .itemcart-list .incart-item .price-excluding-tax:after,
    .checkout-cart-index .incart-item .last-col .price, .checkout-cart-index .incart-item .product-item-name a {
        font-size: 9px;
        line-height: 11px;
    }

    .instock i.fa {
        font-size: 9px;
        line-height: 1;
        margin: 0;
    }

    .checkout-cart-index .itemcart-list .thead .tr .item {
        width: auto;
    }

    .action.gotohomepage {
        float: none;
        clear: both;
        margin: 15px 5px 5px;
    }

    #form-validate .cart.cart-buttons {
        text-align: center;
    }

    #discount-coupon-form {
        padding-left: 0;
        display: inline-block;
        float: none;
        clear: both;
        width: 100%;
    }

    .checkout-cart-index .incart-item .product-item-photo {
        width: 70px;
        height: 70px;
    }
}

@media all and (max-width: 340px) {
    .checkout-index-index .checkout-additional-fields > li {
        min-width: unset;
    }

}

@media all and (max-width: 320px) {
    .checkout-cart-index .incart-item .product-item-photo {
        width: 40px;
        height: 40px;
        margin-right: 4px;
    }

    .checkout-index-index .one-step-checkout #review_step_header {
        padding: 5px 10px;
    }

    .checkout-index-index .dashboard-holder {
        padding: 0;
    }

    .checkout-additional-fields {
        padding-left: 0;
    }

    #shopping-cart-table .incart-item .qty {
        min-width: 55px;
        padding-left: 0;
    }

    .checkout-cart-index .item-actions {
        right: -20px;
        margin-top: 0;
        top: 0;
    }

    .checkout-cart-index .item-actions .action {
        font-size: 30px;
        width: 30px;
        height: 30px;
    }
}

.checkout-agreement {
    margin-top: 10px;
}

.checkout-agreement input[type="checkbox"] {
    margin-top: 0;
}

.id_checkout-agreements {
    display: none;
}

#id_checkout-agreements {
    text-align: center;
    color: red;
}

.checkout-agreements label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
    display: inline-block;
}

.checkout-agreement label button {
    background-color: unset;
    border: unset;
    text-decoration: underline;
    padding-right: 0;
    font-weight: bold
}
