<?php
$moduleId = 'taxswitch' . rand() . time();
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
$taxtContent = $helperBase->getStoreConfig('comptoir_tax/general/tax_content');
/** @var Anowave\TaxSwitch\Block\Switcher $block */
if (!$block->getHelper()->usePrivateContent()): ?>
    <li data-bind="scope: 'switcher'"><span class="taxswitch-label" data-bind="text: switcher().label"></span></li>
    <li data-bind="scope: 'switcher'">
        <script type="text/x-magento-init">
 		{
            "*":
			{
                "Magento_Ui/js/core/app":
				{
                    "components":
					{
                        "switcher":
						{
                            "component": "Anowave_TaxSwitch/js/switcher",
							"config":
							{
								"endpoint": "<?php echo $block->getUrl('taxswitch/index/index') ?>"
							}
                        }
                    }
                }
            }
        }
		</script>
        <script>
            var bindTrack  = <?php echo $block->getHelper()->getTrack() ?>;
            var bindRender = function()
            {
                return true;
            };
            var bindRenderOptions = function()
            {
                <?php if (false):?>

                <?php
                /**
                 * This is kind of dirty workaround. value: switcher().current doesn't seem to work in Magento 2.1.2
                 */
                ?>
                var select = jQuery('select[name=tax_display]'), current = jQuery(':hidden[name=current]').val(), current_arg = jQuery(':hidden[name=current_arg]').val();

                if (0 < parseInt(current_arg))
                {
                    select.val(current_arg);
                }
                else
                {
                    select.val(current);
                }

                <?php endif ?>

                return this;
            };
            var bindChange = function(target, event)
            {
                if (event.originalEvent)
                {
                    if (true == bindTrack.enable)
                    {
                        /**
                         * Get tax display type
                         */
                        bindTrack.fieldsObject['eventLabel'] = jQuery('select[name=tax_display]').find('option:selected:first').text();

                        if ('ua' == bindTrack.type)
                        {
                            if ('undefined' !== typeof ga)
                            {
                                ga('send', bindTrack.fieldsObject);
                            }
                        }
                        else
                        {
                            if ('undefined' !== typeof dataLayer)
                            {
                                bindTrack.fieldsObject['event'] = 'taxSwitch';

                                /**
                                 * Push event to dataLayer
                                 */
                                dataLayer.push(bindTrack.fieldsObject);
                            }
                        }
                    }

                    jQuery('select[name=tax_display]').parents('form:first').submit();
                }
            };

        </script>
        <div data-bind="text: switcher().select"></div>
        <input type="hidden" name="current" data-bind="value: switcher().current" />
        <input type="hidden" name="current_arg" value="<?php echo (int) @$_GET['tax_display'] ?>" />
        <form method="get">
            <select name="tax_display" class="tax_display_select" data-bind="event: { change: bindChange }, afterRender: bindRender, optionsAfterRender: bindRenderOptions, options: switcher().options, optionsText: 'label', optionsValue: 'value', value: switcher().current"></select>
        </form>
    </li>
<?php elseif(false): ?>
    <?php
    /**
     * This will be deprecated in next version
     */
    ?>
    <li><?php echo __('Show prices') ?></li>
    <li>
        <form method="get">
            <select name="tax_display" class="tax_display_select" onchange="this.form.submit()">
                <?php foreach($block->getOptions() as $option):?>
                    <option value="<?php echo $option['value'] ?>" <?php if ($option['checked']):?>selected<?php endif ?>><?php echo $option['label'] ?></option>
                <?php endforeach?>
            </select>
        </form>
    </li>
<?php else: ?>
    <li><span class="taxswitch-label" data-toggle="modal" data-target="#tabModal<?php echo
        $moduleId ?>"><?php echo __('HT/TTC'); ?></span>
        <div id="tabModal<?php echo $moduleId ?>" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="tabcontent taxswitch-content">
                            <?php echo $taxtContent; ?>
                            <form method="get">
                                <div class="desc-label"><div><?=__('Particulier')?></div><div><?=__('Professionnel')?></div></div>
                                <?php foreach($block->getOptions() as $option):?>
                                    <?php
                                    $label = __('Prix %1',$option['label']);
                                    if($option['value'] === 1) {
                                        $label = __('Prix HT');
                                    } elseif ($option['value'] === 2) {
                                        $label = __('Prix TTC');
                                    }
                                    ?>
                                    <label for="tax_display<?php echo $option['value'] ?>"><input type="radio" name="tax_display" value="<?php echo $option['value'] ?>" id="tax_display<?php echo $option['value'] ?>" onchange="this.form.submit()" /><?php echo $label ?></label>
                                <?php endforeach?>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <?php if(!$helperBase->isTaxChoosed()):?>
        <script>
            require(
                [
                    'jquery',
                    'Magento_Ui/js/modal/modal'
                ],
                function(
                    $,
                    modal
                ) {
                    $('.taxswitch-label').trigger('click');
                }
            );
        </script>
    <?php endif;?>

<?php endif ?>