<!--@subject {{var company_name}} - Purchase order notification {{var po_reference}} @-->

{{template config_path="design/email/header_template"}}
<table style="width: 100%; margin-top: 30px;">
    <tr>
        <td colspan="2" style="border-bottom: 2px solid black;border-top: 2px solid black;">
            <p class="greeting" style="font-size: 28px; font-weight: 600; text-align: center;">{{trans "Bon de Commande"}}</p>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;border-right: 2px solid black; border-bottom: 2px solid black; padding-left: 15px;">
            <p>{{trans "Date: %date" date=$po_created_at |raw}}</p>
        </td>
        <td style="padding-top: 20px; border-bottom: 2px solid black; padding-left: 15px;">
            <p>№ {{var po_reference}}</p>
        </td>
    </tr>
    <tr>
        <td width="50%" style="border-right: 2px solid black; border-bottom: 2px solid black; padding: 20px;">
            <p>{{var delivery_address}}</p>
        </td>
        <td width="50%" style="border-bottom: 2px solid black; padding: 20px;">
            <p>{{var shipping_address}}</p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table width="100%" style="border-bottom: 2px solid;font-size: 10px;">
                <tr style="border-bottom: 2px solid;">
                    <th style="padding: 10px;">
                        {{trans 'SKU'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Description'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Price'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Qty'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Tax'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Subtotal'}}
                    </th>
                    <th style="padding: 10px;">
                        {{trans 'Total'}}
                    </th>
                </tr>
                {{layout handle="email_purchase_order_items" order=$order}}
            </table>
        </td>
    </tr>
    <tr>
        <td width="50%" style="border-bottom: 2px solid;"></td>
        <td width="50%" style="border-bottom: 2px solid;border-left: 2px solid;padding-left: 10px;">
            {{layout handle="email_purchase_order_total" order=$order}}
        </td>
    </tr>
    <tr>
        {{if po_shipping_method}}
        <p style="margin-top: 20px;">{{trans 'Carrier'}}:<span>{{var po_shipping_method}}</span></p>
        {{/if}}
    </tr>
</table>
