<script>

    var productIds = <?php echo $this->getProductIdsJson(); ?>;

    function submitRequest()
    {

        //if no quantity entered
        var hasQuantity = false;
        for(var i=0; i<productIds.length;i++)
        {
            if (document.getElementById('ri_qty_' + productIds[i]).value > 0)
            {
                hasQuantity = true;
                var productName = document.getElementById('product_name_' + productIds[i]).innerHTML;

                if (!document.getElementById('ri_reason_' + productIds[i]).value)
                {
                    alert('Veuillez sélectionner une raison pour ' + productName);
                    return;
                }

                if (!document.getElementById('ri_request_' + productIds[i]).value)
                {
                    alert('Veuillez sélectionner une demande pour ' + productName);
                    return;
                }
            }
        }

        if (!hasQuantity)
        {
            alert('Veuillez sélectionner un produit à retourner');
            return;
        }

        document.getElementById('edit_form').submit();
    }

</script>
<div class="block-title order">
    <strong><?= /* @escapeNotVerified */ __('Produits commandés') ?></strong>
</div>
<form name="edit_form" id="edit_form"  method="POST" action="<?php echo $this->getSubmitUrl(); ?>">
    <input type="hidden" name="order_id" value="<?php echo $this->getOrder()->getId(); ?>">
    <input type="hidden" name="auto_accept" value="<?php echo $this->enablePrintReturn()?1:0; ?>"> 
<div class="order-details-items ordered">
    <div class="table-wrapper order-items">
        <table class="data table table-order-items" id="my-orders-table" summary="Items Ordered">
            <caption class="table-caption">Items</caption>
            <thead>
            <tr>
                <th class="col sku"><?=__("Référence");?></th>
                <th class="col name"><?=__("Product");?></th>
                <th class="col qty"><?=__("Qty");?></th>
                <th class="col qty"><?=__("Raison");?></th>
                <th class="col qty"><?=__("Request");?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->getOrder()->getAllItems() as $item): ?>
                <?php if ($this->canDisplayItem($item)): ?>
                    <tr>
                        <td class="col sku a-center" data-th="SKU"><?php echo $item->getsku(); ?></td>
                        <td class="col name" data-th="Product Name">
                            <strong class="product name product-item-name" id="product_name_<?php echo $item->getId(); ?>"><?php echo $item->getname(); ?></strong>
                        </td>
                        <td class="col sku a-center" data-th="Quantity">
                            <select name="items[<?php echo $item->getId(); ?>][ri_qty]" id="ri_qty_<?php echo $item->getId(); ?>">
                                <?php for($i=0;$i<=$this->getMaxReturnableQty($item);$i++): ?>
                                    <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                <?php endfor; ?>
                            </select>
                        </td>
                        <td class="col sku a-center" data-th="Reason">
                            <select name="items[<?php echo $item->getId(); ?>][ri_reason]" id="ri_reason_<?php echo $item->getId(); ?>">
                                <option></option>
                                <?php foreach($this->getReasons() as $k => $v): ?>
                                    <option value="<?php echo $k; ?>"><?php echo $v; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </td>
                        <td class="col sku a-center" data-th="Request">
                            <select name="items[<?php echo $item->getId(); ?>][ri_request]"  id="ri_request_<?php echo $item->getId(); ?>">
                                <option></option>
                                <?php foreach($this->getRequests() as $k => $v): ?>
                                    <option value="<?php echo $k; ?>"><?php echo $v; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </td>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>

</div>
    <div class="block-title-not-bg">
        <strong><?php echo __('Commentaire'); ?></strong>
    </div>
<textarea name="additional[rma_customer_comments]" id="rma_customer_comments"></textarea>

<div style="float: right">
    <?php if($this->enablePrintReturn()): ?>
        <button type="button" role="print_return_form" title="Print return form" class="action primary add" onclick="document.getElementById('edit_form').submit();"><span><?php echo __('Print return form'); ?></span></button>
    <?php else: ?>
        <button type="button" role="add-address" title="Add New Address" class="action primary add" onclick="submitRequest();"><span><?php echo __('Submit request'); ?></span></button>
    <?php endif; ?>
</div>

</form>