<?php if ($this->getRma()->getrma_status() == \BoostMyShop\Rma\Model\Rma\Status::accepted): ?>
    <div class="message-success success message" data-ui-id="message-success">
        <div><?php echo $this->getAcceptedMessage(); ?></div>
    </div>
<?php endif; ?> 
<?php if($this->getRma()->getData('downloadable')):?>
    <script>
    require(["jquery"], function(jQuery){
        window.location.href = "<?php echo $this->getPrintUrl(); ?>";
    });
    </script>
<?php endif; ?> 
    <div class="block-title order">
        <strong><?php echo __('Details'); ?></strong>
    </div>
<?php if ($this->getRma()->getrma_status() == \BoostMyShop\Rma\Model\Rma\Status::accepted): ?>
    <p>
            <a class="action print"
               href="<?php echo $this->getPrintUrl(); ?>"
               onclick="this.target='_blank';">
                <span>Download return form</span>
            </a>
    </p>
<?php endif; ?>

    <div class="order-details-items ordered">
        <div class="table-wrapper order-items">
            <table class="data table table-order-items" id="my-orders-table" summary="Items Ordered">
                <caption class="table-caption">Items Ordered</caption>
                <thead>
                    <tr>
                        <th class="col sku"><?=__('SKU')?></th>
                        <th class="col name"><?=__('Produit')?></th>
                        <th class="col qty"><?=__('Qty')?></th>
                        <th class="col qty"><?=__('Raison')?></th>
                        <th class="col qty"><?=__('Demande')?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->getRma()->getAllItems() as $item): ?>
                        <tr>
                            <td class="col sku a-center" data-th="Sku"><?php echo $item->getri_sku(); ?></td>
                            <td class="col name" data-th="Product Name">
                                <strong class="product name product-item-name"><?php echo $item->getri_name(); ?></strong>
                            </td>
                            <td class="col sku a-center" data-th="Quantity"><?php echo $item->getri_qty(); ?></td>
                            <td class="col sku a-center" data-th="Reason"><?php echo $this->getReasonLabel($item->getri_reason()); ?></td>
                            <td class="col sku a-center" data-th="Request"><?php echo $this->getRequestLabel($item->getri_request()); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>

    </div>
