<?php
// @codingStandardsIgnoreFile
/** @var \Meridian\Base\Helper\Data $helperBrand */
/** @var \Meridian\CategoryBackground\Helper\Category $helperBackground */
$helperBrand = $this->helper('Meridian\Base\Helper\Data');
$helperBackground = $this->helper('Meridian\CategoryBackground\Helper\Category');
$brandData = $helperBrand->getBrandData($block->getProduct());
$backgroundData = $helperBackground->getCatData($block->getProduct());
?>

<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>
<?php if (!empty($brandData)) { ?>
    <div class="details-brand-logo">
        <a href="<?php echo $brandData['url']; ?>">
            <img src="<?php echo $brandData['ImageUrl']; ?>" alt="<?php echo $brandData['categoryName']; ?>">
        </a>
    </div>
<?php } ?>

<?php if ($backgroundData): ?>
    <script>
        require(['jquery'], function ($) {
            $("body").ready(function ($) {
                $('body').css('background-image', 'url(<?= $backgroundData;?>)');
            });
        });
    </script>
<?php endif; ?>