<?php // Get current product
$block_price = $this->getLayout()->createBlock("\Magento\Tax\Block\Item\Price\Renderer");
/** @var \Meridian\Base\Helper\Data $helperCustom */
$helperCustom = $this->helper('Meridian\Base\Helper\Data');

$currentPirceDisplay = $helperCustom->currentPriceDisplayType();

$_product = $block->getProduct();
//echo $product->getData('demo');
$productType = $_product->getTypeId();
if ($productType == 'configurable') {
    $products = array();
    $allProducts = $_product->getTypeInstance(true)->getUsedProducts($_product);
    foreach ($allProducts as $product) {
        if ($product->isSaleable()) {
            $products[] = $product;
        }
    }
//Load all used configurable attributes
    $configurableAttributeCollection = $_product->getTypeInstance()->getConfigurableAttributes($_product);
    $productsItems = array();
    foreach ($products as $product) {
        $data = array(
            'id' => $product->getId(),
            'sku' => $product->getName(),
            'name' => $product->getSku(),
            'thumbnail' => $product->getThumbnail(),
            'url_key' => $product->getUrlKey(),
            'price' => $product->getPrice(),
            'status' => $product->getStatus(),
            'salable' => $product->getSalable(),
            'product_obj' => $product,
            'priceIncludeTax' => $product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue()

        );
        $productsItems[$product->getId()]['product'] = $data;
        foreach ($configurableAttributeCollection as $attribute) {
            $attrValue = $product->getResource()->getAttribute($attribute->getProductAttribute()->getAttributeCode())->getFrontend();
            $attrCode = $attribute->getProductAttribute()->getAttributeCode();
            $attrLabel = $attribute->getProductAttribute()->getFrontendLabel();
            $value = $attrValue->getValue($product);
            $productsItems[$product->getId()]['attribute'][$attrCode]['label'] = $attrLabel;
            $productsItems[$product->getId()]['attribute'][$attrCode]['code'] = $attrCode;
            $productsItems[$product->getId()]['attribute'][$attrCode]['value'] = $value;
            //print_r($attribute->getProductAttribute()->debug());
        }
    }
   // $priceExcludeTax = $_product->getPriceInfo()->getPrice('final_price')->getAmount()->getValue(); //special_price ,final_price
    ?>
    <div class="modeles-tab-content" id="fullDesc">

        <div class="config-products clearfix">
            <div class="config-info">
                <div class="fake-height sameheight"></div>
                <ul>
                    <?php
                    if (!empty($productsItems)) {
                        foreach ($productsItems as $productsItem) {
                            if (!empty($productsItem['attribute'])) {
                                foreach ($productsItem['attribute'] as $item) {
                                    echo "<li>" . $item['label'] . "</li>";
                                }
                                break;
                            }
                        }
                    }
                    ?>
                </ul>
            </div>
            <div class="config-slider">
                <?php
                if (!empty($productsItems)) {
                    foreach ($productsItems as $productsItem) {
                        if (!empty($productsItem['product'])) {
                            $productItem = $productsItem['product'];
                            $productsItemsAttributes = $productsItem['attribute'];
                           // $_productOption = $helperCustom->getProductDetail($productItem['id']);
                            ?>


                            <div class="config-item">
                                <form data-role="tocart-form"
                                      action="<?php echo $block->getAddToCartUrl($productItem['product_obj']); ?>" method="post">
                                    <?php echo $block->getBlockHtml('formkey')?>
                                    <div class="config-top sameheight">
                                        <div class="config-img">

                                            <div class="img-frame">
                                                <a href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>">

                                                    <img src="<?php echo $block->getBaseUrl() . "pub/media/catalog/product/" . $productItem['thumbnail']; // To avaoid new query
                                                    ?>"
                                                         alt="<?php echo $productItem['name']; ?>"
                                                         title="<?php echo $productItem['name']; ?>"/>

                                                </a>

                                            </div>
                                        </div>
                                        <div class="info-box">
                                            <?php if ($productItem['salable']): ?>
                                                <button type="submit" name="<?php echo __('Add to Cart Top') ?>" title="<?php echo __('Add to Cart') ?>"
                                                        class="action tocart btn-cart">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                            <span class="view"><a
                                                        href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>"><?php echo __('Voir ce modéle') ?></a></span>
                                            <div class="config-item-info">
                                                <span class="ivc-text"><?php echo $productItem['sku']; ?></span>
                                                <span class="config-price">
								    <span class="ht-price"><?php echo $helperCustom->currencyFormate($productItem['price']); ?>
                                        <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                            <?php echo __('Incl. Tax'); ?>
                                        <?php endif; ?>
                                        <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                            <?php echo __('Excl. Tax'); ?>
                                        <?php endif; ?>
                                    </span>
<!--								<span class="rr-price">--><?php //echo $helperCustom->currencyFormate($productItem['priceIncludeTax']); ?><!-- RRC </span>-->
							</span>
                                                <span class="ref-no">Réf. <span>:<?php echo $productItem['sku']; ?></span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="config-detail">
                                        <ul>
                                            <?php foreach ($productsItemsAttributes as $productsItemsAttribute) {
                                                echo "<li>" . $productsItemsAttribute['value'] . "</li>";
                                            } ?>
                                        </ul>
                                    </div>

                                    <div class="config-top bottom">
                                        <div class="config-item-info">
                                            <span class="config-price">
                                                <span class="ht-price">
                                                    <?php echo $helperCustom->currencyFormate($productItem['price']); ?>
                                                    <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                                        <?php echo __('Incl. Tax'); ?>
                                                    <?php endif; ?>
                                                    <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                                        <?php echo __('Excl. Tax'); ?>
                                                    <?php endif; ?>
                                                </span>
<!--                                                <span class="rr-price">--><?php //echo $helperCustom->currencyFormate($productItem['priceIncludeTax']); ?><!-- RRC</span>-->
                                            </span>
                                        </div>


                                        <?php echo $block->getBlockHtml('formkey') ?>
                                        <div class="btn">
                                            <?php if ($productItem['salable']): ?>
                                                <button type="submit" name="<?php echo __('Add to Cart Bottom') ?>" title="<?php echo __('Add to Cart') ?>"
                                                        class="action tocart btn-cart">
                                                    <span><?php echo __('Add to Cart') ?></span>
                                                </button>
                                            <?php endif; ?>
                                        </div>

                                        <span class="view">
                                        <a href="<?php echo $block->getUrl() . $productItem['url_key'] . ".html"; ?>">Voir ce modéle</a>
                                    </span>
                                    </div>
                                </form>
                            </div>
                            <?php
                        }
                    }
                }
                ?>

            </div>
        </div>
        <!-- End config-products -->

    </div>
<?php } ?>