<?php // Get current product
$product = $block->getProduct();
//echo $product->getData('demo');
?>
<iframe id='AV_widget_iframe' src="//cl.avis-verifies.com/fr/cache/9/9/1/9912c5ca-6184-10c4-35cc-9326f2e888c1/widget4/9912c5ca-6184-10c4-35cc-9326f2e888c1horizontal_index.html"></iframe>
<!-- TrustBox widget - Carousel -->
<div class="trustpilot-widget" data-locale="fr-FR" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="59d5ed690000ff0005acda3c" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="3,4,5">
    <a href="https://fr.trustpilot.com/review/comptoirdespros.com" target="_blank">Trustpilot</a>
</div>
<!-- End TrustBox widget -->