<?php 
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
/** @var \Meridian\Base\Helper\Data $helperBase */
$helperBase = $this->helper('Meridian\Base\Helper\Data');
?>
<div class="div_flex1" data-style="display: flex;">
<div class="shortdecs">
    <a href="javascript:void(0)" id="product-full-desc"><i class="fa fa-plus-circle"></i><span><?php echo __('Lire la description') ?></span></a>
</div>

<ul class="shrt-links">
<!--	<li>-->
<!--	<a href="#" data-post='--><!--'-->
<!--        data-role="add-to-links"-->
<!--        class="action tocompare"><i class="fa fa-bar-chart"></i><span>--><!--</span>-->
<!--	</a>-->
<!--	</li>-->
    <?php if($helperBase->isConfigProduct()):?>
    <li><a href="javascript:void(0)" id="compare_models"><i class="fa fa-bar-chart"></i><span><?php echo __('Comparer les %1 modèles',$helperBase->getCountCompareProducts($block->getProduct())) ?></span></a></li>
    <?php endif; ?>
    <?php if(false): ?>
	<li><a href="javascript:void(0)" id="service_maintenance"><i class="fa fa-gear"></i><span><?php echo __('Options service et entretien') ?></span></a></li>
    <?php endif; ?>
</ul>
</div>
