<?php
// @codingStandardsIgnoreFile
$block_price = $this->getLayout()->createBlock("\Magento\Tax\Block\Item\Price\Renderer");
/** @var \Meridian\Base\Helper\Data $helperCustom */
$helperCustom = $this->helper('Meridian\Base\Helper\Data');
//$product = $block->getProduct();

$getUpSellProducts = $helperCustom->getUpSellProducts($block->getProduct());

$currentPirceDisplay = $helperCustom->currentPriceDisplayType();
if(count($getUpSellProducts)):
foreach ($getUpSellProducts as $selections):

    if (isset($selections['is_salable']) && !($selections['is_salable'])) {
        continue;
    }

    $actualPrice = 0;
    $discountPrice = 0;

    if (!empty($selections['attributeSetData']) && count($selections['attributeSetData'])) :
    foreach ($selections['attributeSetData'] as $selection) {

        if (isset($selection['is_salable']) && !($selection['is_salable'])) {
            continue;
        }

        $actualPrice += $selection['price'];
        $discountPrice += $selection['selection_price_value'];
    }
    $discount = round($actualPrice - $discountPrice, 2);

    $optionsItems = $helperCustom->getOptionsItem($selections['id']);
    $options = $optionsItems['options'];
    $_selections = $optionsItems['selections'];
    $_item = $optionsItems['product_item'];

?>
<div class="bundle-product">
    <div class="col-sm-12">
    <?php
    if ($selections['featured']) : ?>
        <div class="offer-package">
            <div class="offer-price">
                <h2>
                    <?php echo __('Achetez ensemble'); ?> <span>& <?php echo __('économisez'); ?></span><span class="price"><?php echo $helperCustom->currencyFormate($discount); ?>
                    </span>
                </h2>
            </div>
            <div class="offer-items">
                <div class="two-item">
                    <?php

                    $iterate = 0;
                    foreach ($selections['attributeSetData'] as $selection) {
                        if (!($selection['is_salable'])) {
                            continue;
                        }

                        $product = $helperCustom->getProductDetail($selection['entity_id']);
                        $qty = $helperCustom->getProductQty($product);
                        if ($qty <= 0) {
                            continue;
                        }

                        if ($iterate) {
                            echo '<span class="plus-sign">+</span>';
                        }
                        $iterate++;
                        $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
                            ->init($product, 'product_small_image')
                            ->setImageFile($product->getFile())
                            ->getUrl();

                        if($product->isVisibleInSiteVisibility()) {
                            $anchor = true;
                        } else {
                            $anchor = false;
                        }
                        ?>
                        <div class="item">
                            <div class="item-img">

                                <?php if($anchor): ?>
                                <a href="<?php echo $product->getProductUrl(); ?>">
                                    <?php endif; ?>

                                    <img src="<?php echo $imageUrl; ?>"
                                         alt="<?php echo $product->getName(); ?>"
                                         title="<?php echo $product->getName(); ?>"/>

                                    <?php if($anchor): ?>
                                </a>
                            <?php endif; ?>

                            </div>
                            <div class="item-name">
                                <span class="item-price">
                                    <?php echo $helperCustom->currencyFormate($selection['selection_price_value']); ?>
                                    <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                        <?php echo __('Incl. Tax'); ?>
                                    <?php endif; ?>
                                    <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                        <?php echo __('Excl. Tax'); ?>
                                    <?php endif; ?>
                                </span>

                                <?php if($anchor): ?>
                                    <a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a>
                                <?php else: ?>
                                    <?php echo $product->getName(); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php
                    }
                    ?>
                </div>
            </div>
            <div class="offer-buy">
                <strong class="price"><?php echo $helperCustom->currencyFormate($discountPrice); ?>
                    <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                        <?php echo __('Incl. Tax'); ?>
                    <?php endif; ?>
                    <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                        <?php echo __('Excl. Tax'); ?>
                    <?php endif; ?>
                </strong>
                <span><?php echo __('Vous eçonomisez:'); ?> <?php echo $helperCustom->currencyFormate($discount); ?>
                </span>
                <form data-role="tocart-form" action="<?php echo $block->getAddToCartUrl($_item); ?>" method="post">
                    <?php echo $block->getBlockHtml('formkey'); ?>
                    <?php
                    foreach ($options as $_option) {
                        ?>
                        <?php foreach ($_selections as $_selection): ?>
                            <?php  if ($_selection->isSaleable()): ?>
                                <?php
                                $qty = $helperCustom->getProductQty($_selection);
                                if ($qty <= 0) {
                                    continue;
                                }
                                ?>
                                <input class="hidden-option" id="bundle-option-<?php /* @escapeNotVerified */
                                echo $_option->getId() ?>-<?php /* @escapeNotVerified */
                                echo $_selection->getSelectionId() ?>"
                                       type="checkbox"
                                    <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':\'input[name^=&quot;bundle_option[' . $_option->getId() . ']&quot;]:checked\'}"' ?>
                                       name="bundle_option[<?php /* @escapeNotVerified */
                                       echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                       echo $_selection->getId() ?>]"
                                       data-selector="bundle_option[<?php /* @escapeNotVerified */
                                       echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                       echo $_selection->getId() ?>]"
                                    <?php echo ' checked="checked"'; //if ($_selection->getIsDefault()) ?>
                                    <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                       value="<?php /* @escapeNotVerified */
                                       echo $_selection->getSelectionId() ?>"/>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        <?php
                    }
                    ?>
                    <button type="submit" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                            class="btn-offer">
                        <?php /* @escapeNotVerified */
                        echo __('Add to Cart'); ?>
                    </button>
                </form>
            </div>
        </div>
    <?php else: ?>
        <div class="related-products">
            <div class="related-products-holder">
                <?php
                $iterate = 0;
                foreach ($selections['attributeSetData'] as $selection) {
                    if (!($selection['is_salable'])) {
                        continue;
                    }
                    $product = $helperCustom->getProductDetail($selection['entity_id']);
                    $qty = $helperCustom->getProductQty($product);
                    if ($qty <= 0) {
                        continue;
                    }
                    ?>
                    <?php
                    if ($iterate) {
                        echo '<span class="plus-sign">+</span>';
                    }
                    $iterate++;
                    $imageUrl = $this->helper('Magento\Catalog\Helper\Image')
                        ->init($product, 'product_small_image')
                        ->setImageFile($product->getFile())
                        ->getUrl();

                    if($product->isVisibleInSiteVisibility()) {
                        $anchor = true;
                    } else {
                        $anchor = false;
                    }
                    ?>
                    <div class="related-item">
                        <div class="item-img">
                            <?php if($anchor): ?>
                            <a href="<?php echo $product->getProductUrl(); ?>">
                                <?php endif; ?>
                                <img src="<?php echo $imageUrl; ?>"
                                     alt="<?php echo $product->getName(); ?>"
                                     title="<?php echo $product->getName(); ?>"/>
                                <?php if($anchor): ?>
                            </a>
                        <?php endif; ?>
                        </div>
                        <div class="item-name">
                            <span class="item-price">
                                <?php //echo round($selection['selection_price_value'], 2); ?>
                                <?php echo $helperCustom->currencyFormate($selection['selection_price_value']); ?>
                                <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                                    <?php echo __('Incl. Tax'); ?>
                                <?php endif; ?>
                                <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                                    <?php echo __('Excl. Tax'); ?>
                                <?php endif; ?>
                             </span>
                            <?php if($anchor): ?>
                                <a href="<?php echo $product->getProductUrl(); ?>"><?php echo $product->getName(); ?></a>
                            <?php else: ?>
                                <?php echo $product->getName(); ?>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php
                }
                ?>
            </div>
            <div class="offerbuy">
                <strong class="price"><?php echo $helperCustom->currencyFormate($discountPrice); ?>
                    <?php if ($currentPirceDisplay == 'INC_TAX'): ?>
                        <?php echo __('Incl. Tax'); ?>
                    <?php endif; ?>
                    <?php if ($currentPirceDisplay == 'EXC_TAX'): ?>
                        <?php echo __('Excl. Tax'); ?>
                    <?php endif; ?>
                </strong>

                <span class="text-data">
                <?php echo __('Vous eçonomisez:'); ?>
                </span>
                <span class="price-data"> <?php echo $helperCustom->currencyFormate($discount); ?>
                </span>
                
                <?php $formUrl = $block->getAddToCartUrl($_item); ?>
                <form data-role="tocart-form" action="<?php echo $block->getAddToCartUrl($_item); ?>" method="post">
                    <?php echo $block->getBlockHtml('formkey'); ?>

                    <?php foreach ($options as $_option) { ?>
                        <?php foreach ($_selections as $_selection): ?>
                            <?php if ($_selection->isSaleable()): ?>
                                <?php
                                $qty = $helperCustom->getProductQty($_selection);
                                if ($qty <= 0) {
                                    continue;
                                }
                                ?>
                                <input class="hidden-option" id="bundle-option-<?php /* @escapeNotVerified */
                                echo $_option->getId() ?>-<?php /* @escapeNotVerified */
                                echo $_selection->getSelectionId() ?>"
                                       type="checkbox"
                                    <?php if ($_option->getRequired()) echo 'data-validate="{\'validate-one-required-by-name\':\'input[name^=&quot;bundle_option[' . $_option->getId() . ']&quot;]:checked\'}"' ?>
                                       name="bundle_option[<?php /* @escapeNotVerified */
                                       echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                       echo $_selection->getId() ?>]"
                                       data-selector="bundle_option[<?php /* @escapeNotVerified */
                                       echo $_option->getId() ?>][<?php /* @escapeNotVerified */
                                       echo $_selection->getId() ?>]"
                                    <?php echo 'checked="checked"'; ?>
                                    <?php if (!$_selection->isSaleable()) echo ' disabled="disabled"' ?>
                                       value="<?php /* @escapeNotVerified */
                                       echo $_selection->getSelectionId() ?>"/>
                            <?php endif; ?>
                        <?php endforeach; ?>
                        <?php
                    }
                    ?>
                    <button type="submit" title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                            class="btn-offer">
                        <?php /* @escapeNotVerified */
                        echo __('Add to Cart'); ?>
                    </button>
                </form>
            </div>
        </div>
    <?php endif; ?>
    <?php endif; ?>
    </div>
</div>
<?php endforeach; ?>
<?php endif; ?>